[2017-02-03 08:59] xlgao-zju opened #3 "Proposal: Add a cli"
I think we can use pkg `github.com/urfave/cli` which is used in `cri-o` too.

The cli can be used when we build CRI-cli.

And how about making the e2e test as a subcommand in CRI-cli? Like `cri test` or something? Or we will build two cli, one for e2e test, the other for CRI-cli?

cc @feiskyer @Random-Liu @yujuhong

[2017-02-03 09:52] feiskyer commented on #3
I think it's ok of making test binary a subcommand.  Alternatively, we can split test to another CLI as proposed:

- crictl: CLI for kubelet CRI.
- critest: validation test suites for kubelet CRI.

[2017-02-03 17:24] xlgao-zju commented on #3
If we split test to another CLI, will it be difficult to support `go get`? Since we will have two `main()`.

[2017-02-04 03:43] feiskyer commented on #3
No, they will be in different packages

[2017-02-04 05:09] xlgao-zju commented on #3
yes, that makes sense.

[2017-02-15 04:48] #3 closed

[2017-02-23 08:29] xlgao-zju opened #4 "Umbrella issues for validation tests"
Here is the list of functionality test, based on https://github.com/kubernetes-incubator/cri-tools/issues/4#issue-209695062 and https://github.com/kubernetes-incubator/cri-tools/issues/4#issuecomment-282947338:
- [x] P0 Basic (Conformance):
  - [x] sandbox: run/stop/remove/list/status #8
  - [x] container: create/start/execSync/remove/status #13
  - [x] image: pull/list/status/remove #9
  - [x] ve

[2017-02-28 02:37] resouer commented on #4
Move discussion to https://github.com/kubernetes-incubator/cri-tools/pull/6

[2017-02-28 03:09] xlgao-zju commented on #4
@resouer Yes, will keep this issue only for tracking PRs about test case.

[2017-02-28 05:37] Random-Liu commented on #4
@feiskyer @resouer @xlgao-zju @Helen-Xie
Here is a document for the CRI function validation test:
https://docs.google.com/document/d/1usdMWxOXvKIQ00UPRYQWNKY4jeL66FpbHnL7dz0m6qc/edit?usp=sharing

Feel free to comment if you have any ideas.

[2017-02-28 07:15] feiskyer commented on #4
@Random-Liu Made an update on the docs. PTAL.

[2017-02-28 09:18] Random-Liu commented on #4
@feiskyer Thanks! Commented on your comment. :)

Also /cc @mrunalp @lucab who are working on other runtime integration.

[2017-03-01 02:41] resouer commented on #4
There's not performance test plan. Although there's already Docker micro benchmark, we still need to a detailed doc like this (thanks landao and feiskyer's work) @xlgao-zju @Helen-Xie

[2017-03-01 04:52] Random-Liu commented on #4
@resouer Thanks! Will wait for your update! :)

[2017-03-03 01:26] Random-Liu commented on #4
Based on https://github.com/kubernetes-incubator/cri-tools/issues/4#issue-209695062 and https://github.com/kubernetes-incubator/cri-tools/issues/4#issuecomment-282947338, here is the list of functionality test:
- [ ] P0 Basic (Conformance):
  - [ ] sandbox: run/stop/remove/list/status
  - [ ] container: create/start/execSync/remove/status
  - [ ] image: pull/list/status/remove
  - [ ] version
  -

[2017-03-03 02:08] yujuhong commented on #4
/cc @mrunalp

[2017-03-03 17:34] mrunalp commented on #4
/cc @runcom

[2017-03-10 06:21] Random-Liu commented on #4
Removed checkbox in https://github.com/kubernetes-incubator/cri-tools/issues/4#issuecomment-283837387 in favor of https://github.com/kubernetes-incubator/cri-tools/issues/4#issue-209695062. :)

[2017-03-13 05:02] xlgao-zju commented on #4
Should we put version test case and status test case into one file called `pkg/validate/runtime_info.go` or something?

cc @feiskyer @Random-Liu

[2017-03-17 08:18] feiskyer opened #16 "critest: container logs"
Assigned to @Helen-Xie

[2017-03-17 08:19] feiskyer opened #17 "critest: DNSOptions, PortMapping and IP"

[2017-03-17 08:19] feiskyer opened #18 "critest: volumes"

[2017-03-17 08:20] feiskyer opened #19 "critest: sandbox security context"
- [ ] NamespaceOption
  - [x] hostPID
  - [ ] hostIPC
  - [ ] hostNetwork

[2017-03-17 08:21] feiskyer opened #20 "critest: container security context"
critest for container security context:

- [ ] NamespaceOption
  - [x] hostPID
  - [ ] hostIPC #82
  - [x] hostNetwork #75
- [x] Priviledged #78
- [ ] Capabilities
- [x] RunAsUser/RunAsUserName #41
- [x] ReadOnlyRootfs

[2017-03-17 08:22] feiskyer opened #21 "critest: streaming interfaces"
critest for streaming interfaces

- [x] exec
- [x] attach
- [ ] portforward

[2017-03-17 08:22] feiskyer opened #22 "critest: resource limits"

[2017-03-17 08:22] feiskyer opened #23 "critest: updateRuntimeConfig"

[2017-03-17 08:23] feiskyer opened #24 "critest: experimental features"
critest for experimental features, including

- [x] apparmor #140
- [x] sysctls #139
- [x] seccomp #137

We should test sysctl, seccomp and apparmor. These tests may not be conformance test, but are required in CRI validation test suite.

From @Random-Liu: Probably just migrate test from node e2e https://github.com/kubernetes/kubernetes/blob/master/test/e2e/node/security_context.go.

note: sysctl/

[2017-03-17 08:38] feiskyer opened #25 "Umbrella issues for benchmark tests"
Umbrella issues for benchmark tests.

- [ ] P0: Parallel Sandbox & containers operation
   - [x] Candidate Operation List (benchmark one operation in one test case):
        - [x] sandbox run #85
        - [x] sandbox status
        - [x] remove sandbox
        - [x] stop sandbox
        - [x] list sandboxes
        - [x] create container #90
        - [x] container status
        - [x] start cont

[2017-03-17 08:59] feiskyer opened #26 "Umbrella issues for crictl"
Umbrella issues for crictl, the CLI for kubelet CRI.

**global options**

[code]

**Sub commands**

- [x] version
- [x] status
- [x] sandbox #40
  - [x] sandbox run config.json|yaml
  - [x] sandbox status sandbox-id
  - [x] sandbox stop sandbox-id
  - [x] sandbox remove sandbox-id
  - [x] sandbox list
- [x] container
  - [x] container create sandbox-id config.json|yaml
  - [x] container start cont

[2017-03-20 02:45] xlgao-zju commented on #26
Should also support `sandbox/container remove config.json|yaml` form?

[2017-03-20 02:48] feiskyer commented on #26
I don't think so. We only pass the id of sandbox/container in removal API.

[2017-03-20 03:12] xlgao-zju commented on #26
What will `--debug` do? Print the response of shim or something like that?

[2017-03-20 04:26] feiskyer commented on #26
yes, `--debug` prints the raw string of requests and response.

[2017-03-20 14:51] mrunalp commented on #26
We can give a pod-id arg to container create, right?

[2017-03-21 02:04] feiskyer commented on #26
Yes, of course.

@mrunalp Could you help to move `ocic` from cri-o to here for a starting point of crictl?

[2017-03-21 02:33] mrunalp commented on #26
@feiskyer Yes, I will have a PR ready in a day or two.

[2017-03-21 02:36] feiskyer commented on #26
@mrunalp Cool 👍

[2017-03-23 09:13] feiskyer opened #31 "Python client of kubelet CRI"
While evaluating cri validation tests, it still hard to write a simple dedicated test quickly. So I wrote a python client of kubelet CRI. It could help when we drafting codes for cri-tools and other runtimes.

The python client could be easily installed by pip.

[code]

A full example of creating a new busybox pod:

[code]

See https://github.com/feiskyer/python-cri for more details.

cc/ @xlgao-z

[2017-03-24 06:32] xlgao-zju commented on #31
I really need this when I develop cri-tools, thanks a lot.

@Helen-Xie I think you will like this.

[2017-03-24 06:49] xlgao-zju opened #32 "critest: devices"

[2017-03-27 10:52] #18 closed

[2017-03-28 07:46] Helen-Xie commented on #31
Yes! Thinks a lot.

[2017-03-30 10:06] feiskyer opened #33 "crictl status"
Add CLI of `crictl status`.

[2017-03-30 10:07] feiskyer opened #34 "crictl sandbox"
Add CLI for `crictl sandbox`, e.g.

[code]

[2017-03-30 10:08] feiskyer opened #35 "crictl container"
Add CLI for `crictl container`, e.g.

[code]

[2017-03-30 10:08] feiskyer opened #36 "crictl image"
Add CLI for `crictl image`, e.g.

[code]

[2017-03-30 10:09] feiskyer opened #37 "crictl exec"
Add CLI for `crictl exec [--sync]`.

[2017-03-30 10:09] feiskyer opened #38 "crictl attach"
Add CLI for `crictl attach`.

[2017-03-30 10:09] feiskyer opened #39 "crictl portforward"
Add CLI for `crictl portforward`.

[2017-03-30 10:12] feiskyer commented on #26
Note: splited tasks into separate small issues. Please claim works there.

[2017-04-05 17:59] #16 closed

[2017-04-06 06:36] xlgao-zju commented on #26
@heartlock As @feiskyer said [here](https://github.com/kubernetes-incubator/cri-tools/issues/26#issuecomment-287676901). We should add `--debug` flag in order to print the responses and the requests.

[2017-04-06 08:54] feiskyer commented on #31
Closing this since it is only a helper.

[2017-04-06 08:54] #31 closed

[2017-04-07 09:26] #17 closed

[2017-04-10 10:25] #34 closed

[2017-04-10 13:39] feiskyer commented on #35
Added by #42.

[2017-04-10 13:39] #35 closed

[2017-04-13 03:57] feiskyer commented on #33
Added in #50.

[2017-04-13 03:57] #33 closed

[2017-04-17 01:56] feiskyer commented on #36
Added in #54.

[2017-04-17 01:56] #36 closed

[2017-04-19 07:57] feiskyer commented on #37
Added via #45.

[2017-04-19 07:57] #37 closed

[2017-04-19 14:34] #38 closed

[2017-04-21 04:17] feiskyer opened #67 "--ginkgo-flags not working as expected"
e.g. to run a single test:

[code]

but critest actually running 21 tests.

[2017-04-21 04:54] xlgao-zju commented on #67
seem the flag only gets the first word. e.g. `critest -g=-focus="stopping container"` will run `stopping pod` and `stopping container` test

[2017-04-21 05:44] feiskyer commented on #19
Closing it. Should be included in #20.

[2017-04-21 05:44] #19 closed

[2017-04-21 06:00] feiskyer opened #68 "critest: SELinuxOptions"
Moving SELinuxOptions test to P2.

[2017-04-21 10:24] xlgao-zju commented on #67
close this in #61

[2017-04-21 10:24] #67 closed

[2017-04-21 11:34] #39 closed

[2017-04-21 11:42] #26 closed

[2017-04-24 13:34] #21 closed

[2017-04-26 12:18] feiskyer commented on #20
Ideas of how to test hostIPC by IPC shared memory

[code]

[2017-04-26 13:31] xlgao-zju commented on #20
@feiskyer Create a memory segment and get the id `98307`. Then create a container with --ipc=host, exec in this container with cmd `ipcs -m`. Finally check if the output contains `98307`.
WDYT?

[2017-04-27 03:01] feiskyer commented on #20
@xlgao-zju LGTM. Both positive and negative cases are required.

[2017-04-27 07:09] #20 closed

[2017-04-27 07:37] feiskyer opened #83 "Travis CI on master failed"
See https://travis-ci.org/kubernetes-incubator/cri-tools/jobs/226291949.

[2017-04-27 07:39] feiskyer commented on #83
Travis is under maintenance, no logs could be seen now.

[2017-04-27 07:41] xlgao-zju commented on #83
I met this issue several times, and all caused by attach test. All in the tip version of golang, and time out of [this line](https://github.com/kubernetes-incubator/cri-tools/blob/master/pkg/validate/streaming.go#L209).

[2017-04-27 07:55] feiskyer commented on #4
All P0 and P1 cases have been done. And thanks to @xlgao-zju @heartlock @Helen-Xie.

[2017-04-27 08:01] xlgao-zju commented on #4
:tada: Also thanks @feiskyer for your reviewing and ideas about the cases.

[2017-05-02 05:06] feiskyer commented on #25
We could do this via https://onsi.github.io/ginkgo/#benchmark-tests

[2017-05-02 05:18] feiskyer commented on #83
The above test is failed because of exec stream timeout.

![1](https://cloud.githubusercontent.com/assets/676637/25604896/d5f10122-2f39-11e7-8f67-e02e4fb09de1.png)

[2017-05-02 05:47] #83 closed

[2017-05-08 01:55] feiskyer opened #88 "crictl: add logs command"

[2017-05-09 05:39] heartlock commented on #88
@feiskyer Please provide more detail description.

[2017-05-09 06:31] feiskyer commented on #88
Same with kubectl logs, e.g. `crictl logs --follow=true containerID`

[2017-05-11 06:07] heartlock commented on #88
Wait for https://github.com/kubernetes/kubernetes/pull/45580

[2017-05-13 14:06] feiskyer commented on #88
@heartlock kubernetes/kubernetes#45580 has been in.

[2017-05-14 05:46] Crazykev opened #93 "[crictl]Plans to support yaml format podsandbox/container spec?"
crictl is designed for CRI general debugging purpose, json format is less easy to read/write for human, is there any plan to support yaml format in run podsandbox or create container related command?

[2017-05-16 08:46] #88 closed

[2017-05-19 04:15] feiskyer commented on #93
Yep, that's the plan (see [here](https://docs.google.com/presentation/d/1VM4Tx85ffYZl_VOnBuxN1VQ-RhiM8PSg0gt_D1mP2-0/edit#slide=id.g2190bd8ede_0_67)). Also we could support output formats, e.g. json and yaml.

[2017-05-24 00:50] feiskyer commented on #4
All remaining P2 items have been in their separate issues, closing this one.

[2017-05-24 00:50] #4 closed

[2017-06-14 02:22] Random-Liu opened #104 "Build is failing now"
@kubernetes-incubator/maintainers-cri-tools

[2017-06-14 02:45] feiskyer commented on #104
This is because go1.7 is not supported any more in vendored kubernetes. Will fix this.

[2017-06-14 03:13] #104 closed

[2017-06-20 22:55] Random-Liu opened #109 "Update CRI version"
We should update CRI version after https://github.com/kubernetes/kubernetes/pull/47818 is merged.

[2017-06-21 02:24] #109 closed

[2017-06-28 00:47] feiskyer opened #112 "Releasing cri-tools v0.1"
We are about to release first version for kubernetes v1.7.

TODOs

- [x] Bump tools version to 0.1.0
- [x] Add release notes
- [x] Add changelog

[2017-06-28 00:48] feiskyer commented on #112
/cc @yujuhong @Random-Liu @mrunalp @xlgao-zju

[2017-06-28 07:36] Random-Liu commented on #112
Cool. Will update the version in cri-containerd to v0.1.0 after the release!

[2017-06-29 02:18] #112 closed

[2017-08-14 03:45] Random-Liu opened #118 "Sysctl/Seccomp/Apparmor test"
We should test sysctl, seccomp and apparmor. These tests may not be conformance test, but are required in CRI validation test suite.

Probably just migrate test from node e2e https://github.com/kubernetes/kubernetes/blob/master/test/e2e/node/security_context.go.

[2017-08-14 05:24] feiskyer commented on #118
note: sysctl/apparmor tests are also not included in node e2e tests.

[2017-08-24 08:55] #93 closed

[2017-09-02 08:01] yanxuean opened #128 "crictl should automate load config file from default path."
crictl should automate load config file from default path  no matter wether it is exist in command line args.
Now even though I has writed config file in /etc/crictl.yaml , I must enter "crictl  --config /etc/crictl.yaml".

@Random-Liu

[2017-09-02 14:05] feiskyer commented on #128
@yanxuean would you like to file a PR for this?

[2017-09-04 00:30] yanxuean commented on #128
@feiskyer   Yes,I would

[2017-09-04 01:44] feiskyer commented on #128
@yanxuean thanks

[2017-09-05 05:18] feiskyer commented on #118
dup of #24, just updated #24 for including comments here.

[2017-09-05 05:18] #118 closed

[2017-09-05 14:10] #128 closed

[2017-09-06 21:32] Random-Liu opened #131 "Test for new CRI features"
We need CRI validation test for new CRI features:

- [x] NoNewPrivilege (May be hard to test) #141
- [x] Mount propagation (easy to test) #142

We should at least add test for 2).

[2017-09-07 00:12] Random-Liu commented on #131
/cc @miaoyq

[2017-09-07 00:44] miaoyq commented on #131
@Random-Liu OK, I will do my best to finish this. : )

[2017-09-07 04:25] Random-Liu commented on #131
@miaoyq I think only do 2) is good enough for now. :)

[2017-09-08 08:55] miaoyq opened #132 "Update CRI version for supporting mount propagation"
Related #131
We should update CRI version for supporting mount propagation.
I tried to update the dependency but always failed.

Maybe I'm not familiar with `godep`, could anyone help to update this please? Thanks!

/cc @Random-Liu @feiskyer

[2017-09-08 17:54] Random-Liu commented on #132
@miaoyq Godep is a pain...

[2017-09-08 22:58] feiskyer commented on #132
@miaoyq Tried to update godep three days ago, but not finished because some repos (e.g. [kubernetes/api](https://github.com/kubernetes/api)) are out of syncing. Not easy to find the matching versions util https://github.com/kubernetes/test-infra/pull/4134 is fixed and those repos are synced again.

[2017-09-08 23:38] Random-Liu commented on #132
@feiskyer Actually we could update, just pick the latest api machinery for now.

[2017-09-08 23:39] feiskyer commented on #132
@Random-Liu maybe have a try? you need also find the correct kubernetes version.

[2017-09-15 06:02] feiskyer commented on #131
@Random-Liu @miaoyq updated descriptions to include a list of todos.

[2017-09-15 22:20] #132 closed

[2017-09-15 22:25] Random-Liu opened #138 "CRI Stats"
Add support for CRI stats in cri-tools. Just query the current container/image stats.

This won't work for now, because there is no container runtime implementing this. However, we're going to implement this in cri-containerd soon.

[2017-09-18 00:54] feiskyer commented on #24
@mikebrow  Are you working on other tests listing here?

[2017-09-18 22:52] mikebrow commented on #24
Not yet. I'll open a WIP PR if I start any new tests and flag you.

[2017-09-19 04:36] feiskyer commented on #24
@mikebrow OK, I will work on sysctls tests first.

[2017-09-20 01:26] Random-Liu commented on #138
Should update Kubernetes version to include the remote client fix https://github.com/kubernetes/kubernetes/commit/14b32888de6403aa38aedc69086c5a3aff7a4ace.

[2017-09-20 02:13] feiskyer commented on #138
@Random-Liu Are you working on this?

[2017-09-20 02:14] feiskyer commented on #131
@miaoyq Are you working on Mount propagation tests?

[2017-09-20 02:26] miaoyq commented on #131
@feiskyer  Yes, have finished the coding, testing now.

[2017-09-20 02:33] feiskyer commented on #131
@miaoyq cool. I will work on NoNewPrivilege.

[2017-09-20 02:35] Random-Liu commented on #138
Nope~

On Sep 19, 2017 7:13 PM, "Pengfei Ni" <notifications@github.com> wrote:

[2017-09-21 00:24] feiskyer commented on #24
testings added, closing this one.

[2017-09-21 00:24] #24 closed

[2017-09-21 09:50] feiskyer commented on #23
Seems only kubenet supports updateRuntimeConfig interface in current releases, other cni plugins just omits this change in dockershim.

I think other runtimes may not support this feature because there is no update interface in CNI.

@Random-Liu @mrunalp @mikebrow @dcbw Any ideas on this?

[2017-09-21 15:35] mikebrow commented on #23
Well we could help these guys out:
https://github.com/containernetworking/cni/issues/89

[2017-09-22 06:50] feiskyer opened #145 "Releasing cri-tools v0.2"
TODO lists:

- [x] Bump version to v0.2 #146
- [x] Release with v0.2 tag with release notes
- [x] Update change log

Draft release notes:

cri-tools v0.2 enhances validation testings, improves crictl UX and also fixes several bugs.  It has also updates container runtime interface (CRI) to kubernetes v1.8.

### CRI validation testing (critest)

- [#127] Adds validation tests for supplemental groups

[2017-09-22 06:51] feiskyer commented on #145
/cc @Random-Liu @mrunalp @mikebrow

[2017-09-22 23:50] Random-Liu commented on #145
@feiskyer We should include this in Kubernetes release note.

[2017-09-23 11:30] feiskyer commented on #131
all done.

[2017-09-23 11:30] #131 closed

[2017-09-25 11:37] feiskyer commented on #145
@Random-Liu Yep, sent a PR here: https://github.com/kubernetes/features/pull/451

[2017-09-29 02:59] #145 closed

[2017-10-04 14:33] baude opened #151 "Should SecurityContext information be in the sandbox config"
In trying to get criod (https://github.com/kubernetes-incubator/cri-o) to pass the cri-tests, I am seeing an issue where criod expects there to be SecurityContext information in the config.

@Random-Liu Is SecurityContext required to be in the config or is it optional? If the latter, i can fix our code.  If the former, I'm happy to provide a PR if you have some default options you want defined.

@

[2017-10-04 14:34] runcom commented on #151
/cc @mrunalp

[2017-10-05 14:33] mrunalp commented on #151
@feiskyer ping

[2017-10-09 00:46] feiskyer commented on #151
@runcom @mrunalp Sorry for the late response (long holiday here). LinuxContainerSecurityContext is optional (it may be nil), but LinuxPodSandboxSecurityContext is always not nil, see [here](https://github.com/kubernetes/kubernetes/blob/6e2249b78406d66e039d5285a12782119f7cf04c/pkg/kubelet/kuberuntime/kuberuntime_sandbox.go#L135-L141) and [here](https://github.com/kubernetes/kubernetes/blob/master/p

[2017-10-09 13:30] baude commented on #151
@feiskyer thanks for the response! closing as such

[2017-10-09 13:30] #151 closed

[2017-10-11 17:34] jhonfcp opened #153 "I have the following problem when I want to use the client for CRI"
transport: dial unix /var/run/dockershim.sock: connect: no such file or directory

any suggest..?

[2017-10-11 20:03] yujuhong commented on #153
You should set the `runtime-endpoint` and `image-endpoint` to wherever your CRI server is running.

[2017-10-11 20:04] yujuhong commented on #138
Do you mean the CLI tool?

[2017-10-11 20:19] jhonfcp commented on #153
But those parameters where I look for them

[2017-10-11 20:34] Random-Liu commented on #138
@yujuhong Yeah

[2017-10-11 23:00] Random-Liu opened #154 "We should use github.com/golang/protobuf/jsonpb instead of golang json package."
Currently if a container exit with exit code 0, when we do `crictl inspect`, there won't be exit code field, because that is omitted https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/v1alpha1/runtime/api.pb.go#L2119.

We should use `github.com/golang/protobuf/jsonpb`, so that we could configure `EmitDefaults` to fix this.

[2017-10-11 23:24] feiskyer commented on #153
@jhonfcp Which version of kubernetes are you running? dockershim.sock only exist after CRI is introduced in kubelet, e.g. v1.6+.

crictl is the command line interface for CRI, but I'm not sure what is crt, where does it comes from?

[2017-10-13 02:13] yanxuean opened #155 "panic when list image that be pulled by digest."
panic: runtime error: index out of range

I can fix it.

Log is below.
[code]

[2017-10-13 02:13] yanxuean commented on #155
/kind bug

[2017-10-13 02:32] yanxuean commented on #155
@feiskyer @Random-Liu
PTAL

[2017-10-13 02:33] feiskyer commented on #155
@yanxuean would you like to file a PR for fixing this?

[2017-10-13 02:59] yanxuean commented on #155
@feiskyer
Yes,  I'm fixing it. :)

[2017-10-13 04:59] Random-Liu commented on #155
I also see this today.

[2017-10-13 05:05] Random-Liu opened #157 "`crictl images` should list all image tags."
Currently we are listing image by id, and only include the first repo tag.

We should organize the information better.

Docker lists all image tags even they have the same id.

[2017-10-13 08:46] yanxuean commented on #157
Do It only need to show? After all crictl already have all image info by client.ListImages.

[2017-10-13 09:18] yanxuean commented on #157
like this ？

[code]

[2017-10-13 23:31] Random-Liu commented on #157
@yanxuean Actually I tried yesterday, docker images doesn't seem to list image pulled by repo digest. Could you verify?

[2017-10-14 00:05] yanxuean commented on #157
ok, i will  try it.  The example as above is from the docker 's office document.

[2017-10-14 01:57] yanxuean commented on #157
1.  one imageID with mutiple repoTag
[code]
2. docker image for image pulled by repoDigest
[code]

[2017-10-14 05:18] resouer opened #159 "Consider do not validate no exist host path is allowed"
We introduced new test to validate "non exist host path is allowed": https://github.com/kubernetes-incubator/cri-tools/pull/148

But I think though it's consistent with Docker, it may not suitable to apply to all runtimes. For example, runV does not allow no-exist host path since user may mis-spelled the host path. (Not sure what's case for cri-o?)

So I would like to make sure if we really think

[2017-10-14 07:08] runcom commented on #159
If I'm not wrong, Docker now disallows mounts when the host path doesn't exists so I'm fine adapting cri-o to that (as it's really a bad thing to mkdir on host in that case). What I'm worried about is kube actually which might rely on this behavior

[2017-10-14 14:29] resouer commented on #159
Can't think of any for now ...

[2017-10-14 16:29] runcom commented on #159
I'll check that cause during cri-o e2e kube testing we needed to create the host path iirc

[2017-10-15 00:17] feiskyer commented on #159
I think kubernetes has already been relying on this. e.g. for network plugins, they will generate network config under `/etc/cni/net.d`, which may be not exist on the nodes.

[2017-10-15 00:31] Random-Liu commented on #159
https://github.com/kubernetes/kubernetes/issues/52318

On Oct 15, 2017 2:17 AM, "Pengfei Ni" <notifications@github.com> wrote:

[2017-10-15 03:36] resouer commented on #159
@Random-Liu Thanks for referring. Let's move discuss there.

But as we have not determined the expected behavior, shouldn't we delete/disable the existing hostPath validation test?

[2017-10-15 06:35] Random-Liu opened #160 "A simple document for CRICTL v1.0"
https://docs.google.com/document/d/1BbohEUHwwodCSVltWXs3nvCazZ7OJ4MwjA_SFBT8GAQ/edit?usp=sharing

Feel free to comment.

[2017-10-16 01:57] feiskyer commented on #160
@Random-Liu thanks for excellent document

[2017-10-16 03:06] feiskyer commented on #159
I'm ok of skipping the test util kubernetes/kubernetes#52318 is defined explicitly.

[2017-10-16 06:29] Random-Liu commented on #159
@resouer Given the API change https://github.com/euank/kubernetes/blob/a0739bf062379ebb9e7a17b3323a0fa208cb8c8a/docs/proposals/volume-hostpath-qualifiers.md, I think we are moving off relying on this. Even though Kubernetes is relying on this today, when HostPath type is `HostPathUnset`.

I'm fine with skipping it given it is a behavior we are planning to move off.

[2017-10-19 01:19] yanxuean opened #162 "support to show digest for imagelist"

[2017-10-19 01:28] #155 closed

[2017-10-19 01:28] #157 closed

[2017-10-19 01:30] feiskyer commented on #160
LGTM in general. @Random-Liu Do you have suggestion of crictl UX? e.g. do we need to rename current subcommands?

[2017-10-19 07:20] resouer commented on #159
Thanks for fix! Closed, we can continue discuss in main repo.

[2017-10-19 07:20] #159 closed

[2017-10-26 01:24] Random-Liu opened #166 "crictl should consume extra debug information from CRI"
We added the verbose option in CRI to make it possible for container runtime to provide more information for debug. kubernetes/kubernetes#53965

`crictl` should properly consume these information in `inspect`, `inspecti`, `inspects` and `info`.

[2017-10-26 09:25] miaoyq commented on #166
I will work on this.

[2017-10-27 07:05] Random-Liu opened #168 "list result should be sorted."
Currently, `ps`, `sandboxes` and `images` result changes everytime.

[2017-10-28 18:20] #162 closed

[2017-10-30 00:50] yanxuean commented on #168
I can help on this.

[2017-10-30 02:12] Random-Liu commented on #168
@yanxuean Sure! Thanks!

[2017-10-30 04:44] Random-Liu opened #169 "crictl logs should share code from kubelet."
Currently, we copy all the code from kubelet.

We should make the code in kubelet to be a CRI log parsing library. And import the library in `crictl`.

[2017-10-30 05:46] yanxuean commented on #169
Do you mean cri-tools/cmd/crictl/logs.go?

[2017-10-30 19:19] Random-Liu commented on #169
Yeah, most of the code there is the same with https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_logs.go

[2017-10-31 00:34] yanxuean commented on #169
I will fix it late.

[2017-11-01 18:26] Random-Liu opened #172 "No created timestamp for image"
We don't have created timestamp for image in CRI, so this will be a difference with `docker images`.

We may not need it, but file an issue here to track this.

[2017-11-02 02:40] miaoyq commented on #166
@Random-Liu @feiskyer  Could we output information for "inspect", "inspecti" and "inspects" only in json or yaml format?

[2017-11-02 04:10] Random-Liu opened #173 "`ps`, `images` and `sandboxes` should always print table name."
Even when there are no items.

[2017-11-02 04:14] Random-Liu commented on #173
Today `crictl --runtime-endpoint=/var/run/cri-containerd.sock ps` will print nothing when there are no containers, which is confusing.

[2017-11-02 06:25] #166 closed

[2017-11-02 06:25] #168 closed

[2017-11-02 19:05] #173 closed

[2017-11-03 02:10] yanxuean opened #177 "logs should not report error when container don't set logpath."
Or indicate the user that the we cann't output logs because the container don't set logpath.
[code]

[2017-11-03 07:02] yanxuean commented on #169
@Random-Liu   help:)
The cri-tools depend on k8s.io/kubernetes/pkg/kubelet/kuberuntime.
The kuberuntime depend on these as below:
[code]
The problem is how do I get the version of k8s.io/apiextensions-apiserver corresponding to k8s.io/kubernetes?

I checked kubernetes/Godeps/Godeps.json, there is not answer.

[2017-11-06 00:31] yanxuean commented on #169
/cc @Random-Liu
The problem is how do I get the version of k8s.io/apiextensions-apiserver corresponding to k8s.io/kubernetes?

[2017-11-06 02:56] feiskyer commented on #169
@yanxuean @Random-Liu We need to make kubelet logs a lib first. Let's make the code in kubelet to be a CRI log parsing library.

[2017-11-06 02:59] yanxuean commented on #169
Agree.  Now we need import kuberuntime. It is too complex.

[2017-11-06 03:01] yanxuean commented on #169
The logs is indepent function.

[2017-11-06 06:13] Random-Liu opened #179 "More flags for `crictl ps`."
- [x] `-a, --all`: Show running containers by default, and with `-a` show all containers.
- [ ] `-s, --size`: Show writable layer size of each container. I don't think we need virtual size now.
- [x] `-l, --latest`: Show latest created container
- [x] `-n, --last int`: Show n last created containers.
- [x] `--no-trunc`: Not truncate id.

[2017-11-06 06:13] Random-Liu commented on #179
And we could consider add similar flags for sandbox.

[2017-11-06 09:56] weiwei04 commented on #179
consider return sorted crictl ps result like docker ps?

[2017-11-06 20:57] Random-Liu commented on #179
@weiwei04 The result is already sorted. https://github.com/kubernetes-incubator/cri-tools/pull/171

[2017-11-07 05:41] Random-Liu opened #180 "crictl sandboxes should include Created timestamp."
Current it's not.

[2017-11-07 06:07] Random-Liu opened #181 "crictl exec prints weird characters"
[code]

This happens to both `cri-containerd` and `dockershim`.

/cc @feiskyer Any idea why this happens?

[2017-11-07 06:12] feiskyer commented on #181
Not sure what's wrong. Are you pressing random keys in exec console?

[2017-11-07 06:13] Random-Liu commented on #181
@feiskyer Nope.

[2017-11-07 06:31] Random-Liu opened #184 "crictl ps should include image tag used by a container."
currently it is not.

[2017-11-07 07:21] miaoyq commented on #184
I will fix this.

[2017-11-07 07:22] #180 closed

[2017-11-07 07:22] Random-Liu commented on #184
@miaoyq Thanks!

[2017-11-07 07:36] Random-Liu opened #185 "`crictl ps` and `crictl sandboxes` should show attempt number."
At least we should have a flag `--attempt` to show the attempt number.
Forked from https://github.com/kubernetes-incubator/cri-tools/pull/174.

[2017-11-08 07:43] #184 closed

[2017-11-08 19:09] #185 closed

[2017-11-10 05:45] #169 closed

[2017-11-10 06:04] #177 closed

[2017-11-28 23:23] Random-Liu commented on #179
- [ ] `--no-trunc`: For `crictl images`.
- [ ] `-l`: For `crictl sandboxes`.
- [ ] `-n`: For `crictl sandboxes`
- [ ] `--no-trunc`: For `crictl sandboxes`.

[2017-11-30 04:16] #138 closed

[2017-12-04 19:49] Random-Liu commented on #154
I think this has been fixed. Close this one.

[2017-12-04 19:49] #154 closed

[2017-12-05 18:02] Random-Liu opened #210 "json to yaml doesn't preserve order."
The generated yaml does not follow the original order. This doesn't seem to be a good user experience.

[2017-12-06 00:35] Random-Liu opened #212 "crictl bash completion."
Something like `source <(crictl completion bash)`

[2017-12-08 03:23] gouyang opened #214 "crictl cannot pull image just by name"
crictl cannot pull image just by name, it need to specify the registry like `docker.io/library/redis:alpine`
[code]

kpod can pull image by name is okay
[code]

[2017-12-08 04:37] feiskyer commented on #214
@gouyang Didn't reproduce the problem. Does cri-o's gRPC api support pulling image without `docker.io/library` prefix?

[2017-12-10 03:13] yanxuean commented on #214
The crictl support to pull image without prefix. Maybe the reason is suffix.

[2017-12-10 17:56] mikebrow opened #215 "Runtime Endpoint configuration consolidation discussion."
Currently kubernetes supports `RUNTIME=remote CONTAINER_RUNTIME_ENDPOINT=/var/run/cri-containerd.sock`, and crictl supports 3 ways to set it.. that are different:

cli option or env variable:
[code]
or:
[code]
where the yaml includes: `runtime-endpoint: /var/run/cri-containerd.sock`

Further there is an optional
[code]

Should we do some consolidation here? Do we need both `CONTAINER_RUNTIME_ENDPO

[2017-12-10 17:59] mikebrow commented on #215
@Random-Liu @mrunalp thoughts?

[2017-12-11 01:58] yanxuean commented on #214
The returned error is not from cri-containerd. The cri-containerd wrap all error, I don't find the error info.
@gouyang  Are you sure that the crictl connected to cri-containerd?
What are their version? Include crictl,cri-containerd.

[2017-12-11 03:14] gouyang commented on #214
crictl, kpod and crio are built from latest source code.

The latest results are:
[code]

There is no registries configured in /etc/crio/crio.conf, should it use `docker.io` by default when no one is set?

[2017-12-11 05:41] yanxuean commented on #214
It should be a issue of crio. The crictl only pass it to runtime. :)

[2017-12-11 05:44] yanxuean commented on #214
For crictl + cri-containerd + containerd
[code]

[2017-12-11 06:59] feiskyer commented on #215
@mikebrow I'm ok with crictl using same env name `CONTAINER_RUNTIME_ENDPOINT` and `CONTAINER_IMAGE_ENDPOINT`.

I think all is ok and clear. critl doesn't support other endpoints besides CRI. And `runtime-endpoint` is short and could be typed easily than others.

[2017-12-11 08:53] miaoyq commented on #210
@Random-Liu
The output of `json/yaml.Unmarshal(data, &interface_object)` is a map, but map is a unordered fields,
so the output of `json/yaml.Marshal(map)` will order by `key`.

If we want to keep the order, we need convert the buffer object to yaml directly, but this conflicts with #154.

[2017-12-11 09:21] miaoyq commented on #210
See: https://github.com/go-yaml/yaml/issues/275#issuecomment-322000292

[2017-12-11 19:12] Random-Liu commented on #214
@gouyang cri-o should support apply default image repository. If you use cri-containerd or dockershim, I believe both of them will work.

[2017-12-12 01:00] Random-Liu commented on #210
@miaoyq Yeah, I think it's fine for now. :)
Just file the issue here so that in the future if we have strong requirement for this, we could come back and discuss/address.

[2017-12-12 01:35] feiskyer commented on #214
Agreed. Let's close this issue since it is actually a cri-o specific problem.

[2017-12-12 01:35] #214 closed

[2017-12-14 03:01] Random-Liu commented on #181
Close by mistake.

[2017-12-14 03:01] #179 closed

[2017-12-23 02:03] nicolaiskogheim commented on #153
I may have the same issue.
I
- built `crictl` from master [1]
- `scp`ed it to my `server:/usr/local/bin`
- ran `kubeadm init`

Output:
[code]
The file/socket `/var/run/dockershim.sock` does not exist.

`crictl` does, obviously, not work by itself either.

[code]

[code]

[1] At the time of writing it's the same as v1.0.0-alpha.0 except changes code of conduct.

-----

Any words of advice would be

[2017-12-23 14:16] nicolaiskogheim commented on #153
How do I know where it is running? What is that server? Is docker-engine a CRI server? Can I create the socket with `crictl`? Should I? Can `crictl` start a CRI server?
I have so many questions. `kubeadm` suddenly requires a working `crictl` to pass preflight, but I cannot find any info to help me debug this. The only thing I know is that the `dockershim` concept comes from `kubectl` (or was is `k

[2017-12-25 02:11] feiskyer commented on #153
@nicolaiskogheim I'm assuming you are using docker runtime with kubelet. The file "/var/run/dockershim.sock" is created by kubelet. So could you verify whether kubelet is started properly?

[2017-12-25 16:09] nicolaiskogheim commented on #153
Yes.

I just install `kubelet`, `kubeadm` and `kubectl` and then run `kubeadm init`. `kubelet` hasn't created that socket after just installing it, but the cluster works fine if I just ignore the kubeadm precheck for cri with `kubeadm init --ignore-preflight-errors cri`. Kubeadm falls back to regular docker stuff and probably uses `/var/run/docker.sock` or something.

This all is very strange to m

[2017-12-26 01:21] feiskyer commented on #153
Where is this from? crictl doesn't requires ocid or ocic

[2017-12-29 03:07] Davidrjx opened #220 "jsonlog package not found"
when installing cri-tools, console reports error below:
cri-tools-0.2/cmd/crictl/logs.go:30:2: cannot find package "github.com/docker/docker/pkg/jsonlog" which already was not accessible.

[2017-12-29 03:16] feiskyer commented on #220
@Davidrjx How did you install cri-tools? You could install it by simply `go get`, e.g.

[code]

[2017-12-29 04:03] Davidrjx commented on #220
@feiskyer hi, paths above seems unavailable

[2017-12-29 04:26] feiskyer commented on #220
@Davidrjx Yep, decencies in Go are all in vendors.

[2017-12-29 04:44] Davidrjx commented on #220
@feiskyer however, doing `go install cri-tools source` just outputs error above as logs.go failed to import jsonlog

[2017-12-29 05:07] Davidrjx commented on #220
actually, i am not very clear about why two instructions not unavailable , still reports can not find package.

[2018-01-04 12:10] lichuqiang opened #221 "Received "malformed HTTP response..." error when performing validation in streaming"
I tried  "critest validation" with docker, most of the cases works well, but all of the three cases in file "streaming.go" got failed:
[code]
And error message in format of:  *"error sending request: Post http://127.0.0.1:10250/cri/attach/1UW_1ko5: malformed HTTP response "\x15\x03\x01\x00\x02\x02\x16"*

OS:
Linux version 4.13.0-1002-gcp (buildd@lgw01-amd64-060) (gcc version 5.4.0 20160609 (Ubuntu

[2018-01-06 03:16] zamnuts commented on #153
CRI is complaining about the lack of the shim sock, which gets checked during `kubeadm init` preflight: `[ERROR CRI]: unable to check if the container runtime at "/var/run/dockershim.sock" is running: exit status 1`. I don't think this is `crictl` because `kubeadm` still complains about it even without crictl installed. FYI, CRI is a kubelet concept which is exposed as a JSON API, crictl/cri-tools

[2018-01-08 06:59] feiskyer commented on #221
@lichuqiang Which version of kubelet and cri-tools are you using?  Their versions should be matched ( see [releases](https://github.com/kubernetes-incubator/cri-tools/releases) for version info)

[2018-01-08 07:02] feiskyer commented on #220
You should first change into cri-tools path first, e.g.

[code]

[2018-01-08 07:08] lichuqiang commented on #221
I got cri-tools with `go get` commend as it suggested in doc, and the tool's version is `critest version 1.0.0-alpha.0`;
I tried the test with current code in master branch of Kubernetes, would try with exactly v1.9 code later.

[2018-01-08 08:58] Davidrjx commented on #220
thanks.later, i will retry and hope it is viable

[2018-01-09 01:16] lichuqiang commented on #221
Same error still exists after trying with v1.9 kubelet.

[2018-01-11 02:02] feiskyer commented on #221
@Random-Liu Did you encounter this problem with cri-containerd?

[2018-01-11 03:42] feiskyer commented on #221
@lichuqiang Verified there is no such problem in my settings. The steps of mine:

[code]

Could you share the details of your steps?

[2018-01-12 01:28] lichuqiang commented on #221
@feiskyer Thanks a lot! I previously started kubelet with params in `local-up`; and it works after I tried to start with options you provided above. Seems the `validation` task was influenced by some params.

[2018-01-12 01:30] lichuqiang commented on #221
Closing the issue since the problem is resolved and it's not a bug :)

[2018-01-12 01:30] #221 closed

[2018-01-17 07:13] feiskyer commented on #220
I'm closing this issue. @Davidrjx Please feel free to reopen if you still have problems.

[2018-01-17 07:13] #220 closed

[2018-01-17 07:16] feiskyer opened #223 "Add validation support for windows containers"
We should add validation support for windows containers, includes

- Fix building for windows
- Validation adjusting for windows containers

cc @JiangtianLi

[2018-01-17 08:29] lcfang opened #224 "some questions about cri-tools"
critest is composed of two components: validation and performance benchmark test suites.
In doc [Container Runtime Interface (CRI) Validation Testing](https://github.com/kubernetes-incubator/cri-tools/blob/master/docs/validation.md), it says

In doc [Container Runtime Interface (CRI) Performance Benchmarking](https://github.com/kubernetes-incubator/cri-tools/blob/master/docs/benchmark.md), it also

[2018-01-17 08:30] lcfang commented on #224
/sig-node

[2018-01-17 08:31] lcfang commented on #224
cc @yujuhong   @dchen1107

[2018-01-17 08:44] lcfang commented on #224
Hi @Random-Liu  @euank @feiskyer @heartlock @mrunalp @xlgao-zju @runcom
I am looking forward of your replying. Thanks.

[2018-01-17 09:16] feiskyer commented on #224
Validation tests, especially conformance tests.

Benchmarking tests could help to benchmark the runtime performance, but there is no standard what performance should runtime reach.

[2018-01-17 09:23] lcfang commented on #224
@feiskyer ,Thanks for your reply.
So , If my product accomplish the validation test, is it means it can be used for the kubernetes?

[2018-01-17 17:13] JiangtianLi commented on #223
Thanks, @feiskyer. Let me know if I can help.

[2018-01-17 18:18] Random-Liu commented on #212
Close this one, since #213 is merged.

[2018-01-17 18:18] #212 closed

[2018-01-17 18:20] Random-Liu commented on #224
That is the eventual goal. However, that is still not the case today. Passing CRI validation test will be the first step for your container runtime. After that, you still need to run all Kubernetes e2e test with your container runtime to make sure it is feature complete for Kubernetes.

[2018-01-18 01:58] lcfang commented on #224
Oh, I think I have get it. Thank you.

[2018-01-19 04:06] lcfang commented on #224
Hi @Random-Liu ,
As you say,

- I wonder if  the cri-tools's eventual goal is be the standard of kubernetes community to verify some cri can be used for kubernetes.

- And if so, we desire to reslize the goal with the cri-tools team as soon as possible as we have some product suit this.

- And the last, we want to know the time or the release when it can be the standard, and what the team's plan i

[2018-01-22 02:19] lcfang commented on #224
sig/node

[2018-01-22 07:26] lichuqiang commented on #224
+1 for what @lcfang said.
We always have a need of verifying if a runtime provided could satisfy the requirement of k8s in our daily development, seems still we could not ensure its usability even if it passes all the existing validation and e2e tests. Thus, very eager to see an official standard to manage the validation.
Also, I found task `graduate crictl to beta` listed in 2018 Sig-node plan, n

[2018-01-22 07:52] feiskyer commented on #224
Thanks for raising the question.

This is true.

We need to stabilize CRI itself before this, while CRI is still under quick evolving (e.g. sig-node is still working on logging, authenticating, versioning and so on).

critest is included.

Also please note that critest is only validating with kubelet localhost. Passing it doesn't ensure the cluster network is working properly. That's why kubernete

[2018-01-22 08:14] lichuqiang commented on #224
@feiskyer Thanks for your reply!

In fact our use case is: we have a brother department that help maintain the docker, and would provide it of new version regularly, so what we concerned about most is if the runtime itself could satisfy the requirement of k8s(mainly CRI). So things like cluster network may not within the scope of concern?

Please correct me if any mis-understanding :)

[2018-01-22 08:30] feiskyer commented on #224
Just FYI. Some runtime upgrades may break networking, e.g. docker v1.12 to v1.13 disables forward.

[2018-01-22 21:36] yujuhong commented on #224
We (sig-node) are aware of the issue, and am in the process of coming up with a testing process for CRI runtimes. The details are TBD, but stay tuned.

Both @Random-Liu and @feiskyer have provided solid suggestions.
 - Use the CRI validation suites (critest) for your development.
 - Keep a regular k8s node e2e suite because 1) it has higher test coverage, and 2) it tests specific use pattern by ku

[2018-01-26 12:26] jreyeshdez opened #228 "CRI log parser improvements"
The function [`parseCRILog`](https://github.com/kubernetes-incubator/cri-tools/blob/bb2c5293bfa6dd5207e1ce3f2d5a32b09f1cc549/pkg/validate/container.go#L431) might have some room to introduce some changes to make it more performance as calling `strings.Fields` only once at the beginning of the method should be more efficient. I think it could even be more efficient if we use `strings.SplitN` as I t

[2018-01-29 07:09] gouyang opened #229 "incorrect image tag after crictl pull"
After pull the image `redis:alpine`, it's actually `redis:latest` shows in `crictl images`.

[code]

[2018-01-29 08:35] feiskyer commented on #229
@gouyang Thanks of reporting the problem. This is indeed a bug in crictl.

[2018-01-29 08:35] feiskyer commented on #229
/assign

[2018-01-29 08:36] feiskyer commented on #229
Filed #230 to fix the problem.

[2018-01-29 08:38] feiskyer commented on #228
@Random-Liu What do you think about this?

[2018-01-29 15:17] feiskyer commented on #229
Fixed by #231

[2018-01-29 15:17] #229 closed

[2018-01-29 18:17] Random-Liu commented on #228
That is util function used in the validation test, and performance shouldn't be a problem there. But feel free to send a PR to improve it. :) Thanks!

[2018-02-06 22:41] mikebrow opened #233 "Split Install / Uninstall into separate commands"
Ran into a desire, over on cri-containerd, to only install crictl in some circumstances vs both crictl and critest. Would rather stay away from roll your own custom builds of the tools. Build is already split up.

https://github.com/containerd/cri-containerd/pull/595

[2018-02-07 03:29] feiskyer commented on #233
Fixed by #234.

[2018-02-07 03:29] #233 closed

[2018-02-07 16:43] runcom opened #235 "cri-tools (at least crictl) should follow kubernetes releases"
Basically, this repo should at least provide branches for supported kube releases like https://github.com/kubernetes/apiserver (you can see it has branches for kube releases supported). Or tags, I don't have any strong opinion but we should align to kubernetes in some way.

@mrunalp PTAL

[2018-02-08 00:46] Random-Liu opened #236 "Upgrade to v1alpha2"
CRI made a breaking change, the version is updated from `v1alpha1` to `v1alpha2`. https://github.com/kubernetes/kubernetes/pull/58973

We should upgrade to v1alpha2 and also needs to mention this in release note.

[2018-02-08 01:49] Random-Liu opened #237 "`CONTAINER` pid namespace CRI validation."
We should add test case for `CONTAINER` pid namespace.

@verb @feiskyer @yujuhong

[2018-02-09 05:12] resouer opened #239 "Right version of cri-tools to use for 1.9.x"
One recent example is #236 actually breaks frakti since it always pull latest version of cri-tools.

Which release should we lock to for 1.9.x tests?

[2018-02-09 06:28] feiskyer commented on #239
v1.0.0-alpha.0 is for kubernetes v1.9

[2018-02-09 06:30] feiskyer commented on #235
+1

Currently, v0.2 is for 1.8 and v1.0.0-alpha.0 for 1.9. We could make them into different branches.

[2018-02-09 07:56] resouer commented on #239
Thanks, issue closed.

[2018-02-09 07:56] #239 closed

[2018-02-12 08:16] feiskyer commented on #236
Has been solved in #238. close the issue.

[2018-02-12 08:56] feiskyer commented on #160
@Random-Liu All done?

[2018-02-12 08:58] feiskyer commented on #235
Release branches created.

[2018-02-12 08:58] #235 closed

[2018-02-13 01:32] Random-Liu opened #241 "Make test run in parallel."
It only takes <30s to run all CRI conformance test if we run them in parallel.

However, most of the image test assume that there are no other tests running at the same time.

We should fix it and make the test run faster.

[2018-02-13 02:27] wanghaoran1988 opened #243 "crictl support stop/rm multiple container/sandboxes"
When I want to stop all the sandbox, I have to stop them one by one in the command line.
stop multiple sandboxes doesn't support now like this:

`sudo crictl --runtime-endpoint /var/run/crio/crio.sock rmp a5ddc4fc8ea1e b4c30bf557c65`

[2018-02-13 14:41] zcalusic commented on #153
I also attempted to copy `crictl` binary manually to a new node, so that `kubeadm` doesn't complain. If it's true that `/var/run/dockershim.sock` is created by kubelet, then the issue at hand is circular dependency:

1) to start kubelet for the first time, kubeadm join must be run (resolves kubelet error: unable to load client CA file /etc/kubernetes/pki/ca.crt: open /etc/kubernetes/pki/ca.crt: no

[2018-02-14 03:59] feiskyer commented on #153
@zcalusic  Seems this is a kubeadm issue. Could you open an issue at https://github.com/kubernetes/kubeadm?

[2018-02-14 09:13] Random-Liu commented on #243
sound good to me. Actually `crictl ps -q | xargs crictl stop` also doesn't work.
@feiskyer

[2018-02-14 09:15] Random-Liu commented on #228
I think we can close this one.

[2018-02-14 09:15] #228 closed

[2018-02-14 15:55] ecarew opened #249 "Ubuntu LTS 16.04 Build Failure: cannot find package "context""
make all, and make crictl both fail when trying to make, and install this package. The issue is that package context is missing. Would like a workaround that doesn't involve installing a new version of go on an LTS Ubuntu.

[2018-02-15 06:22] airforce011 opened #251 "I wonder how to setup it on ubuntu16.04 for kubernetes1.9"
hi,
when i install k8s 1.9 with kubeadm,  i got a warning:

[WARNING FileExisting-crictl]: crictl not found in system path

it is said that installing the app can remove the warning.
So, I would be very grateful if anyone could tell me how to install it on ubuntu for k8s?

[2018-02-17 00:20] Random-Liu commented on #251
[code]
We should document this somewhere.

[2018-02-17 00:21] Random-Liu commented on #249
@ecarew I think your golang version is too old. :(
If you really don't want to install new golang, use a golang container to build the binary.

[2018-02-19 20:41] indrayam opened #254 "I am getting unknown service runtime.v1alpha2.RuntimeService with version 1.0.0-alpha.0"
I am running a Kubernetes cluster on DigitalOcean and GKE.

Using CRI CTL version 1.0.0-alpha.0 gives errors as shown in the attachment:

![image](https://user-images.githubusercontent.com/6824/36396270-274820e0-158b-11e8-8b30-d5c951c9126e.png)

As you can see, I do not seem to get this error with crictl version 0.2.0. Not sure if this is a bug or an issue with my installation.

FYI: I am running

[2018-02-20 18:44] Random-Liu commented on #236
@feiskyer We shouldn't close this. We need to document this before release. And we can only close after that.

[2018-02-20 18:46] Random-Liu commented on #254
@indrayam This is a known issue. CRI has made a breaking change this quarter, and the version is upgraded to v1alpha2.

This means that old crictl won't work with Kubernetes 1.10. We'll document that in the release note.
See https://github.com/kubernetes-incubator/cri-tools/issues/236

We are going to support backward compatibility in CRI after CRI is beta.

[2018-02-20 19:17] indrayam commented on #254
Thanks, @Random-Liu. Good to know.

[2018-02-20 19:22] Random-Liu commented on #254
@indrayam Thanks the reporting this.

I'll close this issue then. :)

[2018-02-20 19:22] #254 closed

[2018-02-21 22:23] #241 closed

[2018-02-26 02:57] #224 closed

[2018-02-26 02:59] feiskyer commented on #153
Closing it since it's actually a kubeadm issue.

[2018-02-26 02:59] #153 closed

[2018-02-26 03:30] feiskyer commented on #251
Also uploaded compiled files in release page: https://github.com/kubernetes-incubator/cri-tools/releases/tag/v1.0.0-alpha.0

[2018-02-26 03:30] #251 closed

[2018-02-26 03:32] feiskyer commented on #249
Yep, Go 1.9 or above is required to build crictl. You could also download crictl from release page https://github.com/kubernetes-incubator/cri-tools/releases/tag/v1.0.0-alpha.0.

[2018-02-26 03:32] #249 closed

[2018-02-26 03:32] feiskyer commented on #249
@ecarew Feel free to reopen it if you still have issues.

[2018-02-26 15:38] adelton opened #259 "getting status of runtime failed: rpc error: code = Unimplemented desc = unknown service runtime.v1alpha2.RuntimeService"
I have `cri-o-1.9.7-2.gita98f9c9.fc27.x86_64` package installed on Fedora with `crio.service` up and running.

I attempt to debug it with `crictl` which I've got with

[code]

Running `crictl`, I get

[code]

[2018-02-27 01:30] feiskyer commented on #259
@adelton Master branch only supports v1.10 now. Could you download crictl from https://github.com/kubernetes-incubator/cri-tools/releases/tag/v1.0.0-alpha.0 or build one from release-1.9 branch?

[2018-02-27 07:30] adelton commented on #259
Building from `release-1.9` branch works, thanks.

Would it make sense to update the matrix at https://github.com/kubernetes-incubator/cri-tools#current-status to make it clearer that master does not work with 1.9, and ideally also mention the existence of the Kubernetes-versioned branches? The line

| 1.9.X | v1.0.0-alpha.0 |

sort of suggest that the latest version of `cri-tools` is usable with

[2018-02-27 07:45] #215 closed

[2018-02-27 07:47] feiskyer commented on #259
@adelton Thanks of advice, will file a PR to address this.

[2018-02-27 09:01] feiskyer commented on #237
@Random-Liu Are you working on this?

[2018-02-27 09:48] Random-Liu commented on #237
Nope :)

On Tue, Feb 27, 2018 at 1:01 AM Pengfei Ni <notifications@github.com> wrote:

[2018-02-28 02:41] #160 closed

[2018-02-28 03:18] #259 closed

[2018-03-01 09:23] adelton opened #263 "crictl exec fails with could not find container"
I have created container (via Kubernetes) and I see it running, I can inspect it, but attempt to exec a process in that container cannot find the container:

[code]

and `crio` logs

[code]

I see the same problem both with `cri-o` and `cri-tools` built from their respective masters

[code]

and with `cri-tools` built from `release-1.9` branch against `cri-o-1.9.1-1.gitb066a83.fc27.x86_64`

[code]

[2018-03-02 05:18] feiskyer commented on #263
@adelton Tried with dockershim, there is no such problem. Could try with full container id `19dbbad284433367b8dd659d14712ab9eea2f06941265affb3d0c3f45fe5c462`?

[2018-03-02 05:18] feiskyer commented on #263
/cc  @mrunalp @runcom

[2018-03-02 07:19] adelton commented on #263
With full container id, things work.

[2018-03-02 07:19] lcfang commented on #263
@adelton can you try to use `docker exec` if your runtime is docker?

[2018-03-02 07:36] adelton commented on #263
I'd expect `docker exec` to work with docker runtime but what I'm testing here is CRI-O runtime.

[2018-03-02 07:46] feiskyer commented on #263
@adelton So it this cri-o problem, seems it doesn't support truncated container id

[2018-03-02 07:52] adelton commented on #263
It's well possible ... but how come `crictl inspect` works with truncated ids just fine?

[2018-03-12 04:45] vasu81in commented on #259
I invoked runtime service from my library to talk to dockershim.sock just like below

func getRuntimeClient(context *cli.Context) error {
	// Set up a connection to the server.
	var err error
	conn, err = getRuntimeClientConnection(context)
	if err != nil {
		return fmt.Errorf("failed to connect: %v", err)
	}
	runtimeClient = pb.NewRuntimeServiceClient(conn)
	return nil
}

and I get the following

[2018-03-12 04:54] feiskyer commented on #259
@adelton Which kubernetes version are you running? CRI v1alpha2 is introduced in v1.10.0-beta.1.

[2018-03-12 12:18] adelton commented on #259
I don't have any Kubernetes running, I just try to use CRI-O via `crictl` (to debug some other issue).

[2018-03-12 19:12] vasu81in commented on #259
@feiskyer I upgraded to v1.10 beta and it worked. Thanks for the help!

[2018-03-12 21:24] Random-Liu commented on #263
@adelton The truncated id support is on the server side. This means that cri-o doesn't support truncated id properly for exec, I guess.

[2018-03-13 08:33] feiskyer commented on #259
@vasu81in Cool 👍

[2018-03-13 17:46] mrunalp commented on #263
@adelton I have created https://github.com/kubernetes-incubator/cri-o/pull/1451 to fix this.

[2018-03-13 18:14] mrunalp commented on #237
@umohnani can work on this.

[2018-03-13 18:15] umohnani8 commented on #237
Yup, will work on this.

[2018-03-14 05:21] feiskyer commented on #263
@mrunalp Cool. Let's close this issue then

[2018-03-14 05:21] #263 closed

[2018-03-14 14:48] adelton opened #265 "crictl images fails with panic: runtime error: slice bounds out of range"
With CRI-O build from its master (712f3b8cf14cbbac298f3ccc020677ac2a65fa75) and `cri-tools` built from its master (a6dd109ef238be53ab9a7a5c4642f8a1d4ba1bd6), running

[code]

passed but

[code]

fails with

[code]

Running

[code]

shows

[code]

[2018-03-14 15:14] adelton commented on #265
I forgot -- the `crictl` was configured with

[code]

and this is on Fedora 27 host.

[2018-03-14 16:16] adelton opened #266 "After crictl create, crictl ps does not show CONTAINER_CREATED container"
I follow https://github.com/kubernetes-incubator/cri-tools/blob/master/docs/crictl.md. I create pod sandbox with `crictl runp` and then I create container with `crictl create`. The document shows

[code]

However, for me `crictl ps` does not show the container, even if with `-a` I can see it:

[code]

Either it's OK that `CONTAINER_CREATED` containers are not listed and then the document should be

[2018-03-14 16:17] adelton commented on #266
This is with `cri-tools` master and CRI-O built from master, with `crictl` configured with

[code]

[2018-03-14 18:03] mrunalp commented on #265
cc: @runcom

[2018-03-14 18:57] runcom commented on #265
Will look, thanks for the report!

[2018-03-14 22:53] mrunalp commented on #265
@adelton One of the PRs that went into cri-o master broke this. This isn't a cri-tools issue.

[2018-03-15 01:48] Random-Liu commented on #266
Yeah we should update the document to reflect the change.
This is working as intended.

[2018-03-15 02:51] feiskyer commented on #265
Even in this case, crictl shouldn't panic itself. Let me file a PR to fix this.

/assign

[2018-03-15 03:02] feiskyer commented on #266
@adelton Would like filing a PR to add documents for this?

[2018-03-15 03:43] #265 closed

[2018-03-15 03:44] Random-Liu commented on #237
@mrunalp @umohnani8 Thanks a lot! :)

I think we can close this one now. :)

[2018-03-15 03:44] #237 closed

[2018-03-15 11:03] adelton commented on #265
Should this somehow be reported to CRI-O as well?

[2018-03-19 08:53] adelton commented on #266
I've filed https://github.com/kubernetes-incubator/cri-tools/pull/270 now.

[2018-03-19 13:56] #266 closed

[2018-03-19 14:03] feiskyer commented on #266
@adelton Thanks, LGTM

[2018-03-26 22:42] Random-Liu opened #275 "Improve exec test."
In https://github.com/kubernetes-incubator/cri-tools/pull/269, we added exec test for `tty=true/false` and `stdin=true/false`.

However, we don't really test different behaviors in those 2 cases. We should do that.

[2018-03-27 02:28] feiskyer commented on #275
+1. We can add this after beta release.

[2018-03-27 09:02] feiskyer commented on #236
v1.0.0-beta.0 released.

[2018-03-27 09:02] #236 closed

[2018-03-27 22:00] Random-Liu opened #277 "Remove "pod sandbox" from crictl command description."
Just pod.

"Pod sandbox" will have special meaning soon in secure pod api.

[2018-03-27 22:06] dchen1107 commented on #277
Thanks for filing the issue.

[2018-03-29 02:28] #277 closed

[2018-03-30 02:02] Random-Liu opened #280 "Add test for RunAsGroup"
https://github.com/kubernetes/kubernetes/commit/b888415ebf0eb97b68c47222f5bca1ed79567bf7#diff-a31c74e5ec30d171eb16f2d9496577fc added `run_as_group` in CRI, we should test it.

[2018-03-30 22:33] Random-Liu opened #281 "Reduce exec usage"
Actually many tests could just let the container output the result, and we can check the container log.

We don't need to exec into the container, e.g. https://github.com/kubernetes-incubator/cri-tools/blob/master/pkg/validate/security_context.go#L338.

[2018-04-02 05:44] #280 closed

[2018-04-03 11:00] vrothberg opened #283 "crictl exec and dockershim only work with synchronous execution"
`crictl exec` only works with dockershim.sock as an endpoint when the `--sync` flag is passed to execute the command synchronously.  Otherwise, we receive the following error:

`execing command in container failed: error sending request: Post http://127.0.0.1:10250/cri/exec/bhY76ttV: malformed HTTP response "\x15\x03\x01\x00\x02\x02\x16" `

- kubelet version: Kubernetes v1.9.6
- crictl version: 1.

[2018-04-03 13:44] feiskyer commented on #283
@vrothberg Just tested with kubelet v1.9.6 and crictl 1.0.0-alpha.0 (downloaded from their releases page), both `exec -s` and `exec -i -t` work ok. Could you explain how do you set your environments?

[2018-04-03 13:44] feiskyer commented on #283
By the way, I'm using docker v1.13.1

[2018-04-04 02:06] Random-Liu commented on #283
This is a known issue. We are discussing a solution at https://github.com/kubernetes/kubernetes/issues/36666#issuecomment-378440458.

We are going to address this in Kubernetes 1.11.

[2018-04-04 03:35] feiskyer commented on #283
@Random-Liu @vrothberg Are you referring running kubelet without `--experimental-dockershim`? Then it won't work.

crictl only talks to `http://127.0.0.1:10250` now and kubelet's dockershim serves at https with authz.

[2018-04-05 07:41] vrothberg commented on #283
Thanks a lot, @feiskyer @Random-Liu, for the info. As it seems to be an issue in dockershim, feel free to close this issue.

[2018-04-08 15:59] igalic opened #285 "crictl create does the wrong thing without erroring out"
when calling crictl with the same thing as the [docs example](https://github.com/kubernetes-incubator/cri-tools/blob/master/docs/crictl.md)

[code]

i'm starting it with the following two json files:

- hello-world-sandbox.json
[code]
- hello-world-pod.json
[code]

(both are validated with `jq` and seem to be valid JSON)

i've added debugging code to vendor/k8s.io/apimachinery/pkg/util/yaml/decode

[2018-04-09 02:03] feiskyer commented on #285
The image `161ead37a166a58910ba61b9b4aa1bafe9ec834ee3a073ec967ce1c092e6805b` doesn't seem valid, runtime should report no such image error on this case.

Which runtime are you using? And what do you mean by saying `without erroring out`?

[2018-04-09 06:31] igalic commented on #285
i'm working on connecting LXD to CRI.

[2018-04-09 07:10] feiskyer commented on #285
The usage of create command is wrong, should be `crictl create POD container-config.[json|yaml] pod-config.[json|yaml]`, while POD is the sandbox id from `crictl runp` command.

[2018-04-09 07:39] kars7e opened #286 "Include ARM build of crictl in releases"
Currently, only 386 and amd64 are available, it would be great if [releases page](https://github.com/kubernetes-incubator/cri-tools/releases) also included arm/arm64 builds for linux.

[2018-04-09 07:48] feiskyer commented on #286
No, let me build one and upload

[2018-04-12 08:22] nitkon opened #287 "Make test-images multiarch"
The "make test-cri" command fails on non-x86 architecture because of the images created from image-test and image-user directory are not multi-arch. If these images are made multi-arch when built and pushed, then it would be easy to test on other non-x86 architectures as well

[2018-04-12 18:27] Random-Liu commented on #287
@nitkon Can we do something like this? https://github.com/kubernetes/kubernetes/blob/master/test/utils/image/manifest.go#L103

[2018-04-13 00:29] Random-Liu commented on #181
I see this again today when `crictl exec` into `calico-node`.

[2018-04-13 00:35] Random-Liu opened #288 "Trap `Ctrl+C`."
`crictl` behavior:
[code]

`docker exec` behavior:
[code]

[2018-04-24 05:47] nitkon commented on #287
Point 2 mentioned above is tracked here as well. [Issue](https://github.com/kubernetes/kubernetes/issues/63057)

[2018-04-27 02:15] feiskyer commented on #287
@Random-Liu Could you help to push the multi-arch images for both pause and busybox?

[2018-04-27 04:33] nitkon commented on #287
@feiskyer : The pause image that is pushed is now multi-arch. See [Issue](https://github.com/kubernetes/kubernetes/issues/63057). Also the busybox image now used in the test-cases is multi-arch. See [PR](https://github.com/kubernetes-incubator/cri-tools/pull/290#event-1590553277).

We need to build the [image-test-*](https://github.com/kubernetes-incubator/cri-tools/tree/master/images/image-test)

[2018-04-27 05:07] feiskyer commented on #287
@nitkon Yep, you are right. Could you update PR #292 to build multi-arch images? [here](https://github.com/kubernetes/kubernetes/blob/master/build/pause/Makefile) is a Makefile reference

[2018-04-27 05:16] nitkon commented on #287
@feiskyer: Yes I will. However, I have noticed that cross built images fail to unpack when pulled. Hence it will still fail on ppc64le arch. Here is the reference [Issue](https://github.com/containerd/containerd/issues/2312)

Solution:
Option 1: Fix the [issue](https://github.com/containerd/containerd/issues/2312)
Option 2: Build the test-images on x86 and on ppc64le(not cross-built, I can provide

[2018-04-28 02:40] feiskyer commented on #287
@nitkon Seems it is a containerd issue?

[2018-04-30 18:54] mrunalp opened #294 "Create a release-1.10 branch"
@Random-Liu @feiskyer @yujuhong wdyt?

cc: @umohnani8

[2018-04-30 23:55] feiskyer commented on #294
Yep definitely. @mrunalp Would you create the branch or let me do it?

[2018-05-01 02:13] mrunalp commented on #294
@feiskyer I tried but I don't have enough right. Could you do it? Thanks!

[2018-05-02 02:50] feiskyer commented on #294
Branch release-1.10 created and #295 created for CI

[2018-05-02 14:18] umohnani8 commented on #294
Awesome, thanks @feiskyer!

[2018-05-03 18:31] Random-Liu opened #297 "Release and versioning"
The current version schema is pretty confusing.

We have branch which follows Kubernetes release `release-1.10`, `release-1.11` etc.

We also have a version `v1.0.0-alpha.0`, `v1.0.0-beta.0` etc.

I think `critest` and `crictl` have different CRI version compatibility requirement:
* `critest` is used to test all CRI features. A new field or slightly behavior change in CRI usually means a new corre

[2018-05-04 12:33] runcom commented on #297
sounds good to me

[2018-05-04 12:34] vrothberg commented on #297
:+1: Highly appreciated!

[2018-05-04 12:36] runcom commented on #297
what's process for graduation though? :thinking:

[2018-05-04 14:36] xlgao-zju commented on #297
Cool! And I'd like to do some contribution in my spare time. 😆

[2018-05-05 20:46] nitkon commented on #287
@feiskyer : This [PR](https://github.com/kubernetes-incubator/cri-tools/pull/300) makes the test images in image-user multi-arch.

Seems like. Hence we will be using fat manifest/manifest list/multi-arch images for test images.

[2018-05-07 02:01] feiskyer commented on #297
+1

[2018-05-07 07:25] Random-Liu commented on #297
Thanks! A lot of things need help. :)

[2018-05-07 07:28] Random-Liu commented on #297
@feiskyer Do you think for the coming version, should it be v1.11.0 or v1.0.0?

[2018-05-07 07:46] feiskyer commented on #297
The version should match CRI version ideally, but CRI version schema is still not clear yet as you said. I also think it's better to follow kubernetes versions, e.g. v1.11.X for kubernetes v1.11.

[2018-05-07 08:50] runcom commented on #297
+1 to follow kube major.minor

[2018-05-07 09:28] wanghaoran1988 opened #304 "crictl logs does not support container name"
When I use crictl logs <container name>, failed with cannot find the container:
[code]
we should support whether using container id or container name.

[2018-05-07 11:15] vrothberg opened #305 "crictl exec: cannot parse command args"
`crictl exec` isn't able to parse arguments of a specified command starting the "-" as they're interpreted as flags of `crictl exec` instead of just passing them to the command.

Version: Tried with latest crictl (i.e., commit 7f1936faf76e).

Reproduce with `crictl exec ID ls -la`
[code]

[2018-05-07 11:54] vrothberg commented on #305
The problem is actually a bit worse: when doing something like `crictl exec ID ls -i`, the command will be executed interactively due to the `-i` argument. I think we need to move away from `urfave/cli`, which doesn't seem to support such use-cases.

[2018-05-07 13:25] vrothberg commented on #305
I have to correct my statement. Vendoring in a more recent version of urfave/cli did the trick, see #306.

[2018-05-07 22:48] mrunalp commented on #297
:+1:

[2018-05-08 02:04] #305 closed

[2018-05-08 05:16] feiskyer commented on #304
This is not supported in CRI, you should use container ID instead.

[2018-05-08 06:31] barleyer commented on #153
[code]

[2018-05-08 06:48] cucushift opened #307 "images retrieve"
hi,folks i have a doubt about `crictl images`,why some local images can only retrieve by `crictl images`,and `docker images` or `atomic images list` can't find them.Don't all imags respect the `OCI Image Format Specification`  ? Is this because of **storage**? thanks a lot.

[2018-05-08 07:02] #287 closed

[2018-05-08 07:06] feiskyer commented on #307
critl get images from CRI. Which runtime are you using? I suspect there's something wrong within the container runtime.

[2018-05-08 07:16] cucushift commented on #307
@feiskyer thanks for respond,my container runtime is cri-o.

[2018-05-08 07:50] cucushift commented on #307
/close

[2018-05-08 07:50] #307 closed

[2018-05-08 11:37] vrothberg commented on #305
@feiskyer Can we add the two patches into the `release-1.10` branch? Soon, we'll update to K8s 1.10, where we need those change for crictl. Is there a specific workflow in the cri-tools project for backports?

[2018-05-08 11:50] feiskyer commented on #305
@vrothberg Could you create a cherry pick PR for release-1.10?

[2018-05-08 11:51] vrothberg commented on #305
Sure. I'll prepare one and ping you there. Thanks for the quick reply!

[2018-05-13 10:16] luxas opened #309 "Add binary uploads for platforms linux/ppc64le & linux/s390x"
The rest of the Kubernetes project releases binaries for these platform so we should add these here as well to be consistent.

@feiskyer @Random-Liu

[2018-05-13 13:49] feiskyer commented on #309
Pending on https://github.com/kubernetes-incubator/cri-tools/pull/303

[2018-05-13 13:50] feiskyer commented on #297
@luxas Yep, the next release is GA and will be versioned as v1.11.0.

[2018-05-14 12:39] vrothberg commented on #283
@Random-Liu We're also facing issues with interactive execution. For instance, `crictl exec -i -t ID /bin/sh` does not work and seemingly "hangs".

Is there any chance, the fixes get backported to K8s 1.10?

[2018-05-16 09:50] nitkon opened #310 "Add push-manifest into all target in the image-user Makefile"

[2018-05-18 02:17] #309 closed

[2018-05-18 10:04] luxas commented on #309
Thanks!

[2018-05-21 23:00] Random-Liu commented on #304
container name can't uniquely identify a container in Kubernetes. As @feiskyer said, you should use container id instead.

[2018-05-22 05:58] #310 closed

[2018-05-22 05:58] feiskyer commented on #294
Branch created.

/close

[2018-05-22 05:58] #294 closed

[2018-05-24 14:47] jessfraz opened #314 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-29 22:47] Random-Liu opened #317 "Add crictl document in k8s.io"
@feiskyer Can we add a crictl document in k8s.io?

The `Monitor, Log, and Debug` session seems to be a good fit to me.

[2018-05-30 11:44] vrothberg opened #318 "crictl logs broken (1.9)"
`crictl logs` yields the following error unconditionally:
[code]

We can reproduce this in each of our deployments and also following the minimal example in the docs. We looked inside the issue and it seems that crictl isn't able to get the container's `logPath` right (it's always left empty). I have tested it with crio 1.9, which is setting the log files accordingly (I can see them in the logs an

[2018-05-30 11:50] vrothberg commented on #318
We gladly jump in to backport things if that would help.

[2018-05-31 21:52] Random-Liu commented on #318
Which fix are you talking about? It seems to be a crio bug to me, which doesn't return LogPath in `ContainerStatus`.

[2018-06-01 05:39] vrothberg commented on #318
@Random-Liu I skimmed the history and saw a few commits related to logs. I am not sure if it's a crio bug as it works with `kubectl logs`.

[2018-06-05 06:59] nitkon commented on #287
@feiskyer @Random-Liu : When are we planning to push all these images?

[2018-06-05 07:33] feiskyer commented on #287
I have no access to the gcr registry.  @Random-Liu Could you help to push those images?

[2018-06-05 07:45] feiskyer commented on #318
@vrothberg Could you show the output of `crictl inspect <container-id>`?

[2018-06-05 08:19] feiskyer commented on #318
By the way, with master branch, logs won't work with current examples. This is because logPath and logDirectory is not set. Opened #321 to reflect recent changes.

[2018-06-05 11:14] vrothberg commented on #318
I took some more time looking into the issue and realized that logs work when using docker, so I begin to doubt my hypothesis that it's a crictl issue.

@feiskyer Below are the logs (when using CRI-O). The `logPath` is clearly empty which explains the error, but I am not sure why:
[code]

[2018-06-05 14:50] vrothberg commented on #318
Closing the issue as it turns out to be a crio issue: https://github.com/kubernetes-incubator/cri-o/pull/1591#issuecomment-394734679

[2018-06-05 14:50] #318 closed

[2018-06-05 22:13] chuckha opened #322 "Provide sha256 of release files"
sig-cluster-lifecycle is [planning on packaging `crictl` with our deb/rpm packages](https://github.com/kubernetes/kubeadm/issues/811) which requires us to add it to the kubernetes bazel [WORKSPACE](https://github.com/kubernetes/kubernetes/blob/master/build/root/WORKSPACE) using the http_file rule. It's an optional parameter but it's nice to have!

[2018-06-06 01:35] Random-Liu commented on #322
@chuckha Sure.

@feiskyer Let's update the release script to output sha256, and add it in release note?

[2018-06-06 03:11] feiskyer commented on #322
Sure

[2018-06-06 15:02] chuckha opened #324 "consider using underscores instead of dashes in version number"
In the process of building an RPM for crictl I ran into an issue using the version number `1.0.0-beta.1` because of the dash.

[ref]: http://ftp.rpm.org/max-rpm/ch-rpm-file-format.html

I'm replacing the `-` with an underscore for now when writing out the version file and hope to not use beta releases in the future so I don't think it will be a huge deal to have a slight mismatch between the rpm/d

[2018-06-07 02:11] feiskyer commented on #322
Created PR #323 and also updated sha256 for v1.0.0-beta.1

[2018-06-07 07:01] #314 closed

[2018-06-07 13:59] chuckha commented on #322
Thank you so much!

[2018-06-07 13:59] #322 closed

[2018-06-11 09:03] feiskyer commented on #324
@chuckha The version format is following kubenretes. Have you also built versions for kubernetes (e.g. v1.11.0-beta.2) with the same issue?

[2018-06-11 09:04] feiskyer commented on #304
/close

[2018-06-11 09:04] #304 closed

[2018-06-11 09:05] feiskyer commented on #285
@igalic I'm closing the issue since it's actually a wrong usage.

Feel free to reopen it if you still have issues.

/close

[2018-06-11 09:06] #285 closed

[2018-06-11 09:07] feiskyer commented on #283
Fixed in https://github.com/kubernetes/kubernetes/pull/64006, which should be included in v1.11.

@Random-Liu Do you have any plan of porting this to v1.10?

[2018-06-13 17:19] chuckha commented on #324
I'm looking into how kubernetes rpms deal with the `-` say in `rc`s or `beta`s. I think the problem is that it looks like v1.0.0-beta.1 is going to be the release that works with k8s 1.11. Since v1.0.0-beta.0 tracks 1.10.

I would have expected something like v1.0 => 1.9; 1.1 => 1.10 etc, not beta releases.

It's ok though, the result is a minor mismatch of package names/versions.

Is 1.0.0 going

[2018-06-14 01:56] feiskyer commented on #324
v1.11.0 will be versioned together with k8s 1.11. (refer https://github.com/kubernetes-incubator/cri-tools/issues/297)

[2018-06-14 03:03] chuckha commented on #324
ah ok, thank you !

[2018-06-14 03:03] #324 closed

[2018-06-15 02:08] feiskyer commented on #317
PR #8880 merged.

[2018-06-15 02:08] #317 closed

[2018-06-15 10:17] NeilW opened #326 "crictl fails to pull k8s.gcr.io/coredns:1.1.3"
$ crictl --version
crictl version 1.0.0-beta.1

The `k8s.gcr.io/coredns:1.1.3` image fails to pull

[code]

The image on docker is fine
[code]

And crictl can pull the docker version of core-dns ok too

[code]

[2018-06-15 10:29] #326 closed

[2018-06-15 22:42] jberkus commented on #297
is there any possibility of getting the next version released *ahead* of Kubernetes 1.11?  This would really help with testing, etc.

[2018-06-18 13:32] chuckha commented on #288
This seems like a pretty involved ticket. I was reading up on how `kubectl exec` does this and it sets up and manages its own ptys. It [captures interrupts](https://github.com/kubernetes/kubernetes/blob/6d3f5b75f56323888701da27a48bc4c0f52ab106/pkg/kubectl/util/term/term.go#L103), but does [depend on the docker library](https://github.com/kubernetes/kubernetes/blob/6d3f5b75f56323888701da27a48bc4c0f

[2018-06-19 03:04] #297 closed

[2018-06-20 06:20] yadavkkumar opened #328 "crictl stats not giving kata containers resource usage."
## What happened?

Trying to get container resource usage using `crictl stats` but it is fetching resource usage of runc containers but not of kata containers.

## What you expected to happen?
Like `crictl ps` and `crictl pods` gives list of all the containers (both runc and kata-containers) and pods, similarly `crictl stats` should give resource usage of all the containers.

## Versions

**kubead

[2018-06-20 08:46] feiskyer commented on #328
@yadavkkumar crictl gets stats by `ListContainerStats()`. Has the interface been implemented in kata containers?

[2018-06-20 09:05] thomaslees opened #329 "make install error"
## What happened?
Followed the steps in https://github.com/kubernetes-incubator/cri-o/blob/master/tutorial.md
Tried to install cri-tools from source

`go get github.com/kubernetes-incubator/cri-tools/cmd/crictl`
`cd $GOPATH/src/github.com/kubernetes-incubator/cri-tools`
`make`
CGO_ENABLED=0 go test -c \
	github.com/kubernetes-incubator/cri-tools/cmd/critest \
	-o /home/tcs/GoWork/CRIProject/bin/cr

[2018-06-21 03:29] thomaslees commented on #329
The issue seems to be caused by the existing GOPATH.

[code]

[code]

The installation happens in the existing GOPATH.

[code]

Fails because there is no file in the expected path.

It seems Makefile checks for the existing GOPATH in the following line and sets it only if it is not present.

ifeq ($(GOPATH),)
export GOPATH := $(CURDIR)/_output
unexport GOBIN
endif

Therefore we should unset the ex

[2018-06-21 03:31] #329 closed

[2018-06-21 06:39] yadavkkumar commented on #328
@feiskyer
The `ListContainerStats()` interface is implemented in crictl. But there is no interface like `ListContainerStats()` in runc and kata-containers. Can you tell me why we need this interface in runc and kata-containers.
We have this `crictl ps` command which implements ListContainers() and gives all the container running in runc and kata-runtime. Similarly why `crictl stats` is giving only

[2018-06-21 08:38] feiskyer commented on #328
@yadavkkumar Oh, sorry, you are using cri-o, `ListContainerStats()` should be implemented within cri-o.

@runcom Seems container stats only support runc runtime within cri-o?

cc @@gnawux (kata containers maintainer)

[2018-06-21 08:49] runcom commented on #328
@feiskyer @yadavkkumar we're still relying on cadvisor for that and haven't yet implemented it. We're working on it though

[2018-06-21 09:13] yadavkkumar commented on #328
@feiskyer @runcom  Thanks

[2018-06-21 14:52] luxas opened #330 "Why isn't critest bundled in the release downloads?"
Just curious, as it seems strange this repo is building two cmds, but only shipping one.
Intentional or not?

@feiskyer @Random-Liu

[2018-06-21 15:19] luxas opened #331 "Moving this repo to kubernetes-sigs"
The incubator is deprecated, and AFAIU folks should move stuff to github.com/kubernetes-sigs/ if applicable and the SIG agrees. When thinking about the recently released GA version of this project I think that would make a lot of sense.

WDYT? Can you talk about this in a SIG Node call?
cc @feiskyer @Random-Liu @derekwaynecarr @dchen1107 @vishh

[2018-06-21 15:20] chuckha commented on #330
The release ships both: https://github.com/kubernetes-incubator/cri-tools/releases/download/v1.11.0/crictl-v1.11.0-linux-amd64.tar.gz and https://github.com/kubernetes-incubator/cri-tools/releases/download/v1.11.0/critest-v1.11.0-linux-amd64.tar.gz

Unless you're asking why they aren't sipped in the same tarball and maybe call it cri-tools?

[2018-06-21 16:02] luxas commented on #330
Exactly that was my point. Apparently I'm blind though, as I didn't even see https://github.com/kubernetes-incubator/cri-tools/releases/download/v1.11.0/critest-v1.11.0-linux-amd64.tar.gz :joy:

[2018-06-21 16:50] dchen1107 commented on #331
IMHO, it is totally making sense to move this to kubernetes-sigs. We can discuss this at SIG Node call.

[2018-06-21 16:52] Random-Liu commented on #331
+1 about moving this to kubernetes-sigs.

[2018-06-21 16:54] runcom commented on #331
+1 /cc @mrunalp

[2018-06-21 16:55] Random-Liu commented on #331
Added this to signode weekly meeting agenda next week.

[2018-06-21 17:00] mrunalp commented on #331
:+1:

[2018-06-22 02:43] feiskyer commented on #331
👍

[2018-06-22 02:47] feiskyer commented on #330
There're not bundled together because crictl supports more platforms today. It's more clear of separating them with different tarballs.

[2018-06-26 17:43] mikebrow opened #334 "UI options should be more explanatory/consistent"
While using crictl @estesp reported a nit with the UI.. particularly that it would be nice if we told users POD-ID was needed. As is it says POD, which is confusing.

We should also make the use of ID in the option text more consistent throughout the UI.

[2018-07-04 12:55] vrothberg opened #335 "crictl-exec: arg-parsing bug"
`urfave/cli` has a bug in how short-options are parsed. The problem is that the parser does not only transform the program's options (e.g., `-abc` -> `-a -b -c`) but also undefined ones and even arguments (see a description here https://github.com/projectatomic/libpod/issues/714). For Podman, we are currently vendoring a patched version from `github.com/vrothberg/cli` (see https://github.com/proje

[2018-07-04 14:39] hmtai opened #336 "crictl can't pull images with proxy"
when I pull an image with crictl, like
[code]
There was an error:
[code]
crictl version info:
[code]
I have already exported http_proxy on my machine, and other commands like wget, curl works well, ctr also woks well, like:
[code]

[2018-07-05 01:39] feiskyer commented on #335
@vrothberg thanks for reporting the bug. Is there any issues or PRs on urfave/cli for tracking the issue?

[2018-07-05 05:47] vrothberg commented on #335
@feiskyer Sorry, I entirely missed posting the PR for urfave/cli as well: https://github.com/urfave/cli/pull/758

[2018-07-05 13:40] feiskyer commented on #335
@vrothberg thanks

[2018-07-05 17:39] nitkon commented on #287
@feiskyer: I realize that you do not have the access to the gcr repo. How do we get this done then before any other changes break my PRs?  @Random-Liu could you help?

[2018-07-06 11:17] gianarb opened #337 "binary distribution"
Hello!

I can do this task if somebody can point me to the right place but I would like to have a way to download just a set of binaries. This will make the installation process easy.

[2018-07-06 11:18] gianarb commented on #337
Oh my bad! you have them https://github.com/kubernetes-incubator/cri-tools/blob/master/docs/crictl.md
Thanks

[2018-07-06 11:18] #337 closed

[2018-07-06 23:53] Random-Liu commented on #336
`ctr` does use golang `HTTP_PROXY`. https://github.com/containerd/containerd/blob/master/cmd/ctr/commands/resolver.go#L88

For crictl we can't support it on the client side, because CRI doesn't have a proxy parameter. However, we can support `containerd` daemon level `HTTP_PROXY` config.

I'll do it.

[2018-07-07 07:06] Random-Liu commented on #288
@chuckha I think it is fine to use a docker library. :) Would you like to send out a PR?

BTW, this can cause exec process leakage.

[2018-07-08 01:01] feiskyer commented on #336
Agreed. crictl doesn't need proxy because it only talks to local runtime's unix socket while the image is actually pulled in runtimes.

[2018-07-09 01:06] hmtai commented on #336
@Random-Liu Thanks a lot:)

[2018-07-10 17:08] derekwaynecarr commented on #331
Discussed during SIG Node call on 7/10 call, I agree this should move under kubernetes-sigs org.

[2018-07-11 03:33] feiskyer commented on #331
@derekwaynecarr Would you help to move this and invite owners to kubernetes-sigs org?

[2018-07-11 08:54] Random-Liu commented on #336
Close.

[2018-07-11 08:54] #336 closed

[2018-07-12 21:36] #181 closed

[2018-07-12 21:36] #288 closed

[2018-07-13 17:46] Random-Liu opened #353 "`crictl --version` returns 1.11.0 for v1.11.1."
Because the cherrypick of https://github.com/kubernetes-incubator/cri-tools/pull/339 was missed in v1.11.1, the version number is not updated properly.

We've cherrypicked https://github.com/kubernetes-incubator/cri-tools/pull/339 to v1.11.2 to fix this problem in the future, but it still worth filing this issue, so that users who hit this problem can find a reason here.

[2018-07-13 17:47] Random-Liu commented on #353
I'll close this issue when 1.11.2 is cut.

[2018-07-15 12:48] JonasT opened #355 "README lacks install instructions"
The README lacks install instructions (unless I am too stupid to find them, which may be the case). Please add them!

[2018-07-17 05:37] hmtai opened #356 "crictl rpc error: code = Unimplemented desc = unknown service runtime.v1alpha2.RuntimeService"
When I use crictl,it can not work on my environment.
[code]
My environment info:
[code]
[code]
[code]
[code]

[2018-07-17 05:53] feiskyer commented on #356
Seems CRI v1alpha2 is not supported in conatinerd v1.1.0. Maybe upgrade it to a new version?

/cc @Random-Liu

[2018-07-17 05:53] feiskyer commented on #353
/assign @Random-Liu

[2018-07-17 05:54] feiskyer commented on #355
The install instructions are included in [Documentation](https://github.com/kubernetes-incubator/cri-tools#documentation). The first step of CLI is installation.

[2018-07-17 07:53] hmtai commented on #356
All of the binaries are `make` by myself through repos,may be I confused the containerd and cri version.When I download cri-containerd from release tarball and install on redhat:
[code]
crictl can work now.
Thanks:)

[2018-07-17 08:45] feiskyer commented on #356
@hmtai  Cool!

@Random-Liu may give more details of building containerd.

[2018-07-18 01:38] hmtai commented on #356
Yes,the contaienrd and crictl version  does not match.

[2018-07-18 02:34] feiskyer commented on #355
Reasonable. Let me add one in the readme.

[2018-07-20 17:39] #355 closed

[2018-07-24 07:08] miaoshixuan opened #358 "crictl should add command for importing images from file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I run kubernetes with containerd as container runtime and all node could not access network to pull images. It should be possible to load images for file just like docker

[2018-07-24 08:56] feiskyer commented on #358
crictl only talks CRI, while import images from a file is not part of CRI. If the runtime itself supports this, you can use that for your cases.

[2018-07-25 02:59] miaoshixuan commented on #358
got it ,thanks

[2018-07-25 02:59] #358 closed

[2018-07-26 06:42] nitkon opened #359 "ppc64le: cri tests fail on Power as the test images are not multi-arch"
We need to push the test multi-arch images so that cri test does not fail.
Reference: https://github.com/kubernetes-incubator/cri-tools/issues/287

[2018-07-26 06:43] nitkon commented on #359
/cc @Random-Liu @feiskyer

[2018-07-26 08:33] feiskyer commented on #359
@nitkon I thought we have done it for ppc64le.

@Random-Liu Could you help to build and push these images?

[2018-08-02 10:39] yanxuean opened #360 "display 13 characters for imageid in "crictl ps""
We should display concise imageid in "crictl ps" command.  keeping consistent with "crictl images".
@Random-Liu @feiskyer
[code]

[code]

[2018-08-03 15:38] dionysius opened #362 "A Command for CRI Method ImageFsInfo(...)"
Hey all. First, thank you for the crictl tool, it's very cool to use.

I just stumbled on the fact, that crictl has no command to read the CRI Method ImageFsInfo(...).

[2018-08-08 15:51] nitkon commented on #359
Ping.

[2018-08-08 23:53] yujuhong opened #364 "Add testing for crictl"
The crictl command-line tool is used by components such as kubeadm, and is also shipped by default on the Kubernetes nodes in GCE.

We should have testing for it to catch bugs. One option is to add a fake runtime implementation. Any thoughts/suggestions?

(We can also include a crictl test in kubernetes, but the turn-around time for bug fix would be long...)

/cc @Random-Liu

[2018-08-09 01:11] yujuhong opened #365 "crictl: add documentation mapping common docker commands to crictl commands"
This would be valuable to help users transition from docker CLI to crictl.

[2018-08-09 02:17] feiskyer commented on #364
+1, I think we can use dockershim to test crictl, which is also used for critest

[2018-08-09 02:26] feiskyer commented on #364
nop, test functionality of crictl itself, e.g. the expected output of each commands.

[2018-08-09 02:34] xlgao-zju commented on #364
I mean maybe we can use the `ginkgo` framework in the test of crictl too?

[2018-08-09 10:06] lifubang opened #366 "help, runp get some errors."
root@iZ2ze8rkx46zyx6mojyeb5Z:/opt/runctest/redis# **crictl runp pod-config.json**
[code]

root@iZ2ze8rkx46zyx6mojyeb5Z:/opt/kubernetes# **cat /etc/crictl.yaml**
[code]

containerd with cri, cni
**cni**:
[code]

How to fix this problem, Thanks.

[2018-08-10 00:02] Random-Liu commented on #364
Actually we can use crictl to write CRI validation test, but that requires a lot of code refactoring. :p

[2018-08-10 00:05] Random-Liu opened #368 "Consolidate build logic in Makefile and hack/release.sh"
We don't need to have 2 sets of build code. We should:
* Either move build logic into a `hack/build.sh` and let `Makefile` and `hack/release.sh` both use it;
* Or let `hack/release.sh` call `make build` directly.

[2018-08-13 17:46] #360 closed

[2018-08-14 05:41] feiskyer commented on #366
seems this is containerd issue. I think you should open an issue there

[2018-08-14 05:46] lifubang commented on #366
OK, thanks.

[2018-08-14 05:46] #366 closed

[2018-08-14 05:47] lifubang commented on #366
It's issue of https://github.com/containernetworking/plugins

[2018-08-26 10:56] zerda opened #371 "Cannot unmarshal number into Go struct field LinuxContainerSecurityContext.run_as_user of type v1alpha2.Int64Value"
`crictl` version: 1.11.1

When creating container from JSON file, I have got this error.
`FATA[0000] Creating container failed: json: cannot unmarshal number into Go struct field LinuxContainerSecurityContext.run_as_user of type v1alpha2.Int64Value`

[code]

`container-config.json` file content
[code]

I have tried with `"run_as_user": "65534"` but no lucky. How do I define an Int64 value in JSON

[2018-08-27 02:58] feiskyer commented on #371
run_as_user is `Int64Value`, not int64. Please use examples below:

[code]

[2018-08-28 01:17] zerda commented on #371
My mistake :satisfied: thank you for your help.

[2018-08-28 01:17] #371 closed

[2018-08-30 13:52] #335 closed

[2018-09-04 06:36] Random-Liu opened #373 "Add CRI Validation Test for new CRI fields"
* RuntimeHandler: kubernetes/kubernetes#67518, #879
* ProcMount: kubernetes/kubernetes#64283

I'm not sure about `RuntimeHandler` yet, but we should at least add test for `ProcMount`.

[2018-09-04 14:15] feiskyer commented on #331
@Random-Liu should we start the moving process (same with https://github.com/kubernetes/org/issues/60)?

[2018-09-04 14:40] derekwaynecarr commented on #331
@feiskyer i apologize for missing your earlier github mention, i would recommend we follow the same process.  do you mind opening the issue?

[2018-09-05 04:06] feiskyer commented on #331
Created https://github.com/kubernetes/org/issues/65 and https://github.com/kubernetes/org/issues/64 for migration.

[2018-09-14 08:01] Random-Liu opened #382 "No way to specify runtime-handler in crictl."
runtime-handler is not part of sandbox config. https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/runtime/v1alpha2/api.proto#L353

We should add a separate flag for it, e.g. `crictl runp --runtime=kata sandbox.json`.

/cc @yujuhong @tallclair

[2018-09-17 05:40] #382 closed

[2018-09-21 04:50] feiskyer opened #386 "Cut v1.12.0 release"
We should cut v1.12.0 release now.

@Random-Liu @yujuhong @mrunalp Do you have any more features or working items should be included in this release?

[2018-09-26 21:58] yujuhong commented on #364
kubectl tests are essentially a pile of shell scripts. I wonder if there are better ways to do this.

[2018-09-26 21:59] yujuhong commented on #364
We should still keep the existing CRI validation test, since kubelet doesn't use crictl to talk to CRI shims ;)

[2018-09-28 08:27] feiskyer commented on #386
done.

/close

[2018-09-28 08:27] #386 closed

[2018-09-29 01:46] feiskyer commented on #364
👍 [bats](https://github.com/bats-core/bats-core) is used in cri-o. Seems it's much better than direct shell scripts.

[2018-10-22 12:44] lsm5 opened #395 "release-1.12 fails to build"
Trying to build from source and I see this:

    # github.com/kubernetes-sigs/cri-tools/vendor/k8s.io/client-go/transport
    src/github.com/kubernetes-sigs/cri-tools/vendor/k8s.io/client-go/transport/round_trippers.go:437:9: undefined: strings.Builder

/cc @mrunalp

[2018-10-22 14:33] lsm5 commented on #395
seems I was building with an older golang. I'll try with a newer build and report back.

[2018-10-23 02:09] feiskyer commented on #395
@lsm5 👍 Let me if you still have problems.

[2018-10-27 16:04] mikebrow opened #397 "Testing is needed for Create Container requests"
The fields of the create container request are all omitempty, suggesting to the reader that they are optional.
[code]
This begs some implementation questions:
If the id is empty how could it be referenced?
If the config is empty, what is the response expectation?
If the sandboxconfig is different than it was for the pod, is that an update for the pod? Can it be updated? Can it be different for eac

[2018-10-27 16:05] mikebrow commented on #397
Issue was opened here in response to:
https://github.com/containerd/cri/pull/956

[2018-10-31 08:16] feiskyer commented on #395
/close

[2018-10-31 08:16] #395 closed

[2018-11-02 15:37] steven-sheehy opened #399 "crictl images prune"
I just switched to CRI-O and crictl and I'm trying to find an equivalent of the docker command to delete unused images to cleanup disk space. In docker, I would just run `docker image prune -a -f` to do this. I can't seem to find the equivalent in crictl, so is there one and if not can one be added? Something like `crictl images prune` or as a new param to existing `crictl rmi --prune`?

crictl: v

[2018-11-02 15:42] steven-sheehy commented on #399
And is there any workaround for now to accomplish the same thing with a combination of commands?

[2018-11-03 02:03] feiskyer commented on #399
There is a cleanup function in cri-o repo: https://github.com/kubernetes-sigs/cri-o/blob/master/test/helpers.bash#L301

[2018-11-03 03:07] steven-sheehy commented on #399
@feiskyer I tried the referenced function. It seems to try to delete all images, not unused images. Of course, the `crictl rmi` while fail if the images is still being used so it can be used as a workaround. A single command that prunes unused images would still be preferred. I've shorted the workaround to a one-liner:

[code]

[2018-11-03 05:34] feiskyer commented on #399
@steven-sheehy Yep, there is no such single command yet as it's not part of CRI.

My concern of doing is that it may break kubelet container lifecycle, e.g. kubelet would pull an image before creating the container. If the prune happens during them, the container creation may be failed. So I think it's better to also consider image pull time when doing prune, but this is not included in CRI.

[2018-11-03 05:41] steven-sheehy commented on #399
I think the main use case of a prune command would be to be ran manually by a user or after a helm upgrade as part of continuous deployment to free up space. So it's most likely not ran very often to encounter the scenario you mention. And if it does happen to be ran in between image pull and execution, won't the kubelet just try the pull and execute again after the back off period?

[2018-11-06 23:51] rjaini opened #403 "Support "crictl pods --name filter" with Metadata name."
if I use following pod config to create pod:
{
    "metadata": {
        "name": "linux-sandbox",
        "namespace": "default",
        "attempt": 1
    },
    "labels": {
        "sandbox-platform": "linux/amd64"
    }
}

crictl pods command return following output
POD ID              CREATED             STATE               NAME                    NAMESPACE           ATTEMPT
3e696d25f77a7

[2018-11-08 08:14] feiskyer commented on #403
@rjaini `crictl pods --name` supports regexp, could you try with that?

[2018-11-08 17:39] jterry75 commented on #403
@feiskyer - That's not what he is saying.
[code]
[code]
Returns nothing.

--
But
[code]
[code]
Returns the POD as expected.

--

The ask is that `--name` and `--namespace` support matching the `metadata.Name` and `metadata.Namespace` and not just the labels `io.kubernetes.pod.name` and `io.kubernetes.pod.namespace`.

[2018-11-09 01:46] Random-Liu commented on #403
This makes sense to me. We don't need to use labels for metadata that already exists in the pod config.

[2018-11-09 01:50] Random-Liu commented on #399
This is possible to implement in crictl. We can:
1) List all images and iterate through them;
2) ListContainers and check whether an image is being used.

There might be some race condition, but that should be race, and we should get eventual consistency.

[2018-11-09 01:59] Random-Liu commented on #399
Kubernetes keep unused images on the node, and considers image locality during scheduling. I'm not sure whether `crictl rmi --prune` is a pattern we recommend user to do on a Kubernetes node.

[2018-11-09 03:05] feiskyer commented on #403
@rjaini Oops, you are right.

[2018-11-09 03:08] #403 closed

[2018-11-09 17:46] jterry75 commented on #403
Thanks!

[2018-11-09 18:39] rjaini commented on #403
Thanks.

[2018-11-16 13:11] luxas commented on #331
This is now fixed :tada:! Thanks!

[2018-11-16 13:11] #331 closed

[2018-11-16 13:13] luxas opened #412 "Support something similar to "docker load"?"
That maybe would make sense in some scenarios where you can't pull, but have to side-load images
cc @feiskyer @yujuhong

[2018-11-17 01:29] feiskyer commented on #412
I'm afraid this is not possible since cri-tools only talks with CRI.

@luxas Which container runtime are you using?

[2018-11-19 17:57] luxas commented on #412
no specific one. I was just thinking if this was possible using the current CRI spec. No worries.

[2018-11-20 02:11] Random-Liu commented on #412
Currently, for containerd, you can load image with either `ctr cri load` or `ctr import`. And we may deprecate `ctr cri load` in the future.

[2018-11-21 22:37] bostrt opened #413 "crictl pull image progress"
It would be helpful to see image pull progress. Currently, I cannot see more detail:

[code]

[2018-11-27 17:33] steven-sheehy commented on #399
You guys are right, there is some race condition with kubelet, the container runtime and my workaround prune command above. I've since switched to containerd 1.2.0 and right after I do a helm upgrade I perform the prune and now the cluster cannot both terminate or start some pods. This is to be expected except that it never resolves itself by re-pulling the images. The errors in kubectl describe p

[2018-12-06 10:08] sashayakovtseva opened #414 "AppArmor test success definition"
In test case "should fail with with an unloaded profile" it is expected that container is created but unable to start. I wonder why successful creation is required, security set up may be done beforehand.
The result is still an error, so I guess both cases with creation and start errors may be considered as a correct behavior.

[2018-12-13 17:30] nrvnrvn opened #418 "Is there a way to get container diff?"
`docker diff` is a useful tool to get the diff between the running state of a container and it’s image. It is especially useful when you want to run some third party containerized app with the  read-only rootfs and need to understand how the internals work.

Is there any recommended way to check the “diff” for containerd?

[2018-12-14 02:43] feiskyer commented on #418
@Random-Liu Any insights on this?

[2018-12-14 20:48] Random-Liu commented on #418
It is possible to add a `diff` command in `ctr`.

[2018-12-26 09:16] dungdm93 opened #420 "QUESTION: What is uid?"
When I work with `crictl`, I got something like:
[code]
So, my question is: What is `metadata.uid` and What are its available values?

[2018-12-26 16:40] dungdm93 commented on #420
@feiskyer As far as I know from [this](https://kubernetes.io/docs/concepts/workloads/pods/pod/#what-is-a-pod), `uid` is pod unique ID. However, when I check it with `crictl pods`, I got different id:
[code]

[2018-12-27 05:45] feiskyer commented on #420
`Pod ID` is different from UID, UID is part of metadata, while Pod ID is the container ID from runtime.

[2018-12-27 15:45] papudatta opened #421 ""ctr image pull" works but both kubectl and "crictl pull" fail pulling same image"
**What happened**:
`cri image pull` works but both `kubectl `and "`crictl pull`" fail pulling `docker.io/library/golang:1.9`

kubectl logs:
[code]

[code]

**What you expected to happen**:
`docker.io/library/golang:1.9` can be pulled either ways.
If image was already pulled by `ctr image pull`, kubernetes should be able to use that image

**How to reproduce it (as minimally and precisely as possib

[2018-12-28 01:51] feiskyer commented on #421
cc @Random-Liu

[2019-01-01 10:42] stephenmoloney opened #422 "No xenial release available for 1.13"
***Issue Description:***

There does not seem to be a xenial release available for v 1.13

[code]

[code]

[2019-01-02 19:05] Random-Liu commented on #421
@papudatta This is a containerd bug, I can reproduce it myself. Thanks for the bug report!

I has been fixed in containerd 1.2. However, containerd 1.1.x is still supported, so we'll find out the fix and cherrypick it.

[2019-01-03 05:10] feiskyer commented on #421
cool, let's close the issue since it's not actually related with cri-tools.

/close

[2019-01-03 05:10] #421 closed

[2019-01-04 11:44] #420 closed

[2019-01-21 18:03] lsm5 opened #426 "`crictl stats` doesn't check if user is root"
$ crictl stats
    FATA[0000] get container stats failed: rpc error: code = Unavailable desc = grpc: the connection is unavailable

but `sudo crictl stats` works. It'd help if crictl would check if user is root and complain otherwise.

cc @mrunalp

[2019-01-21 18:04] lsm5 commented on #426
filed https://github.com/kubernetes-sigs/cri-tools/pull/427

[2019-01-21 18:12] saschagrunert commented on #426
Hey 👋, I guess it should be possible to run crictl without being root since it depends on the permissions of the cri-o connection socket.

It would be cool if we could change that and run cri-o under some dedicated user/group.

[2019-01-21 18:31] mrunalp commented on #426
@saschagrunert That's a good point and valid for rootless scenarios. Maybe we can check if we can access the socket instead?

[2019-01-21 18:42] saschagrunert commented on #426
Yep that would be great, I guess cri-o will need some configuration extensions for that.

[2019-01-21 18:43] lsm5 commented on #426
On Mon, Jan 21, 2019 at 10:31:52AM -0800, Mrunal Patel wrote:

ack, I'll check on that, thanks

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-01-21 18:50] saschagrunert commented on #426
I took my freedom toncteate the issue in cri-o. Are you going to work on that? :)

[2019-01-31 05:19] feiskyer opened #432 "Build and push windows images"
#430 added some new windows images for Windows critest. We should build and push them.

[2019-02-05 15:06] ktzee commented on #353
It currently only returns "unknown".
https://github.com/kubernetes-sigs/cri-tools/blob/f0cc060d7fdffd9a36892cb7e5c4b1301a30881e/pkg/version/version.go

`$ rpm -qi cri-tools
Name        : cri-tools
Version     : 1.11.0
Release     : 2.dev.git19b7255.fc29

$ which crictl
/usr/bin/crictl

$ crictl -v
crictl version unknown
`

The same also happens with the package on Fedora repositories.

[2019-02-06 15:42] sashayakovtseva opened #433 "Attach to container fails because busybox exits"
From k8s docs:
[code]

Which means container must be running, while in test you use busybox image with default cmd `/bin/sh`. Container exits before CRI has a chance to attach to it.

[2019-02-09 12:05] sashayakovtseva commented on #433
Seems like the problem is in the runtime.

[2019-02-09 12:05] #433 closed

[2019-02-13 08:29] feiskyer commented on #432
All images built and pushed now.

/close

[2019-02-13 08:29] #432 closed

[2019-02-15 10:47] cpointner opened #435 "crictl completion for zsh"
#213 states that installing the completion using `source <(crictl completion)` works for both bash and zsh. Unfortunately this is only true if `bashcompinit` has been loaded in your zshrc. Depending on your zsh setup this might or might not be the case when you source the output of the completion sub-command.

As far as i undertstand this could be fixed by adding the contents of this [file](https:

[2019-02-16 03:57] Apokleos opened #436 "unknown service runtime.v1alpha2.ImageService &Unimplemented desc = unknown service api.v1.CRIPluginService"
Hi, when I execute cmd: crictl images, something goes wrong. It will output error info as "FATA[0000] listing images failed: rpc error: code = Unimplemented desc = unknown service runtime.v1alpha2.ImageService"

ENV:
OS: Centos7.6,
Kernel Linux 3.10.0-957.5.1.el7.x86_64 x86_64
Setup crictl, containerd and runc Steps:
(1) containerd
wget https://github.com/containerd/containerd/releases/download/v1

[2019-02-16 04:45] Apokleos commented on #436
problem occurs at the place /etc/containerd/config.toml,
[plugins.cri.containerd]
      snapshotter = "overlayfs" --> "native"
It works successfully, now!

[2019-02-16 04:45] #436 closed

[2019-02-27 02:41] Random-Liu commented on #435
SG. Do you want to send a PR for this? :)

[2019-02-27 02:48] dinfer opened #438 "[Feature request]: please support changing image tag and push images"
I'm planing using crictl instead of docker for some common operations. Is there any plan to make crictl be able to tag image and push image to a registry?

[2019-02-27 09:30] Random-Liu commented on #438
That is not in scope.

`crictl` is only used for Kubernetes node debugging, it is not a replacement of docker.

For building/tagging images, please continue using docker.

[2019-02-27 14:36] sashayakovtseva opened #439 "Tests expect specific SELinux policies to be enabled on host"
Running validation tests on SELinux host results in two errors here
- selinux mount label should persist when container is privileged
- check selinux process label for privileged and unprivileged containers

It seems that those tests rely on host configuration? I assume some specific policies need to be installed to make them pass. Could you help with that? Any related information will be very hel

[2019-02-28 07:15] feiskyer commented on #438
Agreed with @Random-Liu. crictl is only talking with kubernetes CRI interface, it's not a replacement of container runtime's one.

/close

[2019-02-28 07:15] #438 closed

[2019-03-06 07:50] liujing66 opened #440 "Crictl config cannot set debug to false"
Issue Description:
When I tested the sub option of crictl config, I found that "crictl config" cannot set debug to false。

# crictl config --get debug
true

# crictl config debug false
FATA[0000] use true|false for debug

It seems like a bug,the code 118-129 lines ，the if statement is missing the setting for value=“false”
		case "debug":
			var debug bool
			if value == "true" {
				debug = true

[2019-03-06 08:57] caoruidong opened #441 "Is cni needed when just using containerd?"
Without k8s, just containerd + crictl.
`crictl runp sandbox.json` returns
`
FATA[0000] run pod sandbox failed: rpc error: code = Unknown desc = failed to setup network for sandbox "282a6d46182a7d0ed1ddda7dd6c5ab65c25145c0534dd34c0701a9f0d6d23945": cni plugin not initialized
`
There is no file in /etc/cni/net.d/

[2019-03-06 12:26] feiskyer commented on #441
from the logs, it is. @Random-Liu

[2019-03-07 01:44] caoruidong commented on #441
It works after reboot.

[2019-03-12 22:27] Random-Liu commented on #441
Yeah you still need cni when using containerd + crictl.

[2019-03-12 22:28] Random-Liu commented on #440
Feel free to send a fix for the bug. :)

[2019-03-13 07:56] caoruidong commented on #441
Got it. Thanks you all

[2019-03-13 07:56] #441 closed

[2019-03-13 08:37] feiskyer commented on #426
I think this could be closed now.

/close

[2019-03-13 08:37] #426 closed

[2019-03-13 08:37] feiskyer commented on #439
@sashayakovtseva Which container runtime are you targeted?

[2019-03-13 08:44] feiskyer commented on #422
Sorry, missed the packages.

@Random-Liu Could you help to build the debs/rpms for v1.13?

[2019-03-13 08:47] feiskyer commented on #418
Agreed. It could be done in container runtime, but not in crictl. crictl doesn't know the detailed container manifests.

/close

[2019-03-13 08:47] #418 closed

[2019-03-13 08:47] feiskyer commented on #413
Yep, this is not supported. The progress is not exposed in CRI interface.

/close

[2019-03-13 08:47] #413 closed

[2019-03-13 08:51] feiskyer commented on #353
Has been fixed in [v1.11.1](https://github.com/kubernetes-sigs/cri-tools/releases/tag/v1.11.1).

[code]

[2019-03-13 08:51] #353 closed

[2019-03-14 08:22] feiskyer opened #446 "Upgrade to golang 1.12"
Kubernetes v1.14 would upgrade golang version to 1.12.  We should upgrade vendors to kubernetes 1.14 together with golang 1.12.

Refer https://github.com/kubernetes/kubernetes/pull/74632.

[2019-03-15 06:49] sashayakovtseva commented on #439
@feiskyer [Singularity](https://github.com/sylabs/singularity) runtime

[2019-03-15 13:32] #435 closed

[2019-03-19 06:07] liujing66 opened #448 "'crictl status --label ' operation does not work ."
Issue Description:
When I want to dispaly the stats of a particular label's container in the kubenet environment, 'crictl status --label ' operation does not work .

All containers is running on the current environment .

# crictl stats | wc -l
43

I want to see the current consumption of the container in the openshift-sdn project.
The expected output should be two pieces of information， but actua

[2019-03-19 13:47] jqueuniet opened #449 "Missing cri-tools package for Ubuntu Bionic 18.04 in the PPA repository"
The Project Atomic PPA repository is missing a cri-tools package for Ubuntu Bionic, it is only available for Xenial right now. A similar issue was previously filled for the cri-o package in the cri-o repository.

https://launchpad.net/~projectatomic/+archive/ubuntu/ppa?field.series_filter=bionic

I would be nice to have, as it would simplify cri-o support in Kubespray.

cc @lsm5

[2019-03-19 13:59] feiskyer commented on #449
Not sure how is those package built. @jqueuniet @lsm5 Are you maintaining those packages?

[2019-03-19 14:05] lsm5 commented on #449
On Tue, Mar 19, 2019 at 06:59:16AM -0700, Pengfei Ni wrote:

Yup, this one's on me. Didn't see a better place to report this issue, so hope
it's alright here.

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-03-20 05:06] feiskyer commented on #449
@lsm5 cool. then could you build the image there?

[2019-03-20 05:06] feiskyer commented on #422
ping @Random-Liu

[2019-03-20 05:24] feiskyer commented on #448
Could you try with crictl v1.12.0 for kubernetes v1.12?

[2019-03-21 03:15] #446 closed

[2019-03-25 17:28] dionysius commented on #362
Seems it exists now [currently on master](https://github.com/kubernetes-sigs/cri-tools/blame/master/cmd/crictl/image.go#L316)

[2019-03-25 17:28] #362 closed

[2019-03-26 01:34] Random-Liu opened #454 "Convert image id to image tags in `crictl ps`."
Today, here is the result for containerd today:
[code]

We should consider inspecting the image, get the image tag and print the image tag instead in this case.

[2019-04-16 23:15] tych0 opened #460 "crictl: --runtime-endpoint doesn't handle relative paths well"
It seems there is a bug with relative paths. If I do:

`strace crictl --runtime-endpoint ../foo create clowncore basic-container-config.json basic-pod-config.json`

I get:

`connect(6, {sa_family=AF_UNIX, sun_path="/foo"}, 7) = -1 ENOENT (No such file or directory)`

It shouldn't be eating the first bits of my path, I don't think.

[2019-04-27 11:21] towolf commented on #399
/remove-lifecycle stale

[2019-05-27 07:12] vrothberg commented on #412
The issue just popped up in my mails. Since the CRI doesn't support that, we need to work around that. When using CRI-O there is `skopeo copy` and `podman load`.

[2019-05-27 15:58] feiskyer commented on #412
yep, this can only be done within container runtime.

Since this is not a supported scenario from CRI, let's close the issue.

/close

[2019-05-27 15:58] #412 closed

[2019-05-27 16:14] feiskyer commented on #397
/remove-lifecycle rotten

[2019-05-27 16:14] feiskyer commented on #414
/remove-lifecycle rotten

[2019-05-27 16:15] feiskyer commented on #334
/remove-lifecycle rotten

[2019-05-27 16:15] feiskyer commented on #330
/close

[2019-05-27 16:15] #330 closed

[2019-05-27 16:16] feiskyer commented on #328
Close the issue since it's actually a cri-o issue.

[2019-05-27 16:16] #328 closed

[2019-05-27 16:16] feiskyer commented on #281
/remove-lifecycle rotten

[2019-05-27 16:16] feiskyer commented on #275
/remove-lifecycle rotten

[2019-05-27 16:17] feiskyer commented on #359
/remove-lifecycle rotten

[2019-05-27 16:17] feiskyer commented on #364
/remove-lifecycle rotten

[2019-05-27 16:17] feiskyer commented on #365
/remove-lifecycle rotten

[2019-05-27 16:18] feiskyer commented on #368
/remove-lifecycle rotten

[2019-05-27 16:18] feiskyer commented on #373
/remove-lifecycle rotten

[2019-05-27 16:19] feiskyer commented on #22
/remove-lifecycle rotten

[2019-05-27 16:19] feiskyer commented on #32
/remove-lifecycle rotten

[2019-05-27 16:19] feiskyer commented on #25
/remove-lifecycle rotten

[2019-05-27 16:19] feiskyer commented on #23
/remove-lifecycle rotten

[2019-05-27 16:19] feiskyer commented on #68
/remove-lifecycle rotten

[2019-05-27 16:20] feiskyer commented on #172
/remove-lifecycle rotten

[2019-05-27 16:20] feiskyer commented on #223
/remove-lifecycle rotten

[2019-05-27 16:20] feiskyer commented on #210
/remove-lifecycle rotten

[2019-05-28 13:00] saschagrunert opened #464 "Stop sandbox implicitly on `rmp`"
A running sandbox should be stopped before removal so allow proper unmounting of all devices. I would like to see this feature in crictl, WDYT?

[2019-05-29 04:01] feiskyer commented on #464
This is reasonable with an extra `--force` or `-f` option. @saschagrunert Would you like to compose a PR for this?

[2019-05-30 03:58] #464 closed

[2019-05-31 16:14] #440 closed

[2019-06-05 22:37] sdeoras opened #469 "crictl segfaults on fedora-30"
crictl v1.14.0 segfaults on Fedora 30
Installed using [these](https://github.com/kubernetes-sigs/cri-tools#install-crictl) instructions.

system info:
[code]

[code]

[2019-06-05 22:51] sdeoras commented on #469
building from src works.

[2019-06-13 11:52] saschagrunert opened #472 "Parallel tests are flaky"
Hi there, It seems that the test suite is a bit flaky when running in parallel. I guess this is related to the image removal, where the test-images share layers. The issue is not really reproducible and does not occur when not running in parallel.

One example, where it seems that other tests already removed the layer in parallel:

[code]

I would like to recommend to re-build the images and avoid

[2019-06-14 03:44] feiskyer commented on #472
Which runtime is this test running on? I wonder whether it's runtime issue

[2019-06-14 05:52] saschagrunert commented on #472
It’s CRI-O, I can check if it happens with other runtimes too.

[2019-06-14 07:12] feiskyer opened #473 ""image status should support all kinds of references" is failing for docker runtime"
The test case `"image status should support all kinds of references" ` added in #468 is failing constantly:

[code]

From kubelet logs, it's because dockershim refuses the image inspect requests for digest-only references:

[code]

@Random-Liu @yujuhong

[2019-06-17 10:13] saschagrunert commented on #472
I see another flaking issue which seems to be related:

[code]

If I look in the logs above I see that another test removed the image by ID:

[code]

[2019-06-17 13:34] saschagrunert commented on #472
Can we rebuild the layers on dedicated digests to see if the issue still exists? :innocent:

[2019-06-19 02:40] vanloswang opened #474 "crictl images can not find local image loaded by podman"
Just take a look at the following commands and the result:
[code]
crictl images will not find local image without the prefix of 'localhost/', then it will make k8s always try to pull image to start a pod, but the image is locally.

My OS is CentOS 7.5, and cri utils infomations are as following:
[code]

[2019-06-19 08:46] feiskyer commented on #474
Seems this is a cri-o issue? @runcom @mrunalp Could you help to take a look?

[2019-06-19 08:49] feiskyer commented on #472
Tried this on docker, but there's no such issue. I wonder whether the following spec is true for cri-o?

[code]

/cc  @runcom @mrunalp

[2019-06-19 09:24] saschagrunert commented on #472
I see. I will create an PR in CRI-O to make the function idempotent. Thanks!

[2019-06-19 09:24] #472 closed

[2019-06-19 11:30] vrothberg commented on #474
@vanloswang, I suspect that `cri-o` and `podman` are configured to use different directories for storing images. You can check that in the corresponding configs (i.e., `/etc/crio/crio.conf` and `/etc/containers/storage.conf`). It's also important to execute `podman` as root since rootless images are stored somewhere else.

[2019-06-20 03:46] feiskyer commented on #473
Added a workaround in #475, need more investigation whether it should be fixed in dockershim.

[2019-06-20 05:44] vanloswang commented on #474
@vrothberg I checked it, The images is loaded by ```podman``` and ```crictl``` can find them, so they use the same directory for storing images. The configs ```driver```, ```runroot``` and ```graphroot``` in ```/etc/crio/crio.conf``` and ```/etc/containers/storage.conf``` are use the default value.

[2019-06-21 01:08] justaugustus commented on #422
/remove-lifecycle stale

[2019-06-21 01:09] justaugustus commented on #422
This is still an active issue: https://github.com/kubernetes/release/issues/739

[2019-06-27 08:33] sashayakovtseva commented on #439
Hello @feiskyer, any updates on this issue? Maybe you can point to any instructions with expected labels to be on host? Why tests check that particular labels? Any link to documentation of tests behavior will be extremely appreciated! Thanks in advance

[2019-06-27 08:40] feiskyer commented on #439
For the test cases, could you have a look at the validation codes [here](https://github.com/kubernetes-sigs/cri-tools/blob/master/pkg/validate/selinux_linux.go)? It doesn't seem to require pre-configured policies on the host.

Maybe you can share the detailed failure logs, so that we could understand why it's failing?

[2019-06-27 09:13] sashayakovtseva commented on #439
@feiskyer Sure I have taken a look at code :)
Two errors we have are: `expect "object_r:container_file_t" in mountinfo` and `expect "system_r:spc_t" in proc attr`

[2019-06-27 16:27] #473 closed

[2019-06-27 18:12] yujuhong commented on #223
@feiskyer has anything been done in these areas?

[2019-06-28 02:58] feiskyer commented on #223
The travis CI doesn't support Windows Server 2019, so we still need to find other infra for running those tests.

[2019-07-10 10:25] AsherShoshan opened #482 "Howto crictl pull image with authentication flag (podman like --authfile)"

[2019-07-10 13:59] feiskyer commented on #482
[code]

[2019-07-10 14:29] AsherShoshan commented on #482
Not this one...
where podman --authfile = xx.json

xx.json

{
        "auths": {
                "cnv-qe-02.cnvqe.lab.eng.rdu2.redhat.com": {
                        "auth": "dGVzdHVzZXI6dGVzdHBhc3N3b3Jk"
                },
                "cnv-qe-server.rhevdev.lab.eng.rdu2.redhat.com:8444": {
                        "auth": "dGVzdHVzZXI6dGVzdHBhc3N3b3Jk"
                },
                "local

[2019-07-11 12:53] feiskyer commented on #482
`--authfile=xx.json` is not supported in crictl pull. Any specific cases for using auth file?

[2019-07-11 13:16] AsherShoshan commented on #482
I want to use crictl exactly the way I use it with docker and podman.  i.e.
I have this file (config.json) and in docker put in '.docker' folder or in
podman use it with '--authfile'.
There is a secret with this format, which I want to pull without
user/password authentication (--creds)

On Thu, Jul 11, 2019 at 3:53 PM Pengfei Ni <notifications@github.com> wrote:

[2019-07-11 13:56] feiskyer commented on #482
Yep, I think podman is handling those in client side, because CRI doesn't support multiple auth credentials. crictl could be extended for such cases.

@yujuhong @mrunalp what do you think?

[2019-07-16 14:15] feiskyer commented on #460
/remove-lifecycle stale

[2019-07-16 14:16] feiskyer commented on #449
@lsm5 any updates on this?

[2019-07-16 14:16] feiskyer commented on #454
/remove-lifecycle stale

[2019-07-16 14:16] feiskyer commented on #448
/remove-lifecycle stale

[2019-07-19 15:04] ojengwa opened #486 "Add support for darwin"
Currently cannot find Mac-compatible binaries. Are there plans to add supports?
I would gladly take this on if offered guidance.

[2019-07-21 12:28] feiskyer commented on #486
No plan for darwin yet because the container runtimes won't run on darwin. AFAIK, only kubectl could run actually on darwin.

[2019-07-26 12:16] towolf commented on #399
/remove-lifecycle stale

[2019-07-31 09:38] saschagrunert opened #491 "Becoming an owner"
Hey :wave:, I'd like to support you here by tackling down some issues and enhancements. I'm currently maintaining CRI-O as well so I guess it would be a good fit for me personally. Do you think that it would be possible to promote me to a maintainer? :innocent:

[2019-08-02 07:59] feiskyer commented on #491
@saschagrunert Thanks for your great work. I'm definitely +1 for this.

cc @yujuhong @Random-Liu @mrunalp

[2019-08-04 04:41] nitkon opened #497 "ppc64le: test "runtime should support SupplementalGroups" fails."
[code]

[2019-08-04 09:43] nitkon commented on #497
@feiskyer : This looks similar to https://github.com/moby/moby/issues/38865
[code]
[code]

[2019-08-07 22:28] Random-Liu commented on #491
+1

Thanks for your work to improve the UX of `crictl`, I'm looking forward to your future contributions! :D

[2019-08-07 23:38] yujuhong commented on #491
Thanks for contributing!

[2019-08-07 23:48] mrunalp commented on #491
+1 from me :)

[2019-08-08 07:23] saschagrunert commented on #491
Thank you! :tada:

[2019-08-08 08:28] feiskyer commented on #491
Added now.

[2019-08-08 08:28] #491 closed

[2019-08-13 07:21] AsherShoshan opened #504 "crictl rmi with force option"
looking for the Docker equivalence docker rmi -f imageid.
Is there any?

[2019-08-19 13:19] saschagrunert commented on #504
Hey @AsherShoshan, is this the same request as in https://github.com/kubernetes-sigs/cri-tools/issues/399? Do you think we can close this on if favor of it?

[2019-08-19 14:09] AsherShoshan commented on #504
No. It's not the same.

On Mon, Aug 19, 2019 at 4:19 PM Sascha Grunert <notifications@github.com>
wrote:

[2019-08-19 19:21] stonith opened #507 "Add user flag for exec"
crictl exec doesn't support a user flag (ie -u) like docker does. I believe people often use docker exec -u to debug issues in non-root containers to gain root access and unfortunately kubectl also doesn't have the [user flag](https://github.com/kubernetes/kubernetes/issues/30656) option for exec.

[2019-08-26 10:25] #439 closed

[2019-08-28 04:37] MIBc commented on #454
It has image name in latest version.

[2019-08-29 17:32] Random-Liu opened #514 "ppc64le tests are failing"
It blocks all PRs right now. I'll send a PR to disable the test for now.

[2019-09-04 11:34] saschagrunert commented on #504
The Kubernetes CRI is not able to specify something like a `force` flag for image removal. For example CRI-O fails if the image is currently in use. The API states that the call should not return an error if the image has been already removed. @feiskyer, is there any expected behavior when an image is in use?

[2019-09-04 12:56] AsherShoshan commented on #504
All,
The use case is:
If you a pod with container image  <something>:latest, and the
imagePullPolicy is "ifnotpresent" - Then you have no way to refresh the
image with a newer image.
(except for rebooting the worker node  or try find a node which image is
not pulled there... )
When the container run-time engine is Docker, you can docker rmi -f
<image-id>, and then the image will be refreshed.
So w

[2019-09-04 13:28] saschagrunert commented on #504
Alright, so one approach could be to force stop the containers before actually removing the image. The problem is now that we cannot guarantee that the kubelet does not re-schedule the workloads before we actually were able to remove the image. :-/

[2019-09-04 13:37] saschagrunert commented on #504
You could pull the new image via `crictl pull` and restart the containers.

[2019-09-04 13:54] AsherShoshan commented on #504
On Wed, Sep 4, 2019 at 4:37 PM Sascha Grunert <notifications@github.com>
wrote:

Do it on every node...

[2019-09-05 03:25] feiskyer commented on #364
@saschagrunert there's no tests for crictl yet, would you like to work on it?

[2019-09-05 06:51] saschagrunert commented on #364
Sure, do we want to use bats (like in CRI-O), or ginkgo (like in Kubernetes). I tend to go with ginkgo, since this dependency is already available.

[2019-09-05 07:01] feiskyer commented on #364
is ginkgo working well for CLI tests?

[2019-09-05 07:01] feiskyer commented on #364
/assign saschagrunert

[2019-09-05 08:40] jongwu opened #528 "the readme file is not helpful enougth"
I want to use the --privileged flag to create pod. but I don't how to add this flag in config both pod and container.
so I think the helper document need more detail about how to use this crictl tool.

@ncdc @indrayam  @flaper87  @bryteise

[2019-09-05 11:44] saschagrunert commented on #364
Yes, with gomega’s [gexec](https://onsi.github.io/gomega/#gexec-testing-external-processes), I’ll prepare a PR.

[2019-09-14 15:55] #449 closed

[2019-09-18 07:37] cusri-admin commented on #436
这个方法很好

[2019-09-18 07:38] cusri-admin commented on #436
very good

[2019-09-19 22:35] Random-Liu opened #539 "crictl e2e test is failing."
It is currently blocking PRs.
[code]

[2019-09-20 07:24] saschagrunert commented on #539
The issue is that we moved conmon out of the repository. I will fix this and propose a PR.

[2019-10-02 11:53] #539 closed

[2019-10-02 15:28] yeya24 commented on #454
Yes, I believe this has been fixed.

[2019-10-06 11:44] #454 closed

[2019-10-09 09:33] ProdanLabs opened #546 "Crictl not support load images?"
I don't see the command for load or tag
[code]

[2019-10-09 13:56] Nefelim4ag opened #547 "Can't run hostNetwork pod on CRI-O with crictl runp"
CRI-O try use CNI for configure pod network, even if i declare use hostNetwork in pod description
But kubelet successful create pods with hostNetworks, so i think that a crictl bug

[2019-10-10 10:00] saschagrunert commented on #547
Hey @Nefelim4ag, can you please provide us a reproducer for this bug and the expected output?

[2019-10-10 13:56] Nefelim4ag commented on #547
Oh, i will try setup clear environment and get reproducer, np

[2019-10-10 14:50] Nefelim4ag commented on #547
Easy:
1. Setup bare Ubuntu 18.04
2. apt install cri-o-1.15
3. Download latest crictl
4. rm -v /etc/cni/net.d/*
5. Deploy pod with hostNetwork: true

[code]

[2019-10-10 19:03] cgwalters opened #548 "1.16 regressed creating pod from local images"
Sorry for the vague bug report, but we have [crio tests](https://github.com/coreos/mantle/blob/d15c8c761aff1ae628136ca6a853c0d9e07282cf/kola/tests/crio/crio.go) in our CoreOS tests (used for RHEL CoreOS) that recently started failing when cri-tools was bumped 1.14 :arrow_right:  1.16.

[code]

I only briefly debugged this but basically we're building images locally into the containers/image store,

[2019-10-11 06:48] saschagrunert commented on #547
Hm, to me this does not look like an issue with crictl itself, but more a configuration thing. Does `With CNI` mean that you have a plain installation of the Ubuntu CRI-O package (from the project atomic PPA?).

[2019-10-11 10:19] Nefelim4ag commented on #547
Yep, plain installation from PPA of project atomic

But cri-o must not call CNI for hostNetwork pod, even with CNI or without,
you think that a cri-o issue?

[2019-10-11 13:11] saschagrunert commented on #547
Oh, no. I think you're mixing up the Container Runtime Interface (CRI) API and the Kubernetes manifest specification. crictl interfaces with the CRI API, so running this should work without having a valid CNI config:

[code]

`network: 2` indicates the node network type. :)

[2019-10-11 14:02] Nefelim4ag commented on #547
Oh, what the turn,
seems like my misunderstanding,
where i can find examples that in documentation?

[2019-10-13 11:43] feiskyer commented on #546
@ProdanLabs right, load image is part of CRI.

[2019-10-13 11:43] #546 closed

[2019-10-13 11:46] feiskyer commented on #547
@Nefelim4ag see [here](https://github.com/kubernetes/cri-api/blob/24ae4d4e8b036b885ee1f4930ec2b173eabb28e7/pkg/apis/runtime/v1alpha2/api.proto#L221-L236) for the namespace options:

[2019-10-17 11:30] dulltz opened #549 "crictl ps --name option does not work if -o=json is set"
`crictl ps --name` option does not work if `-o=json` option is set.

If both are set, `--name` option will be ignored.

[code]

version info:
[code]

[2019-10-17 12:03] saschagrunert commented on #549
Hey @dulltz, thanks for the report! A fix is incoming.

[2019-10-20 11:37] #486 closed

[2019-10-24 18:14] saschagrunert commented on #548
Hey, @cgwalters, is this issue now resolved or ist there any open bug which can be resolved here?

[2019-10-25 18:24] haircommander commented on #548
@cgwalters I ran into a similar issue upgrading the CI for cri-o. Does adding the option `--no-pull` to the create command fix it for you?

[2019-10-25 21:36] liyimeng opened #551 "Fail to pull from localhost:5000"
There is a private registry running http at localhost,  crictl pull images there result failing as below:

[code]

Is crictl behave differently from docker?, that is forcing to run https on localhost as well?

[2019-10-28 08:31] angelbarrera92 commented on #422
Quick question.

It's going to be available 1.15 cri-tools version in the xenial repository?

[2019-10-28 13:13] #549 closed

[2019-11-07 14:17] towolf commented on #399
/remove-lifecycle stale

[2019-11-07 18:30] JoeyLuffa opened #554 "QUESTION: What's the difference betwewen `docker images` and `crictl images`?"
I was trying to integration `gVisor` and after I installed `containerd` and `crictl`, I saw all my pods are trying to load images into the images cache that `crictl images` can list. I cannot find them using `docker images`. What's the difference betwewen `docker images` and `crictl images`? Why all images moved to the `crictl images`  cache?

[2019-11-08 09:33] saschagrunert commented on #554
Hey @JoeyLuffa :wave:, both commands are not really comparable, except that the output some contanier images.

`crictl images` connects to the gRPC server providing the Container Runtime Interface (CRI), which can be implemented by multiple container runtimes, like CRI-O, containerd or docker. It lists the images available on a kubernetes node.

`docker images` lists only the images available on t

[2019-11-08 16:37] saschagrunert commented on #482
/remove-lifecycle rotten

[2019-11-12 00:52] #399 closed

[2019-11-13 15:23] saschagrunert commented on #448
/remove-lifecycle rotten

[2019-11-13 15:23] saschagrunert commented on #460
/remove-lifecycle rotten

[2019-11-13 19:47] JoeyLuffa commented on #554
@saschagrunert I see. BTW, can we have multiple different container runtimes running with the same k8s cluster?

[2019-11-13 21:09] saschagrunert commented on #554
Yes, the container runtime is only bound to the Kubelet configuration. So you’re free to use any runtime you want on a single node. :)

[2019-11-13 22:42] JoeyLuffa commented on #554
Thanks, Close this issue now.

[2019-11-13 22:42] #554 closed

[2019-12-03 14:10] saschagrunert commented on #504
/remove-lifecycle stale

[2019-12-04 12:34] saschagrunert commented on #364
/remove-lifecycle stale

[2019-12-04 13:56] #528 closed

[2019-12-09 06:51] feiskyer opened #558 "Cut cri-tools v1.17.0"
work items include:

* Update kubernetes vendor to v1.17.0
* Build binaries by `make release` and update release notes

@saschagrunert @Random-Liu anything more would you like to include in this release?

@saschagrunert would you like to work on this release?

[2019-12-09 08:23] saschagrunert commented on #558
Hey, sure I can take care of the release this time. Can anyone support me with the windows binaries?

Otherwise I would check If I can find a windows machine somewhere.

[2019-12-09 11:54] feiskyer commented on #558
The binaries building doesn't need a windows machine

[2019-12-09 16:38] saschagrunert commented on #558
Sounds good, I'll take care as soon as v1.17.0 is available.

[2019-12-09 16:54] ProdanLabs opened #560 "Can you add the "tag load save" flag, like docker"
I think it ’s very practical, what do you guys think?

[2019-12-09 18:56] Random-Liu commented on #560
We can't add it, because CRI doesn't have it.

You may want to use the CLI from the underlying ccontainer runtime for those, e.g. `ctr` for containerd.

[2019-12-10 11:09] saschagrunert commented on #558
@feiskyer do we want to maintain release-branches as well? We stopped doing that for 1.16.

[2019-12-10 12:34] feiskyer commented on #558
since the CRI API doesn't change, we don't need to maintain a new branch.

[2019-12-11 02:37] feiskyer commented on #560
/close

[2019-12-11 02:37] #560 closed

[2019-12-11 08:24] saschagrunert commented on #558
@feiskyer I'm ready to publish the release, but lacking permissions in this repository to edit the tags accordingly. Can you provide me the set of permissions?

[2019-12-12 14:13] feiskyer commented on #558
@saschagrunert you need to be admin to edit tags, could you apply at [org](https://github.com/kubernetes/org)? Have you got the release notes ready? I can do tag publishing.

[2019-12-12 14:21] saschagrunert commented on #558
I'll create the issue in the next minutes for the org. These are the notes so far:

[code]

[2019-12-15 12:37] feiskyer commented on #558
@saschagrunert let's include #563 in the release, it fixes a bug of force removal

[2019-12-15 12:53] saschagrunert commented on #558
Sure sounds good. :)

[2019-12-16 05:56] feiskyer commented on #558
Release cut https://github.com/kubernetes-sigs/cri-tools/releases/tag/v1.17.0.

@Random-Liu could you help to upload GCS release?

[2019-12-16 10:26] saschagrunert commented on #558
/reopen

[2019-12-17 01:06] feiskyer commented on #558
done by @Random-Liu
/close

[2019-12-17 01:06] #558 closed

[2019-12-17 06:25] feiskyer opened #565 "CI failed because it's unable to install make"
Failure logs:

[code]

/kind failing-test

[2019-12-24 10:09] senthilrch opened #568 "crictl rmi <image> doesn't works with docker"
I have a linux machine with docker engine and crictl. cri-tools v1.16.1. crictl by default uses```unix:///var/run/dockershim.sock``` as the runtime-endpoint and successfully recognizes docker as the runtime.

1. I pull "jenkins" image using ```crictl pull jenkins``` ==> successful
2. I list the images using ```crictl images``` ==> successful. i am able to see the ```jenkins``` image
3. I delete th

[2020-01-01 11:27] #497 closed

[2020-01-02 17:09] rancid-racer opened #569 "Documentation page for crictl container config have an invalid character in log_path"
Reading docs at https://github.com/kubernetes-sigs/cri-tools/blob/master/docs/crictl.md

container config has value
`
"log_path" : "busybox/0.log"
`
correct value should be
`"log_path" : "busybox.0.log"`
The original throws an RPC error with failure to create the log file

[2020-01-06 08:22] saschagrunert commented on #569
Hey @rancid-racer, I verified the behavior and papared a documentation fix for that.

[2020-01-14 22:16] buccella opened #571 "Add flag for environment variables for exec subcommand"
`crictl exec` doesn't support a way to pass environment variables for the command to be run. `docker exec` has the `--env` flag.

This is a problem for some commands, such as etcdctl, which require an environment variable to be set to specify the API version. For scripts that need to check the status of etcd running within Kubernetes, it's convenient to `exec` into the container to run etcdctl. Bu

[2020-01-15 08:01] saschagrunert commented on #571
Hey @buccella :wave:, unfortunately the Container Runtime Interface (CRI) does not support passing custom environment variables via exec, so your workaround might be the best alternative to it.

[2020-01-15 14:10] buccella commented on #571
Thanks for the quick reply, @saschagrunert

[2020-01-15 14:10] #571 closed

[2020-01-15 14:14] buccella commented on #507
This is probably in the same boat as #571; if cri-api doesn't support it, crictl won't either.

Maybe `su` could be used as a workaround:
`crictl exec <container_id> /bin/su -s /bin/sh -c "<command>" <user>`

[2020-01-15 15:39] ashcrow commented on #548
We're still seeing this issue as of today.

[2020-01-15 15:40] miabbott commented on #548
@haircommander I ran into this recently working on the RHCOS compose; if I add `--no-pull` to our tests, it causes them to pass again.

Still troubles me that the CLI behavior of `crictl create` in this case broke between 1.14 and 1.16

[2020-01-16 01:10] sober-wang opened #572 "I need crictl top view PODs resource used"
I need crictl top view PODs resource used

look like
docker stats

[2020-01-17 11:55] saschagrunert commented on #548
Hey @miabbott, this is not a general regression but was more an intended behavior change. Is there anything we can do to support you here or are you fine with the `--no-pull` flag?

[2020-01-17 13:36] saschagrunert commented on #572
Hey @sober-wang :wave:, is `crictl stats -w` not fitting your needs? If not, which kind of information do you need? :)

[2020-01-17 14:21] ashcrow commented on #548
We can make the `--no-pull` flag work, but it did break backwards compatibility for those using `ctictl`. We utilize it as part of our [kola testing](https://github.com/coreos/mantle/blob/master/kola/tests/crio/crio.go). Because of the change in usage it was assumed there was some kind of regression or bug in `crictl` and kept us from promoting it.

We've since learned of `--no-pull` and updated t

[2020-01-21 14:23] miabbott commented on #548
As @ashcrow noted, we've updated our tests to use `--no-pull` (coreos/mantle#1116), so all is well.  :)

[2020-01-21 14:25] saschagrunert commented on #548
Alright, I will close this issue now but feel free to reopen in case of any further errors. :)

[2020-01-21 14:25] #548 closed

[2020-02-03 18:43] bacongobbler opened #573 "darwin support"
Note: this is a duplicate of #486, which was closed due to inactivity. Please feel free to close and re-open #486 if desired.

I noticed in the releases page that there is support for Windows and Linux distributions, but there is no macOS release available for critest or crictl. We are working on a CRI that can run natively on macOS. Is there a limitation preventing macOS support for critest/crict

[2020-02-03 19:51] saschagrunert commented on #573
Hey @bacongobbler, yeah if we can cross compile it like the windows version then feel free to spin up a PR on that. Thanks in advance! 🙏

[2020-02-11 08:12] feiskyer commented on #547
/close

[2020-02-11 08:12] #547 closed

[2020-02-11 08:14] #569 closed

[2020-02-21 08:53] drpaneas commented on #474
I have the same problem at the latest CRC environment:

[code]

[code]

what I did is:

* `docker save $image-name > image-name.tar` # from my local machine
* `scp image-name.tar core@`crc ip`:` # send the image to the CRC VM
* `sshcrc` # ssh into the CRC VM
* `cat image-name.tar | podman load` # load it using podman
Unfortunately `crictl images` do not see that image

[2020-02-21 10:28] saschagrunert commented on #474
This looks like a configuration issue to me, please verify that:

1. CRI-O and podman use the same storage driver in:
  * `/etc/crio/crio.conf`: option `stroage_driver`
  * `/etc/containers/storage.conf`: option `driver`
2. `/var/lib/containers/storage/` contains only one kind of `[driver]-{containers,images,layers}` directories (the selected above, or `overlay` as global fallback)

[2020-02-21 10:45] drpaneas commented on #474
1. CRI-O and podman use the same storage driver in:

   * `/etc/crio/crio.conf`:  it is commented out: `#storage_driver = "overlay"`
   * `/etc/containers/storage.conf`: it says `driver = "overlay"`
2. `/var/lib/containers/storage/` contains only one kind of `[driver]-{containers,images,layers}` directories (the selected above, or `overlay` as global fallback)

[code]

still doesn't find it.

[2020-02-21 10:56] saschagrunert commented on #474
Hm, the image should be referenced by its ID in `/var/lib/containers/storage/overlay-images`. Something like:
[code]
should show up the image as well.

What is the output of?
[code]

[2020-02-21 11:22] drpaneas commented on #474
[code]

[code]

[2020-02-21 11:35] saschagrunert commented on #474
Yep you have to run podman as root, otherwise it will choose the local storage :)

[2020-02-21 12:12] drpaneas commented on #474
Indeed, it now works:

[code]

[code]

[2020-02-21 12:20] saschagrunert commented on #474
Awesome! :+1:

And here you get "Sascha's tip of the day": You can load the image via `sudo podman -i image.tar`, too! :innocent:

[2020-02-22 07:39] #210 closed

[2020-02-22 07:39] #469 closed

[2020-02-22 07:39] #414 closed

[2020-02-22 07:39] #373 closed

[2020-02-22 07:39] #397 closed

[2020-02-22 07:39] #368 closed

[2020-02-22 07:39] #365 closed

[2020-02-22 07:39] #359 closed

[2020-02-22 07:39] #334 closed

[2020-02-22 08:40] #281 closed

[2020-02-22 08:40] #275 closed

[2020-02-22 08:40] #68 closed

[2020-02-22 08:40] #32 closed

[2020-02-22 08:40] #25 closed

[2020-02-22 08:40] #172 closed

[2020-02-22 08:40] #22 closed

[2020-02-22 08:40] #23 closed

[2020-02-23 07:02] #223 closed

[2020-03-16 06:46] feiskyer commented on #565
no errors found recently
/close

[2020-03-16 06:46] #565 closed

[2020-03-22 13:05] #474 closed

[2020-03-23 23:38] #551 closed

[2020-03-26 10:35] #422 closed

[2020-03-26 10:44] saschagrunert opened #577 "Create release v1.18.0"
Since Kubernetes v1.18.0 is released we should consider cutting v1.18.0 of cri-tools as well.

[2020-03-27 02:00] sober-wang opened #578 "getting status of runtime failed: rpc error: code = Unimplemented desc = unknown service runtime.v1alpha2.RuntimeService"
# ENV
Kubernetes:  v1.13.5,v1.15.6
cri-tools: v1.15.0 ,v.1.12

# Problem
When I user `crictl stats -p <POD_ID>` ,it's tell me

FATA[0000] get container stats failed: rpc error: code = Unknown desc = not implemented

[2020-03-28 02:33] feiskyer commented on #577
@saschagrunert would you cut the new release or let me do that?

[2020-03-30 06:57] saschagrunert commented on #577
I can take care of it :)

[2020-03-30 07:33] saschagrunert commented on #577
The changelog for v1.18.0 so far:

[code]

[2020-03-30 13:22] feiskyer commented on #577
@saschagrunert thanks. #579 merged now

[2020-03-30 13:32] saschagrunert commented on #577
We need one more: https://github.com/kubernetes-sigs/cri-tools/pull/581 I think travis is currently down, isn't it?

[2020-04-01 07:40] saschagrunert commented on #577
Release done: https://github.com/kubernetes-sigs/cri-tools/releases/tag/v1.18.0

[2020-04-01 07:40] #577 closed

[2020-04-01 08:33] feiskyer commented on #577
@saschagrunert thanks, let's update the version matrix as well #582

[2020-04-01 15:53] szberko opened #584 "crictl pulled image doesn't contain labels added to image previously"
We built a docker image with some custom tags using `LABEL` command in Dockerfile. We deployed the image on two K8s clusters, first with Docker and second with CRI-O as CRI.
Running the command `sudo crictl inspection <image_id>`  on both clusters results with the following:

Docker:
[code]

CRI-O:
[code]

As you can see `custom-metric-1` and `custom-metric-2` are available on Docker CRI but not o

[2020-04-02 07:41] saschagrunert commented on #584
Hey @szberko :wave:, the difference between both output is that CRI-O does not use the protobuf `Info` field populating the labels there. This is more an enhancement we could add to CRI-O rather than an issue in cri-tools :)

[2020-04-02 17:59] prasenforu commented on #547
@Nefelim4ag

Did you find any workaround ?

[2020-04-02 20:24] Nefelim4ag commented on #547
@prasenforu, nope
I just want to try run kubelet as cri-o container, as i already do in docker, but that deprecated, so i don't need this for now

[2020-04-03 00:05] erikwilson opened #585 "SELinux tests not enabled in critest release"
While attempting to validate selinux support for a containerd/cri PR I noticed that critest does not use the selinux tag when building the release binary, which is needed as one of the steps for selinux detection here: https://github.com/kubernetes-sigs/cri-tools/blob/1b602d0bfc59737f7bb2cf6bf6f5e70d6a1885ab/pkg/validate/selinux_linux.go#L38

As a workaround I am modifying the cri-tools makefile w

[2020-04-03 09:55] saschagrunert commented on #585
Hey @erikwilson :wave:, sounds good to me. A fix is incoming in https://github.com/kubernetes-sigs/cri-tools/pull/586

[2020-04-04 12:09] #585 closed

[2020-04-04 17:18] erikwilson commented on #585
Thanks @saschagrunert! 🎉

[2020-04-09 09:51] majst01 commented on #578
Same here:

containerd: 1.2.10
crictl: 1.18.0

[code]

[2020-04-09 20:40] majst01 commented on #578
after enabling cri plugin of containerd in /etc/containerd/config.toml:

[code]

everything works !

[2020-04-10 09:23] feiskyer commented on #578
@majst01 so, this is just the configure issues from containerd?

[2020-04-10 09:24] feiskyer commented on #578
@sober-wang which runtime are you using? is it the same issue?

[2020-04-10 09:35] sober-wang commented on #578
Kubernetes: v1.13.5,v1.15.6
cri-tools: v1.15.0 ,v.1.12
docker: 18.06.1-ce
containerd github.com/containerd/containerd v1.1.2

my version is low. : (

[2020-04-11 10:21] majst01 commented on #578
@feiskyer yes only configuration of containerd, cri plugin must be enabled !

[2020-04-11 16:57] #448 closed

[2020-04-12 01:53] feiskyer commented on #460
seems the issue hasn't been fixed yet. Let's reopen it.

[2020-04-12 01:54] feiskyer commented on #578
@majst01 Thanks.

/close

[2020-04-12 01:54] #578 closed

[2020-04-15 09:44] bcollard opened #587 "provide a brew package"
Hello,

Now that Docker Desktop proposes a nice experience for running a local Kubernetes cluster, it would be great to take advantage of crictl on Mac.
I saw this issue #573 for Darwin support, so I guess it's a prerequisite.
Could you help with producing a brew recipe please?

[2020-04-15 10:09] saschagrunert commented on #587
Hey @bcollard, thank you for the request. I'm not familiar with brew but I would expect that we have to put the recipe into their repositories, right? We're planning to publish the debs/rpms directly via the Kubernetes release engineering (see https://github.com/kubernetes/release/issues/739). Do you think we can point the brew formula (or its contents) to the same resources?

[2020-04-16 12:23] johscheuer commented on #587
There are two possible ways:
- do the same like [isitoctl](https://github.com/Homebrew/homebrew-core/blob/master/Formula/istioctl.rb) and [kubectl](https://github.com/Homebrew/homebrew-core/blob/master/Formula/kubernetes-cli.rb) which means compile `crictl` with go.
- Download the precompiled binaries and install these

I would assume that the both examples both are manually/community managed (whi

[2020-04-16 12:30] #573 closed

[2020-04-16 19:00] haircommander opened #589 "cri stats test doesn't specify a cgroup"
I can't find documentation on what a CRI impelmentation is supposed to do when an empty cgroup path is specified for a pod, but right now, CRI-O doesn't set it as anything. As such, we're failing the cri stats tests, as our cri stats implementation reads directly from the cgroup.

two questions:
what is the expectation on the implementation for an empty cgroup case?
Since this feels like an outlan

[2020-04-16 19:01] haircommander commented on #589
/cc @saschagrunert @mrunalp

[2020-04-16 19:32] haircommander commented on #589
ah but that would require cri-test to know which cgroup-manager the CRI implementation is set to use...

[2020-04-16 21:07] haircommander commented on #589
I have opted to work around this test instead: https://github.com/cri-o/cri-o/pull/3602

[2020-04-16 21:07] #589 closed

[2020-04-17 03:28] #572 closed

[2020-04-24 16:49] hickeyma opened #592 "Enable critest to use CRI server configuration file similar to crictl"
`crictl` tool allows CRI server configuration to be set in the following ways:
- CLI flags like `--runtime-endpoint` and `image-endpoint`
- Config file as specified by CLI flag (`--config`), in default system location, or in the binary path
- default values

`critest` uses:
- CLI flags like `--runtime-endpoint` and `image-endpoint`
- default values

I think `critest` CRI server configuration shoul

[2020-04-24 16:50] hickeyma commented on #592
If this is accepted, I would like to work on this if that's ok?

[2020-04-24 16:52] hickeyma commented on #592
/assign @hickeyma

[2020-04-26 13:24] witalisoft opened #593 "add crictl stats watch interruption"
crictl stats with watch option doesn't give option to interrupt ie. SIGINT the same as docker stats equivalent
propose to change:

[code]

[2020-04-27 07:00] saschagrunert commented on #593
Hey @witalisoft, I think this would be a good improvement. Do you mind creating a PR for that?

[2020-04-27 07:18] saschagrunert commented on #592
Yes I agree they should behave the same. Feel free to open a PR for it if no other voices raise up. :)

[2020-04-27 08:42] hickeyma commented on #592
Thanks @saschagrunert. I will push a PR soon unless someone objects in the meantime.

[2020-04-27 08:42] hickeyma commented on #592
/assign @hickeyma

[2020-04-27 15:25] hickeyma commented on #592
Pushed PR #594

[2020-04-29 09:36] #592 closed

[2020-04-29 17:42] hickeyma opened #597 "Should there be a default for the CRI server endpoint?"
Currently, the CRI server endpoint default is `dockershim.sock`. I am wondering if this makes sense as it could be `dockershim.sock` or `containerd.sock` or `cri-o.sock`?

Would it be better that the user specifies explicitly the endpoint? This way it avoids connecting unexpectedly to a running server.

[2020-04-29 18:15] mikebrow commented on #597
hmm..
maybe 1) check if there is a command line directive or config 2) if no cli directive or config check for a list of known default endpoints and display the connections you found and a warning  3) if only one default endpoint is found use it but complain loudly 4) if two or more and one is docker.. use that as the default but announce loudly that said default is deprecated.

I don't like the i

[2020-04-30 06:41] saschagrunert commented on #597
Yes I agree, some pre-checks should be fine and some more verbose logging too.

[2020-04-30 06:55] hickeyma commented on #597
Thanks for the feedback @mikebrow and @saschagrunert. I will look into this and push a PR shortly if that's ok?

[2020-04-30 07:26] saschagrunert commented on #597
Sure, thanks for taking action @hickeyma :pray:

[2020-04-30 07:32] hickeyma commented on #597
/assign @hickeyma

[2020-04-30 21:17] hickeyma commented on #597
PR #599 pushed

[2020-05-02 03:57] jiangxiaoqiang commented on #507
/reopen

[2020-05-02 14:54] mikebrow opened #602 "Missing config set option"
There's a config sub-command that's supposed to have get and set options ala git config pattern... the get works the set isn't there.

```crictl config - Get and set crictl options```

[2020-05-03 04:05] feiskyer commented on #364
/reopen

[2020-05-04 08:10] saschagrunert commented on #507
@jiangxiaoqiang is there anything we can do here for you? :)

[2020-05-05 11:28] szberko commented on #584
@saschagrunert I think we can close this issue. As I see CRI-O already released your fix with the latest version.
Thank you for your fast response and for your contribution. ❤️ 🙏

[2020-05-05 11:38] saschagrunert commented on #584
Awesome, thank you! :)

[2020-05-05 11:38] #584 closed

[2020-05-05 13:51] fuweid commented on #593
The PR has been merged and I think this issue can be closed :)

[2020-05-05 13:56] #593 closed

[2020-05-05 13:57] saschagrunert commented on #593
Awesome, thank you!

[2020-05-07 12:25] #597 closed

[2020-05-08 15:40] hickeyma commented on #602
@mikebrow I can work on this if thats ok?

[2020-05-08 16:20] hickeyma commented on #602
/assign @hickeyma

[2020-05-08 16:21] hickeyma commented on #602
Thanks @mikebrow. I will push a PR shortly.

[2020-05-11 08:41] mrshengzyzy commented on #546
how to solve ?

[2020-05-11 08:54] feiskyer commented on #546
@mrshengzyzy load images is part of CRI API, hence it won't be supported.

[2020-05-11 12:24] hickeyma commented on #602
@mikebrow The functionality is already there to set config from the cli. It is just not very user friendly.

I pushed PR #604 as a usability improvement. Please note in the PR description that it breaks CLI backwards compatibility. So, it might not be a suitable change.

[2020-05-11 13:08] mikebrow commented on #602
I see so the `--set` option was implemented in a silent fashion... or was the default for config if a field was provided...  hmm.. yeah that wasn't obvious

[2020-05-11 13:37] hickeyma commented on #602
Yeah, not obvious. You called it without a flag as per this example:

[code]

[2020-05-11 13:55] mikebrow opened #605 "config command overwrites config"
What I expected to happen was to change only the runtime-endpoint in the config.

But what happened was it generated an entirely new config with defaults overwriting the prior config.
[code]

Suggest a --default for generating a new config, and modify current behavior to not delete comment lines blank lines other text in the config.

[2020-05-11 15:34] mikebrow commented on #605
also.. zero timeout seems wrong

usage says the default should be 2s

[2020-05-11 18:17] mikebrow commented on #605
looks like the func ReadConfig(filepath string) (*Config, error) { code in pkg/common/file.go is missing the default values for the config it creates.. probably need a newConfig func and pass that to ReadConfig... or something to that effect.

[2020-05-11 18:22] mikebrow commented on #605
so two issues... when setting a config value the config command
1) fails to generate a config struct with the correct defaults
2) overwrites the config file vs simply inserting new values, possibly resulting in loss of information

[2020-05-11 20:53] hickeyma commented on #605
@mikebrow Pushed #606 as a fix for timeout issues.

[2020-05-11 20:54] hickeyma commented on #605
@mikebrow I can work on PR for the writing only changes to file if that's ok?

[2020-05-11 23:10] mikebrow opened #608 "experimental-dockershim flag was deprecated now removed"
Kubernetes removed the experimental-dockershim flag in kubernetes/kubernetes#87746.

will need to explore what if any work is needed to get the test buckets running again.. may just have to remove the flag.. may have more work to do.

[2020-05-13 10:09] hickeyma commented on #608
Workaround fix for the moment merged: #607

[2020-05-13 12:36] mikebrow commented on #608
that works thanks for getting CI back up ..

[2020-05-13 15:16] buccella opened #609 "crictl pods --name returns 0 exit code if no matches found"
When searching for pods using the `--name` flag, `crictl pods` will always return a `0` exit code. This differs from other tools, such as grep, where an exit code of `1` is returned if no matches are found.

This behavior would be useful when scripting.

[2020-05-13 15:19] saschagrunert commented on #609
Hey @buccella, :wave: I think we could add that behavior but I'm not sure if we would break existing scripts. We could add it as an option (`--exit-code`) like other tools implement it. Do you mind proposing a PR for that?

[2020-05-14 21:29] buccella commented on #609
You're right, the existing behavior should probably be preserved.

If I can find some time, I'll put together a PR.

[2020-05-15 07:24] saschagrunert commented on #609
Sounds good, let me assign the issue to you
/assign @buccella

[2020-05-15 07:26] #602 closed

[2020-05-15 12:24] Sealteam56 opened #610 "Are there crictl replacement for these dockerd commands"
- Ensure the host's network namespace is not shared:

    Need to find crictl replacement for this command:
[code]

- Ensure that the PIDs cgroup limit is used

    Need to replace this command....
[code]
    with some `crictl inspect -o json` command. need to find the crictl analogue for docker's HostConfig.PidsLimit

[2020-05-15 16:57] mikebrow commented on #605
Additional issue with config command:
[code]
Does an invalid write even if there are no config set items and still provides usage for the command.

[2020-05-15 17:07] mikebrow commented on #605
so the remaining issue after #606 is merged is the invalid use and behavior of common config writer

[2020-05-19 10:29] mikebrow commented on #610
crictl isn't a replacement for docker.... crictl relies on container runtimes to provide it's version of the `crictl inspect` result. Depending on the container runtime you are using, and the config.json used to run the container, there may or may not be sufficient detail in the inspect results to give you your answer.

[2020-05-19 10:36] mikebrow commented on #568
crictl only sends the commands to the container runtime... crictl can not enforce the behavior. The container runtime in this case is moby/docker and it's being driven by dockershim which is a component in kublet in kubernetes... https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet/dockershim

suggest close here and reopen at the point of failure.

[2020-05-19 11:00] mikebrow commented on #568
also dup:
https://github.com/kubernetes-sigs/cri-tools/issues/504

[2020-05-20 15:59] senthilrch commented on #568
This is not a duplicate of #504

On Tue, 19 May, 2020, 4:31 PM Mike Brown, <notifications@github.com> wrote:

[2020-05-20 16:48] mikebrow commented on #568
crictl.. sends the action to the container runtime... the container runtime returns the result of the action.. in this case the container runtime returned success for the rmi request. A force option may be more successful #504.  You'll have more luck getting this addressed at the container runtime than here in the crictl tool.

[2020-05-21 07:57] senthilrch commented on #568
Ok, I'll check with the force option and update the results here.

[2020-05-26 06:23] #514 closed

[2020-05-26 14:56] mikebrow opened #613 "suggest adding github actions"
In particular it would be beneficial to be testing the various cloud container runtimes against cri-test against k8s master and cri-tools master to ensure stability of the CRI api. ATM only dockershim is being tested in travis for cri-tools CI.

Desired Actions:

- containerd items
  - [x] containerd master ubuntu 18.04 LTS runc
  - [x] matrix over available platforms, releases of containerd, runt

[2020-05-26 15:25] saschagrunert commented on #613
Okay, how would the test look like?

We test the `crictl` master against a stable version of container runtimes? We could also add prow jobs to test-infra for that. But I'm also open to use GitHub actions.

[2020-05-26 16:03] mikebrow commented on #613
just a simple install and run of container runtime (with it's dependencies)
followed by running cri-test against it's sock..

I would suggest running against the latest release of the container runtime with a must run and the container runtime's master branch with an "optional" run.

[2020-05-26 16:08] mikebrow commented on #613
https://github.com/containerd/cri/blob/master/.github/workflows/ci.yml#L75-L143

minus the unit and integration tests... and add a parameter to set the current master branch version of cri-tools .. I've been chatting it up a bit with @hickeyma for the potential of a containerd test here.. need to broach it with the cri-o team to add one for theirs.. similar to the e2e tests already added.  I like

[2020-05-26 16:09] saschagrunert commented on #613
Yeah, sounds good to me. :+1: Are you planning to open-up a PR for that?

[2020-05-26 16:10] mikebrow commented on #613
I or @hickeyma for containerd.. if that works out well we could do the crio one.. or someone could volunteer :-)

[2020-05-26 16:11] mikebrow commented on #613
dockershim .. dunno..   I'd wait till it's back up working against k8s master again .. then maybe move it off travis as well..

[2020-05-26 16:13] saschagrunert commented on #613
I can take the CRI-O part, for sure :)

[2020-05-26 16:14] mikebrow commented on #613
I think you'll like github actions.

[2020-05-26 16:18] hickeyma commented on #613
I can do the containerd part if that's ok?

[2020-05-26 20:33] Sealteam56 commented on #610
@mikebrow - thank you for your response. As you have mentioned crictl is not a replacement for dockerd cmds. My ask is if there is a crictl cmd like the docker inspect. I do believe that within Kubernetes there is now a solution.

[2020-05-27 02:07] silenceper opened #614 "crictl operation should be a separate package，not main"
Cri API (such as inspect, list, etc.) should be divided into separate packages, which can be called from outside

[2020-05-27 06:52] saschagrunert commented on #614
Hey, @silenceper, may I ask you which benefits you see to split them up? cri-tools is usually not used as library which would support that use case, but I may be wrong.

[2020-05-27 07:33] silenceper commented on #614
sorry,I found that grpc can be used to communicate with cri directly.

[2020-05-27 07:33] #614 closed

[2020-05-27 07:39] saschagrunert commented on #614
Alright, feel free to open another issue if there is anything else unclear. :)

[2020-05-27 13:41] hickeyma commented on #608
PR #611 opened to provide a permanent solution.

[2020-05-27 13:44] hickeyma commented on #608
/assign @hickeyma

[2020-05-27 13:48] hickeyma commented on #605
/assign @hickeyma

[2020-05-28 19:09] dims commented on #613
fyi, i got the standalone dockershim working in a github action
- https://github.com/dims/cri-tools/pull/3/files

Here's a clean run:
- https://github.com/dims/cri-tools/runs/717714970?check_suite_focus=true

[2020-05-28 20:19] mikebrow commented on #613
Whoot! that's three CRIs!

[2020-05-28 20:20] mikebrow commented on #613
now just need to decide where to put it..  kubernetes-sigs/dockershim?

[2020-05-28 20:31] dims commented on #613
@mikebrow @thajeztah how about somewhere in moby github org?

[2020-05-28 20:32] dims commented on #613
there was discussions already about this in code-organization and we did not like any of the options.

[2020-05-28 23:38] justaugustus opened #616 "Use K8s Infra GCS bucket for uploading release artifacts"
(Carrying this over from my personal TODOs now that the bucket exists...)

- [x] (@justaugustus - https://github.com/kubernetes/k8s.io/pull/908) Create a `k8s-artifacts-cri-tools` prod GCS bucket for uploading release artifacts
- [x] (@justaugustus) Backfill releases to new bucket
- [ ] Update k* org consumers to use the new bucket:
  - [ ] (@saschagrunert) k/k
    - [x] `master` branch: https://g

[2020-05-28 23:40] justaugustus commented on #616
All releases have been uploaded to the new bucket!

Backfill log:

[code]

[code]

[2020-05-28 23:42] justaugustus commented on #616
And here's a current listing of the bucket contents:

<details>

[code]

</details>

[2020-05-28 23:46] justaugustus commented on #616
@saschagrunert -- I'll leave you to handle the k/k re-revert of https://github.com/kubernetes/kubernetes/pull/91239, and I'll take care of the k/release changes.

[2020-05-29 07:00] saschagrunert commented on #616
Sounds good, thank you! I'll re-open the PR and change the scripts to point to the new location.

[2020-05-29 08:42] hickeyma commented on #613
@dims Way to go. Excellent work. 👏

[2020-05-29 14:18] dims commented on #613
fyi, i threw in a github action that uses cri-tool tests in the cri-dockerd repo and it turned out really well
latest run - https://github.com/dims/cri-dockerd/runs/720555441?check_suite_focus=true
github action itself - https://github.com/dims/cri-dockerd/blob/master/.github/workflows/main.yml

[2020-05-29 14:30] hickeyma commented on #613
Nice work Dims! :)

[2020-05-30 03:34] justaugustus commented on #616
@saschagrunert -- FYI, you'll want to cherry pick the bucket location change in https://github.com/kubernetes/kubernetes/pull/91564 as well.

[2020-06-02 07:55] saschagrunert commented on #616
Yep, the changes for the master has been merged. The release branch PRs are:

- 1.16: https://github.com/kubernetes/kubernetes/pull/91663
- 1.17: https://github.com/kubernetes/kubernetes/pull/91662
- 1.18: https://github.com/kubernetes/kubernetes/pull/91661

[2020-06-03 08:31] #507 closed

[2020-06-03 16:54] #605 closed

[2020-06-03 18:26] mikebrow commented on #613
added a work item list above

[2020-06-04 09:18] saschagrunert opened #620 "Proposal: Use kubernetes/kubernetes PR template"
Hey, this is just a proposal and would like to hear your options about using the same PR template like we do in k/k or k/release. This would allow us to easier collect the release notes as well as better labeling via prow.

[2020-06-04 09:20] saschagrunert commented on #613
Working on the CRI-O master part in https://github.com/kubernetes-sigs/cri-tools/pull/619

[2020-06-05 07:08] saschagrunert commented on #613
@mikebrow did you mean:

I guess we can add a test to run against the latest version of CRI-O. crun would be possible to if we add it to the static binary bundle of CRI-O.

[2020-06-05 12:51] mikebrow commented on #613
Yes, cri-o, cut and paste fail :-)

Really it just meant we should add appropriate test variations (possibly tagged as optional).

For example, if you have a crio release candidate targeted to the latest release of kubernetes we should test that as well as your master. As for crun, I've been seeing subtle timing and other meta type issues with various tests when we switch from runc to crun. So pro

[2020-06-10 23:41] mikebrow opened #625 "By default create (container) should not pull image"
Details here:
https://kubernetes.io/docs/concepts/containers/images/#pre-pulled-images

Summary: kubernetes (kublet) manages pull policy for images.. and expects CRI to report status for images, pull images when requested (with and without auth), and create containers without doing the pull image.

As such our default configuration/policy should be for create to just create container.. not pull im

[2020-06-10 23:43] mikebrow commented on #625
Suggest a new config option to make --no-pull the default.

[2020-06-11 07:37] saschagrunert commented on #625
Sounds good to me, are you going to submit a PR for that change?

[2020-06-16 07:50] liticia-hub commented on #420
@dungdm93 can you tell me please what does metadata.uid represent and what are its available values ?
thank you

[2020-06-20 00:49] gebi commented on #546
sorry but your answer is really hard to understand without already knowing the answer.
(eg. why should it not be supported when it's part of the CRI API and this is cri-tools?!)

Then answer is, that there is an additional tool called `ctr` ("containerd CLI") that is able to do this.

Command:
[code]

Nice writeup: https://blog.scottlowe.org/2020/01/25/manually-loading-container-images-with-contai

[2020-06-20 08:08] #568 closed

[2020-06-30 19:24] mikebrow opened #632 "RemoveContainer rule not being tested properly"
The CRI api states:
[code]
https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1alpha2/api.pb.go#L7309-L7313

cri-tools conformance tests:
[code]
https://github.com/kubernetes-sigs/cri-tools/blob/master/pkg/validate/container.go#L111-L119

As shown above the conformance test does not test for a running container.

It is expected, however, that some if not all of the container runti

[2020-07-01 16:17] #625 closed

[2020-07-02 08:50] hickeyma commented on #620
I think this is a good idea. Helps OPs and gives a consistent feel from the k8s ecosystem.

[2020-07-02 08:53] hickeyma commented on #608
@mikebrow Now that #611 has landed, I think that this issue can be closed.

[2020-07-02 08:58] saschagrunert commented on #608
I agree, feel free to reopen if anything else needs to be done.
/close

[2020-07-02 08:59] #608 closed

[2020-07-02 14:57] mikebrow commented on #608
agree closed...

[2020-07-06 07:04] #620 closed

[2020-07-06 17:35] mikebrow commented on #632
dockershim, containerd, and cri-o all support the new test case now so.. closing

[2020-07-06 17:35] #632 closed

[2020-07-06 17:41] mikebrow commented on #613
updated status ^

[2020-07-07 17:35] hickeyma opened #639 "Add Go 1.14 support"
#### What would you like to be added:

Add Go 1.14 support to CI

#### Why is this needed:

Go 1.13 goes out of support before Kubernetes 1.19 release: https://github.com/kubernetes/kubernetes/pull/92438#issuecomment-651256619

#### Notes:

- There is a known issues with EINTR introduced in Go 1.14: https://golang.org/doc/go1.14#runtime
- This means for the Kubernetes ecosystem that there is a req

[2020-07-07 17:56] saschagrunert commented on #639
Yeah Kubernetes decided to skip go 1.14, we’re now thinking how to switch directly from 1.13 to 1.15. Do we wanna follow that approach, too?

[2020-07-07 18:43] hickeyma commented on #639
That sounds good @saschagrunert, thanks. We could use this open issue to track the strategy when it becomes more apparent from Kubernetes side?

[2020-07-07 18:49] saschagrunert commented on #639
There are still ongoing discussions about the path BF forward but I think a good tracking issue is https://github.com/kubernetes/release/issues/1216 for now. :)

[2020-07-07 19:18] mikebrow commented on #639
yeah make 1.14 an optional top test..

[2020-07-14 06:35] louielong opened #640 "crictl tag support"
#### What would you like to be added:
Could crictl support change image tag

#### Why is this needed:
This feature is similar with #438  , but what I need is not use crictl replace docker.

I have a scenario need change image tag: due to network issues, I can't get the image directly from GCR, so I need to pull image from third-party mirror repo，then change image tag，and this scenario also applies

[2020-07-21 10:16] snir911 opened #642 "crictl inspect presents wrong args when health check are applied"
#### What happened:

When you create a pod with health check and inspect its container using `crictl inspect` it presents "args:" as the health check args

(In the example below you get the "echo ..." cmd)

#### What you expected to happen:

`critctl inspect` should present the container args

(In the example below you would expect to get the "/bin/sh ..." cmd)

#### How to reproduce it (as minima

[2020-07-21 10:54] saschagrunert commented on #642
Hey @snir911 :wave: may I ask you which container runtime you use on top of runc? Is it CRI-O, containerd or dockershim (integrated in Kubernetes)?

[2020-07-21 11:08] saschagrunert commented on #642
I think this may be related to how the probes are implemented: Each probe will do an execsync request which (at least in CRI-O) overwrites the args passed to the container. This does not affect the state on disk and may be a bug (xref https://github.com/cri-o/cri-o/issues/3988).

[2020-07-21 11:43] snir911 commented on #642
This indeed was with with cri-o, thanks for the quick fix.

[2020-07-21 11:48] saschagrunert commented on #642
Thank you for the report, let's track the issue in https://github.com/cri-o/cri-o/pull/3989

/close

[2020-07-21 11:48] #642 closed

[2020-07-29 21:01] mikebrow opened #644 "Add bash completions for the short ids"
##  What would you like to be added:
A nice feature to add to the crictl client would be the addition of additional bash completions for the short ids.

#### Why is this needed:
Usability of the CLI. Today some container runtimes support using short ids.. however a user of the client may prefer to see what the actual id is vs entering a partial id and hoping the request works.

Would make removing

[2020-07-29 21:06] mikebrow opened #645 "Bash completions"
#### What happened:
bash completions are not fully functional.. e.g.
[code]
#### What you expected to happen:

list of pod ids or nil

https://github.com/kubernetes-sigs/cri-tools/pull/643#issuecomment-665917849

[2020-08-10 06:38] saschagrunert commented on #460
/remove-lifecycle rotten

[2020-08-11 08:51] dweomer opened #650 "critest against containerd under selinux fails 'runtime should support HostIpc is true'"
#### What happened:
With SELinux=Enforcing and updated `container-selinux` policy, `critest` is failing 'Security Context / NamespaceOption / **runtime should support HostIpc is true**'. I believe this is because of the fact that the container run for this assertion is not privileged (process label `container_t` instead of `spc_t`) which is needed to read host shared memory via `ipcs -m`.
See:
- h

[2020-08-13 08:38] saschagrunert commented on #609
Do you have any updates on this @buccella? :innocent:

/remove-lifecycle stale

[2020-08-17 16:22] dweomer commented on #650
/cc @mikebrow @crosbymichael

[2020-08-24 06:31] saschagrunert opened #652 "Release v1.19.0"
Hey maintainers :wave:,

I'd like to release v1.19.0 this week together with Kubernetes v1.19.0. Should I take care of that?

Things to be done:
- Create the release notes
- Cut the release and upload the binaries here
- Upload the binaries to the sig/release bucket

[2020-08-26 09:10] hickeyma commented on #639
@saschagrunert Thanks for pushing #651. Does the PR close this issue?

[2020-08-26 10:15] saschagrunert commented on #639
I think so, yep
/close

[2020-08-26 10:16] #639 closed

[2020-08-26 10:21] hickeyma commented on #639
That's great, thanks @saschagrunert

[2020-08-26 11:14] saschagrunert commented on #652
Changelog:
[code]

[2020-08-26 12:22] mopsfelder opened #654 "Makefile BINDIR is hard-coded to /usr/local/bin"
#### What would you like to be added:
The possibility to install cri-tools in other directories and not only in `/usr/local/bin`, which is hard-coded as `BINDIR := /usr/local/bin` in `Makefile`.

#### Why is this needed:
Allowing cri-tools to be installed on other directories, e.g.: `/opt/bin`, adds flexibility to the installation process without changing previous behavior.  The default installati

[2020-08-26 12:34] saschagrunert commented on #654
Hey @mopsfelder :wave: , thank you for opening the issue report.

Would something like this not work for you?
[code]

[2020-08-26 12:52] mopsfelder commented on #654
Hey @saschagrunert :)

It does work:

[code]

However, it doesn't honor the `BINDIR` environment variable:

[code]

Using a deferred assignment for `BINDIR`, makes it more flexible and also honor the environment:

[code]

[2020-08-26 12:55] saschagrunert commented on #654
I agree, let’s sort this out with the fix proposed by your PR. 👍

[2020-08-26 13:14] #654 closed

[2020-08-26 16:04] mikebrow commented on #652
suggest...
[code]

[2020-08-26 19:32] mikebrow commented on #650
In a nut.. the idea is container runtimes should nil the processLabel and mountLabel returned from selinux returned [InitLabels](https://github.com/containerd/cri/blob/56a89cda34644fedf0c99f96c888de5851e0e406/vendor/github.com/opencontainers/selinux/go-selinux/label/label_selinux.go#L30) when the pod-sandbox linux security policy is privileged, hostIPC, hostPID (what about hostNetwork?)....  Seems

[2020-08-26 19:47] mikebrow commented on #650
I surmise (from the crio code) container runtimes should nil (not use) the processLabel and mountLabel returned from selinux-InitLabels when the pod-sandbox linux security policy is privileged, or hostIPC, or hostPID (what about hostNetwork?).... Seems if that was supposed to be common behavior, we should document it (here)[https://kubernetes.io/docs/concepts/policy/pod-security-policy/#host-names

[2020-08-27 08:02] saschagrunert commented on #652
Yep, added it to the notes. :+1:

[2020-08-28 09:51] saschagrunert commented on #652
Planning to cut the release in the next hours.

[2020-08-28 10:20] saschagrunert commented on #652
The binaries have to be pushed to the SIG release GCS bucket, after that we can close this issue.

[2020-08-28 10:49] hickeyma commented on #613
@mikebrow I think the list could be updated following merging of PRs since last update. I would think all is complete except for:
- Owner for dockershim moby/kubernetes-sigs
- Dockershim critest on Windows: #634
- Build on linux-ppc64le: Not yet supported by GH actions

[2020-08-28 13:20] saschagrunert commented on #652
The binaries are now available there: https://console.cloud.google.com/storage/browser/k8s-artifacts-cri-tools/release/v1.19.0

/close

[2020-08-28 13:20] #652 closed

[2020-08-31 18:29] mikebrow commented on #613
updated

[2020-09-01 11:35] hickeyma commented on #364
@saschagrunert @feiskyer @yujuhong Just wondering if this is covered by the work in #613?

[2020-09-01 12:37] saschagrunert commented on #364
Hm partially, it was more about e2e testing the functionality of crictl.

[2020-09-02 07:57] 111andre111 commented on #587
I have a question: Can we get some drive into this topic?

[2020-09-02 07:59] feiskyer commented on #364
yea, not finished yet.

[2020-09-02 08:07] hickeyma commented on #364
ok, thanks for the feedback @saschagrunert @feiskyer

[2020-09-03 23:39] ehashman opened #659 "Runner scripts do not respect BINDIR"
#### What happened:

I ran `~/go/bin/critest` with `BINDIR=~/.local/bin`.

#### What you expected to happen:

Tool successfully runs.

#### What actually happened:

[code]

There's no need for these scripts to touch system directories, even if they want to use `/usr/local/bin`. These paths appear to be hardcoded in many places.

#### How to reproduce it (as minimally and precisely as possible):

I

[2020-09-04 12:31] jeus opened #660 "/usr/local/bin/crictl: 1: Syntax error: ")" unexpected"
when install crictl for k3s with --docker and run "sudo crictl info" get this error:
`/usr/local/bin/crictl: 1: Syntax error: ")" unexpected`

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:

- k3s-agent.service run with docker on ubuntu server for raspberry pi 4:
- OS (e.g: `20.04.1 LTS

[2020-09-04 12:42] saschagrunert commented on #660
Hey, thank you for opening the issue! :wave:

How did you install crictl? Might it be possible that `/usr/local/bin/crictl` is a wrapper? Whats the output of:

[code]

[2020-09-09 22:40] matti commented on #438
well, now kubernetes is removing docker https://github.com/kubernetes/kubernetes/pull/94624

would be handy to tag and push in node during that famous troubleshooting

#640

[2020-09-11 08:16] justaugustus commented on #616
@saschagrunert -- Let's please work on getting the cherry picks approved, so we can close this out.

/remove-lifecycle stale
/unassign

[2020-09-11 08:54] saschagrunert commented on #616
Yes, master and 1.16 are now done. Just waiting for 1.17 and 1.18.

[2020-09-12 00:51] knabben commented on #460
This is very confusing and relative paths are not supported at all, if the local socket resides on */run/containerd/containerd.sock*, and you set something like *--runtime-endpoint=../run/containerd/containerd.sock* it works.

But cd-ing into /run/another-folder, and using *--runtime-endpoint=../containerd/containerd.sock* does not.

The "wrong" parse comes from [here](https://github.com/kubernete

[2020-09-14 13:48] mikebrow opened #661 "OCI Image and Distribution conformance"
A suite of CI tests focusing on OCI distribution and OCI image conformance is desired.

At the start of this project the number of clients and registries were fairly low compared to today. Testing but one docker image format (schema 2) on one registry (docker.io) is insufficient for today's CRI environment.

Support exists already for changing the prefix, registry, for the images used in test. The

[2020-10-02 08:39] #587 closed

[2020-10-07 15:14] honnix opened #669 "crictl inspecti does not print valid JSON when multiple image IDs provided"
#### What happened:
I ran `crictl inspecti -o json <id1> <id2>`, and this output two JSON chunks instead of valid JSON array. The result makes using other tools to process output very hard.

#### What you expected to happen:
A valid JSON array containing two dictionaries.

#### How to reproduce it (as minimally and precisely as possible):
Run `crictl inspecti -o json <id1> <id2>` and examine the o

[2020-10-07 19:06] honnix commented on #669
A possible workaround could be replacing the output using regex `\}\s*\{` with `},{` and then padding `[]`. Still feels flaky though.

[2020-10-08 08:23] saschagrunert commented on #669
Yeah, the same issue exists for `inspecti` and `inspectp`. The `for` loops are not taking the output type into account.

[2020-10-16 07:49] lovebaby979 opened #671 "how to login my repository"
podman login my repository report error,how to setting?

error:
# podman login registry.my.com:31231
Authenticating with existing credentials...
Existing credentials are invalid, please enter valid username and password
Username (admin): admin
Password:
Error: error authenticating creds for "registry.my.com:31231": pinging docker registry returned: Get https://registry.my.com:31231/v2/: http: serv

[2020-10-16 07:51] saschagrunert commented on #671
Hey @lovebaby979 can you please move that issue to Podman and go a bit more into detail by filling their issue template? This project is not really related to Podman.

[2020-10-16 09:44] lovebaby979 commented on #671
sorry,how to remove@saschagrunert

[2020-10-16 10:46] saschagrunert commented on #671
Let's just close this for now.
/close

[2020-10-16 10:47] #671 closed

[2020-10-19 13:40] paulcostinean opened #672 "publish new rpm/deb releases"
RPMs for releases newer than 1.13 are not published (checked [stable](https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/filelists.xml) and [unstable](https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64-unstable/repodata/filelists.xml))

Related (closed) issue: https://github.com/kubernetes/release/issues/739

Posting this here to get more visibility.

[2020-10-23 01:06] r0bj opened #673 "crictl logs -f cannot stop with ctrl+c"
#### What happened:

Cannot break command `crictl logs -f` with ctr+c.

#### What you expected to happen:

Ctrl+c breaks command `crictl logs -f` and shell prompt is released.

#### How to reproduce it (as minimally and precisely as possible):

[code]

Note: logs are still streamed on screen despite multiple ctrl+c.

#### Anything else we need to know?:

#### Environment:

[code]

[code]

[code]

[2020-10-23 22:04] #610 closed

[2020-10-27 18:20] coopstah13 commented on #482
Can we reopen this? It is inherently insecure to put the credentials into the command line.

[2020-10-28 08:06] axiqia opened #675 "how to attach a container?"
Hi, everyone, I run a container with a contianer.yaml :
[code]

And the container is running in the background.
[code]

Then I want to attach the running container but met a FATA.
[code]

**My question is how to attach a container?**

I also find an issue mentioned attach, [here](https://github.com/kubernetes-sigs/cri-tools/issues/433). If we use a command `bin/sh` in contianer.yaml, the container

[2020-10-28 08:31] saschagrunert commented on #645
/remove-lifecycle stale

[2020-10-28 08:35] saschagrunert commented on #675
Can you try adding the `-i` flag for the `crictl attach` command, too?

[2020-10-28 10:44] axiqia commented on #675
@saschagrunert  Thank you for your quick reply.  I try with `crictl attach -t=true -i=true containerID`, but there is no terminal, and I can not input anything.
The command `crictl exec -i -t  containerID /bin/bash` provides an interactive input terminal for me. However, when the time specified in `continaer.yaml` runs out, the container exit. Is it possible to run a container and specify an inter

[2020-11-05 11:55] dvzrv opened #676 "Unable to build from source tarball"
#### What happened:

Hi! I would like to package cri-tools for Arch Linux. Unfortunately I am not able to build from a source tarball and therefore do a form of upstream source verification (via checksum comparison). From a packaging perspective this is not good.

#### What you expected to happen:
Download a release tarball (e.g. a CI manufactured tarball) and build from it after extracting it.

#

[2020-11-05 13:46] saschagrunert commented on #676
Hey @dvzrv, thank you for submitting the issue!

I think we could solve this problem with adding a dedicated VERSION file to the repository and reading the version from it instead of invoking a git command.

[2020-11-06 10:41] honnix opened #677 "Equivalent docker cp command"
#### What would you like to be added:
`docker cp` similar command to sync files between a container and host file system.

#### Why is this needed:
Very often there is a need to copy files around. I couldn't find the equivalent command in `crictl`.

[2020-11-06 10:48] saschagrunert commented on #677
Hey @honnix. thank you for the feature request. Unfortunately the Container Runtime Interface (CRI) does not support that functionality. `crictl` only implements this interface and kinda mimics partly the kubelet's interface. I think sticking to `kubectl cp` might be the best alternative here.

[2020-11-06 11:01] honnix commented on #677
@saschagrunert Thanks for explaining! Yeah that is indeed the best alternative, although the limitation of `kubectl cp` is annoying for certain cases.

[2020-11-06 11:01] #677 closed

[2020-11-09 11:33] saschagrunert opened #678 "Add tests for CRI security profiles (seccomp/AppArmor)"
The Container Runtime Interface will feature AppArmor and Seccomp security profiles as replacement for the now deprecated profile paths. We should update the test suite to verify those new fields, too.

[2020-11-11 09:20] saschagrunert commented on #609
/remove-lifecycle stale

[2020-11-17 17:58] hickeyma opened #687 "Promote test images to k8s.gcr.io"
#### What would you like to be added:

- [x] Add cri-tools to k8s.gcr.io: https://github.com/kubernetes/k8s.io/pull/1431
- [ ] Add new [cloud builder](https://cloud.google.com/cloud-build) process to build test images and push images to staging GCR repos:
     - [x] Test user images: #696
     - [ ] Test images
     - [ ] Test win images
     - [ ] Test hostnet images
- [ ] Testinfra postsubmit jo

[2020-11-19 09:51] qiutongs opened #694 "New commands that are potentially useful"
#### What would you like to be added:

Some commands in Docker CLI may be also useful in crictl. I make a list here and see what people thinks about the usefulness. If you want to see a new command in crictl, please reply this issue and upvote for it.

Docker CLI | Description
-- | --
diff | Inspect changes on a container's filesystem
events | Get real time events from the server
history | Show th

[2020-11-27 08:31] #482 closed

[2020-11-30 08:25] saschagrunert commented on #613
@mikebrow is there anything we would like to integrate before closing this issue? :)

[2020-11-30 08:25] saschagrunert commented on #613
/remove-lifecycle stale

[2020-12-07 10:16] lovebaby979 opened #699 "create pod error"
# crictl runp pod-test.yaml
FATA[0001] run pod sandbox failed: rpc error: code = Unknown desc = failed to create pod network sandbox k8s_busybox-sandbox_default_hdishd83djaidwnduwk28bcsb_1(88dab12419725676700f3e42d67d7ae2b6686f1551d6bd775333f91d787c7165): pods "busybox-sandbox" not found

on kubernetes cluster, salve node
kubernetes version: 1.14.3
crictl version: 1.18.0

pod.xml:
metadata:
  atte

[2020-12-07 10:17] lovebaby979 commented on #699
os: ubuntu18.04.3

[2020-12-11 09:03] saschagrunert opened #702 "Release v1.20.0"
Release a new version of cri-tools, aka v1.20.0.

Requires https://github.com/kubernetes-sigs/cri-tools/pull/701

[2020-12-11 09:07] saschagrunert commented on #702
Generate release notes by using the k/release release-notes tool:

[code]

@feiskyer @mikebrow @hickeyma do you see anything else to be added?

[2020-12-11 09:23] zhaocheng173 opened #703 "Warning prompt appears after installation"
This is how I installed it. I can use it after installation, but I always report problems
[code]

[code]

[code]

[2020-12-11 12:03] #640 closed

[2020-12-11 15:31] hickeyma commented on #702
/lgtm

[2020-12-12 03:17] feiskyer commented on #702
LGTM

[2020-12-12 03:34] sober-wang opened #705 "When I used containerd ,How to used crictl pull image from http registry?"
[code]
Version:  0.1.0
RuntimeName:  containerd
RuntimeVersion:  v1.4.3
RuntimeApiVersion:  v1alpha2

When I want use http image registry. the ctr can running.
[code]
But I used crictl pull http registry
[code]
DEBU[0000] get image connection
DEBU[0000] connect using endpoint 'unix:///run/containerd/containerd.sock' with '10s' timeout
DEBU[0000] connected successfully using endpoint: unix:///run/c

[2020-12-12 03:42] sober-wang commented on #705
I found the documents help me.
https://github.com/containerd/containerd/blob/master/PLUGINS.md#configuration-1

/cls

[2020-12-12 03:43] #705 closed

[2020-12-14 14:54] oldthreefeng opened #707 "can crictl load or save images like docker or containerd?"
#### What would you like to be added:

like docker or containerd,  the command is
[code]

#### Why is this needed:
for crictl.  its better to support who likes to use docker/containerd  when kubernetes 1.22 come

[2020-12-15 07:39] feiskyer commented on #702
@saschagrunert would you work this version release?

[2020-12-16 07:33] saschagrunert commented on #702
Unfortunately I’m right now not able to do the release because I’m moving over Christmas. I can do it early next year, would this still fit or do you want to take it over?

[2020-12-24 15:05] perezjasonr opened #709 "container or pod config.json examples"
#### What would you like to be added:

a reference in the docs on the container-config.json/yaml and pod-config.json/yaml

#### Why is this needed:

the example in the docs only has about 4 entries, i could not find a reference that shows the entire spec of options like if I want to mount fs and such (if applicable). or if its based on something external maybe a link to their reference?

this is t

[2020-12-26 23:06] #644 closed

[2020-12-29 18:15] ledroide opened #710 "unknown service runtime.v1alpha2.ImageService"
#### What happened:
[code]

#### System Info
[code]

#### What I have tried

* add "cri-containerd": true to /etc/docker/daemon.json -> no effect
* remove line "disabled_plugins = ["cri"]" from  /etc/containerd/config.toml + systemctl restart containerd -> no effect
* containerd config default > /etc/containerd/config.toml  ; systemctl restart containerd  -> no effect

#### Anything else we need t

[2020-12-29 23:06] SergeyKanzhelev commented on #616
/remove-lifecycle stale

[2021-01-06 11:17] feiskyer commented on #702
Released at https://github.com/kubernetes-sigs/cri-tools/releases/tag/v1.20.0.

[2021-01-06 11:17] #702 closed

[2021-01-06 23:00] CharlyRipp commented on #677
Looking to debug a connectivity issue in a container built on `scratch` by copying in a shell. Issue with `kubectl cp` is it utilizes `tar`, which is also not present :)

Figured I'd see if there was any ideas here as it's the place I keep landing back on.

[2021-01-11 11:14] saschagrunert commented on #710
So cri-tools still uses the `v1alpha2` version of the CRI. It looks like that the containerd version you're using already serves `v1`? cc @mikebrow

[2021-01-11 13:00] ledroide commented on #710
That is what the message tells, but I don't know why it happens, and how to fix it

[2021-01-14 20:27] perezjasonr commented on #709
also if volume mounts are not an option here at all and not intended letting me know would save the trouble.
but I still think an example with the full range of options in the specs would be useful (unless the examples in the docs are)

[2021-01-16 09:55] oldthreefeng commented on #710
@ledroide this is exactly your containerd cgroup driver is not equal with kubelet cgroup driver.

check your containerd cgroup driver
[code]
if systemd . you should add a env file like :
[code]

or the easy way to do is

[code]
may this help you.

[2021-01-18 10:11] pperiyasamy opened #713 "support for crictl login command"
#### What would you like to be added:
`crictl login` command to login  to a container registry.

#### Why is this needed:
currently we need to depend on `podman login` command to create auth file for a container registry and set `global_auth_file` property to auth file in `crio.conf `file.

[2021-01-21 01:56] r0bj commented on #673
/remove-lifecycle stale

[2021-01-21 09:26] lovebaby979 opened #715 "crictl run container fail!"
# crictl run container-config.json  pod-config.json
[code]

# cat  container-config.json
[code]
# cat  pod-config.json
[code]

# kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"archive", BuildDate:"1970-01-01T00:00:00Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"linux/amd64"}
Server V

[2021-01-23 23:01] #650 closed

[2021-01-26 19:02] micahhausler opened #716 "Provide .sha256 files in release artifiacts"
#### What would you like to be added:

#322 and #323 addressed producing .sha256 output to the release text, but I'd like `<filename>.sha256` files produced as well.

#### Why is this needed:

It'd be helpful to be able to programmatically fetch the shasums of artifacts so separate build processes that verify the integrity of the download. I'm working on kubernetes-sigs/kind#2033 and would like to

[2021-01-27 08:00] saschagrunert commented on #716
I agree this seems useful. :+1:

[2021-01-29 18:15] #716 closed

[2021-02-01 01:12] #659 closed

[2021-02-01 14:25] #660 closed

[2021-02-05 04:49] gjkim42 commented on #710
Not fixable in my case. Does anyone know any other things that cause this?

[2021-02-05 04:52] gjkim42 commented on #710
https://github.com/kubernetes-sigs/cri-tools/issues/436 works for me.

[2021-02-08 08:53] saschagrunert commented on #678
/remove-lifecycle stale

[2021-02-09 03:23] #460 closed

[2021-02-10 19:46] honnix commented on #669
I feel this will hardly be prioritized. /close

[2021-02-11 15:21] #661 closed

[2021-02-19 03:13] MaXinjian commented on #716
Seems now still no .sha256 files  in release artifiacts.  [Modify hack/release.sh script to include sha256 sum files #717] (https://github.com/kubernetes-sigs/cri-tools/pull/717) only show sha256 context

[2021-02-22 23:46] maybe-sybr opened #722 "`--image-endpoint` does not use `--runtime-endpoint` as documented in crictl usage"
#### What happened:
Setting `--runtime-endpoint` or `$CONTAINER_RUNTIME_ENDPOINT` does not appear to set the image endpoint to the same value as suggested in the usage text:

#### What you expected to happen:
I should be able to set `--runtime-endpoint` and not bother with `--image-endpoint`

#### How to reproduce it (as minimally and precisely as possible):
[code]

#### Anything else we need to k

[2021-02-26 05:04] jwstein3400 commented on #707
Duplicate of #546

[2021-03-01 04:40] povsister opened #723 "Is there any plan to migrate to cobra framework?"
There are something weird with the urfave framework, here are some examples I found:
* Global flags can not be specified with local flags
   * e.g: `crictl images --runtime-endpoint "path/to/xxx" ` gives unknown flag error
 * Specifying local flag after arbitrary args takes no effect, either no errors or warnings are reported
   * e.g: `crictl pull my-registry-private/something:v1.0 --creds XXXX `

[2021-03-01 06:31] povsister commented on #722
This probably caused by incorrect `ImageEndpoint` set in `crictl.yaml`.
If you have `ImageEndpoint` set in config yaml, and you only overrides the `RuntimeEndpoint` with CLI flags, the `ImageEndpoint` will not automatically changed to `RuntimeEndpoint` as you already have it explicitly defined in config yaml.

Check your crictl.yaml at `/etc/crictl.yaml`

[2021-03-01 07:44] saschagrunert commented on #723
Hey @povsister, thank you for your feedback! Right now there are no plans to switch the CLI interface. I think we have to distinguish the architectural design (tightly coupled code) and the used framework decisions here. Personally I do not have a strong feeling about cobra vs urfave/cli, so I'm curious what the other maintainers think.