[2021-03-01 09:16] saschagrunert commented on #707
@oldthreefeng thank you for the request! Unfortunately image loading is not part of the Container Runtime Interface (CRI), which is the main interface for crictl. Therefore we will not have a chance to implement it right now.

/close

[2021-03-01 09:16] #707 closed

[2021-03-01 10:09] povsister commented on #723
@saschagrunert Thanks for quick reply!
Let me give some examples.
* Coupled code:
   1. By using urfave, commands are "announced like slice", things are oriented with `urfavecli.Context`, flag values are typically retrieved like `ctx.String()`. Programmers relies too much on that "context", instead of building a clean one on their own.
       Thus, often leads to fetching configurations on-demand,

[2021-03-01 22:29] #722 closed

[2021-03-05 09:29] qinghai5060 opened #726 "results from "ctr images ls " and "crictl image" not the same"
#### What happened:
to use kubeadm install k8s 1.20.4 with CRI containerd , I use ctr images import k8s images like kube-apiserver-v1.20.4、pause and so on. And installed crictl with config
[code]
then pulled a image with it.
when I list images on the VM with ctr and crictl. their results return not the same ：
![image](https://user-images.githubusercontent.com/7577423/110095620-11cd3080-7dd8-11eb-9

[2021-03-06 10:16] Ruilkyu opened #727 "FATA[0000] getting the runtime version: rpc error: code = Internal desc = stream terminated by RST_STREAM with error code: PROTOCOL_ERROR"
FATA[0000] getting the runtime version: rpc error: code = Internal desc = stream terminated by RST_STREAM with error code: PROTOCOL_ERROR

[2021-03-08 08:22] saschagrunert commented on #727
Hey @Ruilkyu, may I ask you to share more information about this issue? To which server (container runtime) are you trying to connect? Which crictl version are you using?

[2021-03-09 08:12] Ruilkyu commented on #727
I used crictl 1.20

[2021-03-09 09:00] saschagrunert commented on #727
Alright. But did you use containrs? This does not support the crictl right now.

[2021-03-10 07:22] oldthreefeng commented on #726
when use ctr, you must add namespace to get images.

for kubernetes use .
[code]

[2021-03-10 07:31] oldthreefeng opened #728 "crictl info get wrong container runtime cgroupdrives when use containerd."
#### What happened:

config crictl.yaml
[code]

config contianerd for systemd cgroupdriver
[code]
Use crictl to get cri informations.  it returns false.

[code]

#### What you expected to happen:
like this:
[code]

#### Environment:
[code]

[2021-03-10 08:35] saschagrunert commented on #728
@mikebrow PTAL

[2021-03-10 16:29] mikebrow commented on #728
Apologies. The output of the runc options is crippled because of the failure of toml to dump the contents of toml.Primative https://github.com/containerd/containerd/blob/master/pkg/cri/config/config.go#L52

The field you grep'd is deprecated:
https://github.com/containerd/containerd/blob/master/pkg/cri/config/config_unix.go#L61
https://github.com/containerd/containerd/blob/master/pkg/cri/config/co

[2021-03-12 06:31] qinghai5060 commented on #726
Thanks

[2021-03-12 06:31] #726 closed

[2021-03-14 17:39] vorburger opened #729 "CI fails with Failed to start crio.service: Unit crio.service not found."
My #718 has _[Some checks were not successful](https://github.com/kubernetes-sigs/cri-tools/pull/718/checks?check_run_id=2107410132)_ but it's unrelated to that (trivial) change, and I've rebased to the latest `master` branch:

[code]

[2021-03-15 08:48] saschagrunert commented on #729
Thank you for the report @vorburger, a fix is in flight: https://github.com/kubernetes-sigs/cri-tools/pull/730

[2021-03-15 09:15] #729 closed

[2021-03-16 09:50] yimin-zhao opened #731 "Crictl pull images from 'registry.connect.redhat.com' with '--creds' failed"
#### What happened:
[code]

#### What you expected to happen:
Pull images from 'registry.connect.redhat.com'
#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:
I can use the same username/password to login docker, podman and skopeo.
I also tried `--auth AUTH_STRING` and got the same result.
#### Environment:

- Container runtime or hardware con

[2021-03-17 05:01] feiskyer commented on #731
@saschagrunert  any ideas on this?

[2021-03-17 08:42] saschagrunert commented on #731
Hey @yimin-zhao, unfortunately I cannot reproduce the issue with the latest CRI-O v1.20.1. What I did:

1. Created a service account like described there:
  https://catalog.redhat.com/software/containers/hazelcast/hazelcast-3-rhel7/5ae31e6129373854f0bba061?container-tabs=gti&gti-tabs=registry-tokens
2. sudo crictl pull --creds 'username:token' registry.connect.redhat.com/hazelcast/hazelcast-3-rhel

[2021-03-18 00:30] yimin-zhao commented on #731
Hi, I followed your link, but got the same error.

Anyway, thanks for the reply, so far I use skopeo as a workaround. Since I am using a development branch of crio/cri-tools, if it's not reproducible, I will close this later today.

[2021-03-18 08:26] saschagrunert commented on #731
Thank you for the update, feel free to reach out anytime if the issue is reproducible for you! :pray:

[2021-03-18 12:59] #731 closed

[2021-03-18 16:05] #672 closed

[2021-03-25 02:17] Ruilkyu commented on #727
When will it be possible？

[2021-03-27 12:32] #675 closed

[2021-04-04 15:42] #676 closed

[2021-04-05 09:56] Ruilkyu commented on #727
I have solved it.

[2021-04-06 07:35] saschagrunert commented on #727
How did you do that?

[2021-04-09 04:54] adisky commented on #728
We can close this issue It has been fixed in  https://github.com/containerd/containerd/pull/5300
/close

[2021-04-09 05:12] #728 closed

[2021-04-09 08:09] saschagrunert opened #738 "Cut v1.21.0"
#### Required PRs
- https://github.com/kubernetes-sigs/cri-tools/pull/737
- https://github.com/kubernetes-sigs/cri-tools/pull/739

#### Proposed release notes
[code]

[2021-04-09 08:57] saschagrunert commented on #738
Done :heavy_check_mark:

[2021-04-09 08:57] #738 closed

[2021-04-14 23:11] #609 closed

[2021-04-16 19:48] aniecki opened #756 "SeccompProfilePath test fails"
#### What happened:
sudo /usr/local/bin/critest

• Failure [4.780 seconds]
[k8s.io] Security Context
/home/sascha/go/src/github.com/kubernetes-sigs/cri-tools/pkg/framework/framework.go:72
  SeccompProfilePath
  /home/sascha/go/src/github.com/kubernetes-sigs/cri-tools/pkg/validate/security_context_linux.go:542
    should support seccomp localhost/profile on the container [It]
    /home/sascha/go/sr

[2021-04-18 11:45] #694 closed

[2021-04-21 02:04] r0bj commented on #673
/remove-lifecycle stale

[2021-04-21 13:29] saschagrunert commented on #687
/remove-lifecycle stale

[2021-04-23 01:07] simar7 opened #758 "Unable to list containers"
Hi thanks for maintaining this repo, I'm just having some difficulty getting started so below is my report:

#### What happened:

`crictl ps -a` doesn't list any containers.

#### What you expected to happen:

`crictl ps -a` should list all containers.

#### How to reproduce it (as minimally and precisely as possible):
[code]

#### Anything else we need to know?:

Containers are running and presen

[2021-04-23 02:37] feiskyer commented on #758
are those containers created via cri interface?

[2021-04-23 03:10] simar7 commented on #758
They are created with ctr tool. Is creating them through the CRI interface a pre requisite?

If so, how would it work with the current version of Docker? And cri-o?

[2021-04-23 03:28] feiskyer commented on #758
tag @mikebrow for containerd behavior on this API.

[2021-04-23 18:07] simar7 commented on #758
I see. It's similar behaviour with docker as well. I just want to know if CRI API is able to pick those up (containers created manually by containerd or docker cli) or if they have to be created with `crictl`?

We're looking to leverage CRI api as a way to be able to list running containers as it is runtime agnostic. That's the original motivation for this issue.

[2021-04-26 17:06] vrutkovs commented on #672
RPMs and DEBs are available at https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable:cri-o:1.21/cri-tools

[2021-04-26 22:47] simar7 commented on #758
Looks like this was an error on my part. I was using `minikube` which spins up a VM and I was using the `crictl` tool outside of the VM. Shelling into the VM with `minikube ssh` and running `crictl` worked fine. Sorry about the noise.

[2021-04-26 22:47] #758 closed

[2021-04-28 08:24] Mrzhangxd opened #760 "Use crictl pull private register image,Failed to pull image rpc error: code = Unknown"
#### What happened:
I use crictl pull a private register image，can't pull success. the error log is "Failed to pull image "registry.mgzf.com/devops/jenkins:lts": rpc error: code = Unknown desc = failed to pull and unpack image "registry.xxx.com/devops/jenkins:lts": failed to resolve reference "registry.xxx.com/devops/jenkins:lts": unexpected EOF"

![error](https://user-images.githubusercontent.com

[2021-04-28 08:59] saschagrunert commented on #760
This looks like containerd related, @mikebrow may you give this one a look?

[2021-04-28 15:21] mikebrow commented on #760
ctr and nerdctl don't use the CRI config... But let's close this here as it is not an issue with crictl... You can take a look at the issues/discussions over on containerd/containerd regarding registry support, the docs in containerd/containerd/docs/cri/* and the changes coming to the latest containerd configuration for registry mirrors, auth, etc..

[2021-04-29 02:08] #760 closed

[2021-04-29 10:00] #613 closed

[2021-04-30 11:11] #364 closed

[2021-05-06 11:51] #699 closed

[2021-05-12 16:54] sipasing commented on #336
Is there any update on this or any PR that fixed this ?

[2021-05-12 19:06] sipasing commented on #336
Never mind.. setting containerd service file as mentioned here https://github.com/containerd/cri/issues/834 worked for me.

[2021-05-21 02:06] #673 closed

[2021-05-25 09:05] saschagrunert opened #773 "critest: add test for adding and dropping `ALL` capabilities"
The capability conformance tests can be enhanced for also covering the `ALL` keywords in the allowed capability list.

/assign

[2021-06-02 02:56] shenshouer commented on #710
Comment  `disabled_plugins = ["cri"]` if exist in config.toml .

[2021-06-04 16:58] dalehamel commented on #709
@perezjasonr I too was surprised the examples were such stubs. Walking through the code, it lead me to this struct:

https://github.com/kubernetes-sigs/cri-tools/blob/eae503c01c469500a468f2ab5f628463584b8b58/vendor/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.pb.go#L3235

Which i guess constitutes the only "documentation" in term of what fields may be valid as far as I can tell.

[2021-06-04 17:09] perezjasonr commented on #709
thats a nice find, I guess thats what we got if were desperate for now

[2021-06-10 03:20] ccnankai opened #779 "pass custom environment variables"

[2021-06-10 20:08] furman-d1 opened #780 "crictl rm -f when container is running only stops container not stop and remove"
#### What happened:
Issued **crictl rm -f containerID** while the container was still running

#### What you expected to happen:
Expected to see container stopped and removed

#### How to reproduce it (as minimally and precisely as possible):
start a container that sleeps forever.  issue crictl rm -f on that container

#### Anything else we need to know?:
I debugged the problem - easy fix.
In cont

[2021-06-11 06:52] saschagrunert commented on #780
Hey @furman-d1, that's a good catch! Especially since the removal of a container (without force) works as intended. I think we should fix that behavior. Do you wanna open a PR for that?

[2021-06-11 19:41] furman-d1 commented on #780
Sure, I'll do a PR.

[2021-06-15 05:46] mlnsharma opened #781 "How to restart container using crictl ?"
Is there a similar command as 'docker restart' in crictl ?

I am using this in context of kubernetes 1.21, how can apply on the fly change in a container and test it ?

If I use crictl stop/start, it will create a new container and any changes made inside the container will be lost

[2021-06-15 11:00] #779 closed

[2021-06-16 07:05] #780 closed

[2021-06-17 11:33] #713 closed

[2021-06-20 10:51] #715 closed

[2021-06-29 14:11] husky-parul opened #789 "rpc error: code = Unavailable desc = transport is closing"
Having issues using `crictl` with `cri-o`

**Error**
[code]

`cri-o` is up and running

[code]

`journalctl` has no errors as well

[code]

**Steps to reproduce**
OS: centos-8
Build and install cri-o from source using [this](https://github.com/cri-o/cri-o/blob/master/install.md#fedora---rhel-7---centos)
`cri-o` is running as a `systemd` service

[2021-06-29 14:18] saschagrunert commented on #789
Rough guess, which versions of `crio` as well as `crictl` are you using right now?

[2021-06-29 14:22] husky-parul commented on #789
I am building cri-o from a custom branch which was based on `master` branch
For `crictl` I have tested with 1.20 and 1.21. Both versions have same issue.

[2021-06-29 14:28] saschagrunert commented on #789
Do you get debug output from CRI-O when running `sudo crictl info`?

[2021-06-29 14:37] husky-parul commented on #789
Do you mean `journalctl` logs? Right now I am testing it on a centos 8 VM and not on a cluster/node.
The `journalctl` doesn't have any errors (`cri-o`) is set to `debug mode`

**journalctl -u crio.service -f**
[code]

[2021-06-29 16:43] husky-parul commented on #789
[code]

[2021-06-30 06:43] saschagrunert commented on #789
That's really strange, what is the output of:
[code]

[2021-07-02 09:02] mraghu4 opened #791 "crictl pod creation failed with multus cni"
#### What happened:
we have multus in our nodes, and creating a pod giving error below error.

d

#### What you expected to happen:
crictl should be able to create a pod without any error

#### How to reproduce it (as minimally and precisely as possible):
make sure you have multus cni enable and create a pod using crictl

#### Anything else we need to know?:

#### Environment:

- Container runtime

[2021-07-04 17:51] #709 closed

[2021-07-08 10:21] #678 closed

[2021-07-08 11:20] mraghu4 opened #793 "crictl image tag and image push support"
#### What would you like to be added:
crictl to support image tag and push.
#### Why is this needed:
Since docker is not a industry standard anymore, we want move away from that completely.

[2021-07-08 11:42] saschagrunert commented on #793
Hey @mraghu4 thank you for opening the issue. Right now `crictl` follows the CRI (Kubernetes) implementation which does not support this functionality.

[2021-07-13 07:08] mraghu4 commented on #793
does crictl is not part containerd project? it says image push is in scope for containerd. Am I misunderstanding something here?
https://github.com/containerd/containerd/blob/main/SCOPE.md

[2021-07-13 07:24] saschagrunert commented on #793
@mraghu4 no, this is an independent project. It more belongs to Kubernetes (SIG Node) rather than a specific container runtime. :)

[2021-07-15 15:41] husky-parul commented on #789
[code]
@saschagrunert

[2021-07-15 15:48] husky-parul commented on #789
Env Centos-8
`cri-o` https://github.com/sallyom/cri-o/tree/otel-trace-2
`conmon` https://github.com/haircommander/conmon/tree/seccomp-notify-make-fix
`crictl` v1.21.0

[2021-07-16 08:00] saschagrunert commented on #789
@husky-parul CRI-O seems to crash with https://github.com/sallyom/cri-o/tree/otel-trace-2:

[code]

[2021-07-20 22:44] andriyDev opened #798 "`crictl --version` reports unknown"
Running on Debian 5.10.40-1rodete2, `crictl --version` reports unknown. This seems to be something about the linking flags not populating the version.

[2021-07-21 07:15] saschagrunert commented on #798
Hey @andriyDev, how did you build or install crictl?

[2021-07-21 16:34] andriyDev commented on #798
We are building a docker image from `ubuntu:focal-20210401` (`ubuntu 20.04`), and just installing through apt-get. No version is specified, although we seem to be using https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04/ as a repo source.

Context: https://github.com/andriyDev/minikube/blob/0e74c3d4fedbf0ba046e66054f62a5a91ab611df/deploy/kicbase/Dockerfile

[2021-07-22 08:48] saschagrunert commented on #798
Yeah this looks like an issue with how the package builds the binary, let me check if we can fix it.

[2021-07-22 09:46] saschagrunert commented on #798
Proposed a fix in https://build.opensuse.org/request/show/907694

[2021-07-22 10:40] saschagrunert commented on #798
Should be fixed now for all OBS packages :)

[2021-07-22 10:40] #798 closed

[2021-07-26 23:18] #645 closed

[2021-07-28 04:46] Huimintai commented on #482
Can we reopen this? It is inherently insecure to put the credentials into the command line.I want to use crictl pull images with credentials like docker that put the credentials into docker/config file.

[2021-07-28 08:42] mraghu4 opened #800 "crictl image pull is not loading global cert until containerd restarted"
After adding a certificate for private registry in global trust list and update-ca-certs command, any tool in the linux must able to use that cert for validation. ctr tool which comes with containerd able to pull image after update-ca-certs. but crictl showing error that the CA is unauthorized.

#### What happened:
crictl pull giving "certificate signed by unknown authority"

#### What you expecte

[2021-07-28 14:19] mikebrow commented on #482
you should be able to configure the container runtime daemon that crictl is connecting to.. for example in containerd .. for docker.io login set your `/etc/containerd/config.toml` to include
[code]

detail:
https://github.com/containerd/containerd/blob/main/docs/cri/registry.md#configure-registry-credentials

[2021-07-28 14:20] mikebrow commented on #482
passed in auth overrides configured auth

[2021-07-28 14:33] mikebrow commented on #482
for crio.. I believe you set `--global-auth-file`

[2021-07-29 01:33] feiskyer commented on #800
it looks like a containerd issue. @mikebrow could you help to confirm?

[2021-07-29 14:46] mikebrow commented on #800
Confirmed this issue should be closed and reopened in github.com/containerd/containerd

[2021-08-04 09:06] saschagrunert commented on #727
Closing because the issue seems solved

[2021-08-04 09:06] #727 closed

[2021-08-05 07:33] saschagrunert opened #807 "Release v1.22.0"
Release notes:

[code]

[2021-08-05 08:12] afbjorklund commented on #798
Confirmed fixed in 1.21.0~2

[2021-08-05 12:38] saschagrunert commented on #807
Done

[2021-08-05 12:38] #807 closed

[2021-08-10 11:11] #800 closed

[2021-08-10 11:11] #793 closed

[2021-08-22 10:30] devopstales commented on #710
/reopen Not solved.

[2021-08-24 14:19] #773 closed

[2021-09-02 08:48] XiaoXiaoSN commented on #546
I have the same issue, and the `podman` help me to resolve it.
[code]

[2021-09-03 06:39] skycyan opened #822 "crictl pull image progress"
#### crictl pull image progress
crictl command does not support progress bar，hope to increase。

[2021-09-07 04:13] justaugustus commented on #616
/remove-lifecycle rotten
/reopen

Continuing work on this in kubernetes/k8s.io#2663.
/assign

[2021-09-15 02:48] #756 closed

[2021-09-17 01:36] Sungjun-Ohh opened #824 "Differences in output between docker and crictl commands"
Where I work, the container engine or platform is different for each department.
I found that crictl supports docker, containerd, cri-o.
So from the security department's point of view, I think this project is attractive and worthwhile.
This is because I can use crictl to check whether the container is abnormal, regardless of which container engine is running on the machine.

However, the result o

[2021-09-17 20:27] dogukancagatay commented on #546
I use [skopeo](https://github.com/containers/skopeo) for load/save operations on cri-o.

[code]

[2021-09-18 14:37] #687 closed

[2021-10-06 08:05] jorgelon commented on #710
/reopen

[2021-10-07 09:22] saschagrunert opened #836 "Create a release with GitHub actions"
The idea is to minimize the manual effort and create a release by just pushing a tag. This would:

1. Run the release notes tool
2. Run `make release` and append the downloads table to the release notes
3. Upload the artifacts to the release

[2021-10-09 01:08] #836 closed, assigned to nobody

[2021-10-25 16:19] ralfv opened #839 "crictl rmi --prune removes pause image of containerd runtime image cache when used in Kubernetes"
#### What happened:

crictl rmi --prune removes the pause image when containerd is the CRI for Kubernetes.

#### What you expected to happen:

The pause image is not deleted because images used by running containers must not be deleted.

#### How to reproduce it (as minimally and precisely as possible):
- Kubernetes with containerd as container runtime
- Run following command to see pause containe

[2021-11-02 01:08] bobbypage opened #841 "Add support for k8s 1.23 Pod Sandbox and New Stats"
#### What would you like to be added:

K8s 1.23 added new CRI RPCs for pod sandbox and more detailed container stats. See kubernetes/enhancements#2371 for the k8s upstream issue.

kubernetes/kubernetes#102789 added the CRI fields namely PodSandboxStats, ListPodSandboxStats and some new fields for CPU and memory container stats.

`crictl` should be able to display the new Pod Sandbox Stats as well

[2021-11-02 07:59] saschagrunert commented on #841
Sounds great, are you happy to work on this @bobbypage?

[2021-11-06 16:08] badouralix commented on #587
Hi everyone, just wanted to mention that https://github.com/Homebrew/homebrew-core/blob/25ee35c01fcd68e1cb0b382ca8919918bde3793e/Formula/cri-tools.rb was recently released

Use this command to install both `crictl` and `critest`

[code]

Currently it follows the pattern of https://github.com/Homebrew/homebrew-core/blob/25ee35c01fcd68e1cb0b382ca8919918bde3793e/Formula/kubernetes-cli.rb and compiles

[2021-11-12 07:21] #781 closed

[2021-11-12 09:13] AlyssaBetty opened #845 "connect endpoint 'unix:///var/run/dockershim.sock timeout"
[code]
I want to know what's wrong with it

[2021-11-12 12:02] loyaxa opened #846 "Cri-tools remote connection over tcp on Unix systems"
Hello. I want to connect to remote Containerd with CRI-Plugin host.
I configured **/etc/containerd/config.toml** to enable cri remote with:
[code]

I detect, that I can connect to CRI Plugin from Windows system and  I can execute any commands. But when I try to connect from Linux system i got error: **"connect: only support unix socket endpoint"**. I rewrite **k8s.io/kubernetes/pkg/kubelet/cri/uti

[2021-11-12 19:02] mingaliu opened #847 "crictl inspect doesn't return environment variables for the container"
#### What would you like to be added:
Currently the CRI protocol and crictl tool doesn't return the environment variables for the containers.
In contrast, the docker inspect do reveal the environment variables for the containers.

#### Why is this needed:
It is very helpful during debugging and monitoring to know the actual list of environment variables.

[2021-11-13 15:42] badouralix commented on #845
Hi @AlyssaBetty, it is unclear to me whether you are using docker at all in this setup

If only containerd is used, the socket is `/run/containerd/containerd.sock` instead of `/var/run/dockershim.sock`

To use the containerd socket, either edit `/etc/crictl.yaml` or use the following command :

[code]

[2021-11-15 14:51] husky-parul commented on #789
/close

[2021-11-15 14:51] #789 closed

[2021-11-16 02:41] zoulux commented on #438
It's very sad, I didn't want to install Docker

[2021-11-18 09:39] allenjol commented on #845
Thank you @badouralix ,I have to check my crictl.yaml config，I'm sure that It's my own fault。
I only use containerd,I use /run/containerd/containerd.sock instead of /var/run/dockershim.sock and it's successfully
Thank you again

[2021-11-18 12:49] #845 closed

[2021-11-19 07:32] offSwitch commented on #793
you can use
ctr --namespace=k8s.io image tag docker.io/library/httpd:latest k8s.gcr.io/httpd:latest
or
nerdctl -n k8s.io tag docker.io/library/httpd:latest k8s.gcr.io/httpd:latest

[2021-11-23 05:03] offSwitch opened #850 "Do not show the image with tag none"
#### What would you like to be added:
![image](https://user-images.githubusercontent.com/11695496/142973660-3c85945d-c77f-4186-a889-51f913ec65ca.png)
Do not show the image with tag none
#### Why is this needed:
Cannot be deleted and makes no sense

[2021-11-23 08:07] saschagrunert commented on #850
Hey @offSwitch the images with no tag could be directly removed by using their image ID.

[2021-11-23 12:03] offSwitch commented on #850
This way I will delete all the images, but I only want to delete the images with tag none

[2021-11-25 14:44] #850 closed

[2021-11-29 10:47] #791 closed

[2021-12-03 09:34] #822 closed

[2021-12-13 19:16] thiguetta opened #856 "Release v1.23.0"
#### What would you like to be added:
k8s 1.23 was released on Dec 7th and still we don't have a cri-tools release for 1.23
#### Why is this needed:

[2021-12-14 08:41] saschagrunert commented on #856
I'd like to get the CI back before doing a release. Right now there seems to be two in flight:
- https://github.com/kubernetes-sigs/cri-tools/pull/858
- https://github.com/kubernetes-sigs/cri-tools/pull/853

We're not in a hurry since we would be still backwards compatible with Kubernetes. We also do not have CRI v1 support merged yet, so the changes between 1.22 and 1.23 seem marginal.

[2021-12-15 09:04] ningmingxiao opened #862 "why crictl start only start ceate container instead of exited container"
#### What happened:
[code]

#### What you expected to happen:
  crictl can start  Exited container

[2021-12-22 20:36] gigilee opened #866 "crictl logs -f, the follow option does not work, instead it repeats the same output again and again"
#### What happened:
Our kubernetes cluster is recently upgraded to 1.20.8.  We use OKE. The container engine is switched from docker to crio.
We found that our crictl logs with follow options do not work at all.  It simply repeats the same outout continouesly.
I deployed a simple busybox with the following yaml file:
[code]
This is what I see from the output:
[code]
#### What you expected to happe

[2021-12-29 08:44] yiya1989 commented on #438
I didn't want to install Docker too

[2022-01-07 08:59] afbjorklund opened #868 "The default docker CRI socket changed, in Kubernetes 1.24 and beyond"
#### What happened:

WARN[0000] runtime connect using default endpoints: [unix:///var/run/dockershim.sock unix:///run/containerd/containerd.sock unix:///run/crio/crio.sock]. As the default settings are now deprecated, you should set the endpoint instead.

#### What you expected to happen:

WARN[0000] runtime connect using default endpoints: [unix:///run/containerd/containerd.sock unix:///run/crio/

[2022-01-10 09:41] #868 closed

[2022-01-12 12:21] shannonxtreme opened #870 "[1.24] Remove dockershim from crictl code and docs"
`crictl` currently defaults to `dockershim.sock`. We should update the default in advance of 1.24. Additionally, remove mentions of dockershim from the repo:

https://github.com/kubernetes-sigs/cri-tools/search?q=dockershim.sock

[2022-01-13 10:26] saschagrunert commented on #856
@feiskyer @mrunalp do we wanna switch to CRI v1 before releasing 1.23? This would be a breaking change.

Or do we wanna support both CRI versions in parallel? We could make it configurable, but it would increase the implementation effort.

[2022-01-13 11:17] hswong3i commented on #856
With Kubernetes usual N / N-1 support style, shall critool 1.23 support both Kubernetes 1.23 / 1.22?

If yes, does OCI only supported by Kubernetes 1.22, or still required for legacy Docker format support?

[2022-01-13 11:51] afbjorklund commented on #856
The packages are still on 1.19, so I think `crictl` has a longer life span.

The [homepage](https://github.com/kubernetes-sigs/cri-tools#current-status) says that it supports anything from k8s 1.16.x and up

[2022-01-13 11:56] afbjorklund commented on #870
Currently `crictl` supports multiple versions of kubernetes. Changing this would mean that it needs to be split.

i.e. the currrent 1.19 version installed supports any version 1.20 and up - including both 1.23 and 1.24

Note that there _is_ no default. There is just a list of locations to be searched, dockershim being one of them.

The user is supposed to pick a container runtime and configure it.

[2022-01-13 13:06] afbjorklund commented on #824
There are lots of differences between the output from the tools, for instance names and sizes vary greatly.

[2022-01-13 13:18] afbjorklund commented on #856
If you use cri-o, it sets up 1.21 to be used.

[code]

If you use containerd, you get 1.19 instead

[code]

----

Assuming that one wants to use modern packaging, like apt.

And not fall back to having to install odd things from tarballs.

[2022-01-13 13:25] hswong3i commented on #856
For people who interested with latest up-to-date but non-official deb/rpm for Ubuntu/Debian/CentOS/RHEL/Fedora/openSUSE, I have a OBS repo for try: https://build.opensuse.org/project/show/home:alvistack

[2022-01-13 13:32] afbjorklund commented on #856
We are having big stability problems with OBS when it comes to installing cri-o, would be nice with something a bit more stable (and official!) for a tool that is now required by the default installer. Especially if multiple versions

[2022-01-13 13:38] hswong3i commented on #856
![8322C267-A56D-4266-99B1-45364678ADA3](https://user-images.githubusercontent.com/780562/149340143-41955e32-f536-4e01-938e-4fbb8af2db4c.png)

Hopefully this is what you are looking for :-)

[2022-01-13 13:42] afbjorklund commented on #856
Putting the version in the name ? Wow, that's wild.

[2022-01-13 16:55] afbjorklund commented on #870
@shannonxtreme

The claim that dockershim is default seems to be from some old docs from Kubernetes 1.11

https://kubernetes.io/docs/tasks/debug-application-cluster/crictl/

[2022-01-13 17:35] afbjorklund commented on #870
Link to issue about fixing kubernetes.io documentation:
* https://github.com/kubernetes/website/issues/30976

[2022-01-13 18:10] afbjorklund commented on #856
Here are the current requirements:

Package: kubeadm
Version: 1.23.1-00
Priority: optional
Section: misc
Maintainer: Kubernetes Authors <kubernetes-dev+release@googlegroups.com>
Installed-Size: 45.2 MB
Depends: kubelet (>= 1.19.0), kubectl (>= 1.19.0), **kubernetes-cni (>= 0.8.7), cri-tools (>= 1.19.0)**
Homepage: https://kubernetes.io
Download-Size: 8579 kB
APT-Manual-Installed: yes
APT-Sources:

[2022-01-15 17:57] linxiulei opened #872 "crictl pods fails when response message size is big"
#### What happened:

`crictl pods` returns failure when the response message size exceeds 4M.

#### What you expected to happen:

`crictl pods` continues to work with big response message.

#### How to reproduce it (as minimally and precisely as possible):

Create lots of pods through crictl then run `crictl pods`. The command will return unsuccessful code with error message "listing pod sandboxes

[2022-01-17 01:26] feiskyer commented on #856
I think it's ok to cut the release without v1. It would need some time for runtimes to support and migrate to v1.

Could we do this in the next release (e.g. 1.24)? In this way, crictl version won't need to be coupled with kubernetes and runtime versions.

[2022-01-17 08:17] saschagrunert commented on #856
@feiskyer sounds good to me. :+1:

[2022-01-17 08:19] #872 closed

[2022-01-17 13:46] saschagrunert commented on #856
Release build is in progress: https://github.com/kubernetes-sigs/cri-tools/runs/4841568433

[2022-01-17 14:00] saschagrunert commented on #856
Done https://github.com/kubernetes-sigs/cri-tools/releases/tag/v1.23.0

[2022-01-17 14:00] #856 closed

[2022-01-18 10:16] sumitaneja commented on #866
Facing similar issues when using -f option.

[2022-01-18 11:30] saschagrunert commented on #866
Hm, unfortunately this is not reproducible on my end. :thinking:

[2022-01-19 03:34] kong62 opened #879 "add crictl history command"
#### What would you like to be added:
crictl history command

#### Why is this needed:
we need show image build information
[code]

[2022-01-19 08:15] feiskyer commented on #879
crictl talks only with CRI API. If the features from docker is not part of CRI API, then it's not possible to add that in crictl.

[2022-01-19 08:15] saschagrunert commented on #879
Some container runtimes like CRI-O return an additional image info which contains the history:

[code]

[2022-01-21 17:12] afbjorklund commented on #879
And containerd also does this. But docker does not.

[2022-01-26 22:36] SergeyKanzhelev opened #883 "crictl must work with containerd 1.5 - allow the fallback logic to CRI API v1alpha2"
This is a follow up from https://github.com/kubernetes-sigs/cri-tools/pull/878#issuecomment-1022493135

Containerd 1.5 only implements CRI API `v1alpha2` and cri tools must support the same runtimes k8s supports. So there should be a fallback logic to `v1alpha2`.

[2022-01-26 23:33] SergeyKanzhelev commented on #883
@saschagrunert what is the versioning story of CRI tools for CRI-O? How many versions back customers will expect to be supported?

[2022-01-26 23:40] SergeyKanzhelev commented on #883
cc: @qiutongs

[2022-01-27 07:41] saschagrunert commented on #883
Since CRI-O versionizes together with Kubernetes, we would have any issue with a breaking change here. We also support CRI v1 since a couple of releases (v1.21 I guess), so we're already good to go.

[2022-01-27 11:37] saschagrunert commented on #883
One way to approach this would be to switch to the internal runtime and image services completely:

https://github.com/kubernetes-sigs/cri-tools/blob/8553b616d79b7753f4eda5fb9144cd8ca9eb9764/cmd/crictl/main.go#L135-L137

This service already features the conversion of the types, but it would mean that we bound the kubelet code tighter to crictl.

[2022-01-31 10:51] saschagrunert commented on #841
Did a test with https://github.com/kubernetes-sigs/security-profiles-operator/pull/796 and it does not work, because:

- we usually fallback to the in-memory btf (which is now available within that patch) if no vmlinux is exposed. The vmlinux file is available on the azure node.
- forcing it to use the in-memory btf fails with the same error

That's odd, I'm not sure if the kernel configuration of

[2022-01-31 12:18] saschagrunert commented on #841
@bobbypage do you still consider working on this one?

[2022-02-02 18:06] fjammes opened #887 "Retrieve namespace/pod/container from a host PID"
#### What would you like to be added:

A feature to retrieve the namespace/pod/container/container primary pid from a pid retrieved on  host

#### Why is this needed:

If a process is misbehaving on the host, it might be helpful to quickly understand in which pod it is running.

[2022-02-03 08:50] saschagrunert commented on #887
Hey @fjammes, thank you for the feature request!

Can you elaborate a bit which kind of information would you expect to get and how a possible command invocation would look like?

What we can do is correlating the container PID (part of the optional `info` field of `crictl inspect`) to a container ID, but which output would you expect?

[2022-02-04 05:05] #616 closed

[2022-02-09 01:45] ejsealms opened #891 "Running 'crictl images' does not return a comprehensive list of images"
#### What happened: The service that I work on has a script that deletes images that are not being used because over time, these images become stale and they introduce security vulnerabilities. The script uses crictl to find all images on the machines. Over time, all of our machines started to report that they had many vulnerable images still on them.

I went into the machines and ran 'crictl imag

[2022-02-09 08:26] saschagrunert commented on #891
@mikebrow do you have any idea why this should happen?

[2022-02-11 18:43] shannonxtreme opened #893 "Suggestion: Remove the fallback endpoints in a versioned release of crictl"
The "default" runtime endpoints for `crictl` have been deprecated for more than three Kubernetes releases. We should consider removing the endpoints from crictl in a way that doesn't break functionality for users who rely on the fallback behaviour.

Here's what I think should happen:

**After Kubernetes 1.24**:

* Remove the fallback endpoints from crictl
* Tie the change to a new version of cri-t

[2022-02-11 18:50] SergeyKanzhelev commented on #893
this change of behavior will work for vendors who preinstall `crictl` and for manual installations, but may break automatic scripts that may stop working if they don't specify the endpoint. I'm not sure if there is any harm for having defaults, except the performance penalty for the end user. I wonder if we should un-deprecate it.

[2022-02-11 18:54] shannonxtreme commented on #893
That's also an option. My concern comes from us having notes and warnings saying that the endpoints are deprecated. Wouldn't an automatic script continue to work if we gated the change behind a new version of cri-tools?

[2022-02-12 05:44] gigilee commented on #866
I figured it out.   We have a precess that monitors the log and updates the permission too frequently.  This caused issue for the process that reads the log, which makes sense some what.

[2022-02-12 05:44] #866 closed

[2022-02-12 13:37] afbjorklund commented on #893
The kubernetes installation should require installing and configuring `crictl`, currently it mentions it briefly in passing.

There is already a hard crash in kubeadm if `crictl` is missing, it might as well check if `/etc/crictl.yaml` is set up too ?

On a side note, it would be nice if it was more obvious to packagers that they _should_ split the "cri-tools" into two.

I don't think anyone cares

[2022-02-13 12:19] afbjorklund commented on #883
Same problem with Docker (cri-dockerd), I guess it deserves a special issue.

[code]

When upgrading cri-tools to latest/greatest (i.e. 1.24 pre-release), it no longer works:

[code]

[2022-02-13 12:29] afbjorklund commented on #883
I guess you mean "we would **not** have any" ? Normally CRI-O lags the Kubernetes releases for some time, but if it has already been implemented in a release version then I suppose you could* use cri-o `v1.23.1` with kubernetes `v1.24.0` ?

\* I think we are currently using crio 1.22.1 with k8s 1.23.3.

[2022-02-14 08:21] saschagrunert commented on #866
Thank you for the explanation @gigilee!

[2022-02-14 08:29] saschagrunert commented on #883
Yes, sorry for the confusion.

[2022-03-01 17:14] xuegege5290 commented on #546
How to configure the podman as the runtime with cri-o daemon?

[2022-03-06 13:26] Jeansen opened #896 "deb/rpm builds haven't been updated for 8-10 months. Latest 1.21"
https://github.com/kubernetes-sigs/cri-tools#debrpm-packages references deb/rpm builds. Latest Version is 1.21.
See https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/cri-tools and also The same is true for https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/ .

Are they no longer maintained?

[2022-03-07 10:03] saschagrunert commented on #896
Yeah the OBS packages are outdated, we should update them as soon as possible. Beside that, we should also update the version in the official Kubernetes packages. Ref: https://github.com/kubernetes/release/pull/2457

[2022-03-07 10:48] saschagrunert commented on #896
Submitted a request for OBS: https://build.opensuse.org/request/show/959837

[2022-03-07 11:37] ydahan opened #897 "private registry tls self signed certificates"
I didn't find any working option to do one of the following:
1. add self signed certificate to trust list.
2. skip certificate verification

One cannot use private registry with or without certificate, didn't find any option to fix this.

Tried to add insecure_registries to /etc/crio/crio.conf and didn't work

[2022-03-07 11:56] ydahan commented on #897
Found the way to make this work

[2022-03-07 11:56] #897 closed

[2022-03-08 01:20] qiutongs opened #898 "Support the columns that docker have in stats"
#### What would you like to be added:

`docker stats` can output `NET I/O`, `BLOCK I/O` and `PIDS` that `crictl stats` doesn't have.

#### Why is this needed:

It gains more insight of each container and helps debug resource issues. For instance, `BLOCK I/O` will give user the idea that which container takes most disk I/O.

#### Dependent on CRI

I understand this feature totally depends on what C

[2022-03-08 01:22] qiutongs commented on #898
Created an issue to support `block i/o` in CRI: https://github.com/kubernetes/kubernetes/issues/108575

[2022-03-10 20:11] #710 closed

[2022-03-10 21:40] #841 closed

[2022-03-14 13:49] #824 closed

[2022-03-16 23:28] josh-ferrell opened #903 "Allow registry auth credentials to be set from environment variable"
#### What would you like to be added:
The ability to input the AUTH_STRING or credentials for `crictl pull` using an environment variable.

#### Why is this needed:
The ability to supply credentials when crictl is being called by another process programmatically.

[2022-03-17 08:48] saschagrunert commented on #903
Hey @josh-ferrell this seems to be a good idea and should be straightforward to implement. Are you planning to work on this?

[2022-03-17 09:40] #903 closed

[2022-03-18 22:00] simonhoss commented on #846
Hey @loyaxa

Sorry for the off-topic questions, but I hope you can help me.

How did you manage to remote connect? For me it doesn't work, also not over windows.

This is what I try:

[code]

I tried also with the generated port `crictl.exe -D -r tcp://192.168.1.156:58188 info`

My config for ContainerD looks same like yours. If you could help I would appreciate it a lot! ContainerD is also runnin

[2022-03-20 12:26] afbjorklund commented on #896
The kubernetes package has now been updated, for the 1.23.5 release:

[code]

[2022-03-20 12:37] afbjorklund commented on #883
Docker now installs containerd 1.5, fwiw

[2022-03-20 20:31] Jeansen commented on #896
Oh, great!
Works fine on my end. Should I close thins one then?

[2022-03-21 08:22] saschagrunert commented on #896
Sure, I updated it in https://github.com/kubernetes/release/pull/2457

[2022-03-21 08:22] #896 closed

[2022-03-25 10:46] #839 closed

[2022-04-11 20:52] #847 closed

[2022-04-14 06:33] yanghesong commented on #898
/assign

[2022-04-14 10:00] #862 closed

[2022-04-17 22:05] #846 closed

[2022-04-22 16:02] afbjorklund commented on #879
I implemented "info", including "history", for docker:

* https://github.com/Mirantis/cri-dockerd/pull/47

It looks _almost_ the same, then again CRI doesn't really have any standardization in a _lot_ of different places.

[code]

The main difference is the timestamps, docker only does Unix (int64)

[2022-04-24 11:04] afbjorklund commented on #893
There are some bizarre failures, where crictl fails to detect a socket and falls back to docker (or containerd, or whatever)

So the guessing is just that: guessing. Most likely it would be better for everyone, if the configuration was explicit always.

[2022-04-24 19:54] afbjorklund commented on #893
Note: the old packages for containerd, as well as the packages for cri-o, include the cri-tools configuration:

/etc/crictl.yaml
/etc/cni/net.d/10-containerd-net.conflist

/etc/crictl.yaml
/etc/cni/net.d/100-crio-bridge.conf
/etc/cni/net.d/200-loopback.conf

If the user installs the binaries themselves, they have to add the configuration (and systemd units) as well.

[2022-04-28 02:33] ningmingxiao commented on #879
you can use nerdctl image history

[2022-04-28 02:34] ningmingxiao commented on #879
root# nerdctl -n k8s.io history busybox:1.28
SNAPSHOT                                                                   CREATED        CREATED BY                                       SIZE       COMMENT
<missing>                                                                  3 years ago    /bin/sh -c #(nop)  CMD ["sh"]                    0.0 B
sha256:432b65032b9466b4dadcc5c7b11701e71d21c18400aae

[2022-05-02 09:48] saschagrunert commented on #883
Fixed with https://github.com/kubernetes-sigs/cri-tools/pull/889

[2022-05-02 09:48] #883 closed

[2022-05-02 09:49] saschagrunert commented on #879
Let's close this for now since it's not supported by cri-tools.

[2022-05-02 09:49] #879 closed

[2022-05-02 15:40] afbjorklund commented on #879
It _is_ supported by `inspecti`, no ? Just not fully standardized.

[2022-05-04 07:40] saschagrunert opened #922 "Release v1.24.0"
Requires:
- https://github.com/kubernetes-sigs/cri-tools/pull/921

Release notes:

[code]

[2022-05-05 08:28] #922 closed

[2022-05-06 17:06] mikebrow opened #925 "ginkgo version aligning"
We, containerd, are having problems moving up to v1.24.0 and post v1.24.0 critest with both parallel on and a skip and/or focus applied.

History here: https://github.com/containerd/containerd/pull/6894

Noting also that k/k is on a different version of ginkgo and ginkgo has the requirement of the installed version matching the library. This may cause some versioning issues when doing both critest

[2022-05-09 07:27] saschagrunert commented on #925
Is this something which has to be fixed in ginkgo?

There are also efforts of moving k/k to ginkgo v2: https://github.com/kubernetes/kubernetes/pull/109111

[2022-05-10 06:05] afbjorklund commented on #893
The fallback endpoints seem to never be tried, possibly after the version bump from alpha to v1 with crictl 1.24

[2022-05-10 08:44] hasan4791 opened #928 "Backward compatibility issues with v1.21.x kubernetes cluster"
#### What happened:
With cri-tools v1.24.0, the images aren't getting pulled in the kubernetes 1.21 version. Does it support backward compatibility?
Also with 1.22.x & 1.23.x clusters, there are no issues.

#### What you expected to happen:
No issues should occur during image pull

#### How to reproduce it (as minimally and precisely as possible):
Run "crictl pull hello-world" in 1.21 kubernetes c

[2022-05-11 10:14] unmarshall opened #929 "Support darwin/arm64 architecture"
#### What would you like to be added:
In https://github.com/kubernetes-sigs/cri-tools/releases there is no release for darwin/arm64 architecture.  Is there any plans to support this architecture?

#### Why is this needed:
All new macbook's now come with M1 chipset which has this architecture.

[2022-05-11 10:18] saschagrunert commented on #929
@unmarshall sure, do you wanna create a PR to contribute the change? :)

[2022-05-11 14:54] mikebrow commented on #925
missed this question @saschagrunert .. fu wei was taking a look, see pr ^

[2022-05-12 07:19] saschagrunert commented on #925
@mikebrow if #930 got merged, would you need a new release of cri-tools?

[2022-05-12 07:31] #925 closed

[2022-05-13 02:55] MagicStarTrace opened #934 "Does crictl inspect have functions similar to docker format"
crictl version
Version:  0.1.0
RuntimeName:  containerd
RuntimeVersion:  1.4.8
RuntimeApiVersion:  v1alpha2

I use crictl inspect 35651966ecebb |grep cgroup expecting to get cgroupsPath, docker comes with docker inspect --format
crictl inspect has nothing like --format, I expect to get cgroupsPath with --format

Thank You!

[2022-05-20 05:43] shinebayar-g commented on #928
It looks like crictl minor version should match kubernetes minor version as quoted here. https://kubernetes.io/docs/tasks/debug/debug-cluster/crictl/#installing-crictl

[2022-05-24 06:02] afbjorklund commented on #928
That would mean that it _can't_ be installed with the system, like the container runtime can.

[2022-05-25 16:57] hasan4791 commented on #928
Thank you all, looks like the crio rpms in opensuse upstream repo was having issues. We moved to the RH provided rpms & everything is fine btw.
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/

Also regarding the cri-tools rpms, it would be great if kubernetes version specific rpms also provided here.
https://download.opensuse.org/repositories/devel:/kubic:/l

[2022-05-30 02:22] lvyangxu commented on #436
snapshotter = "overlayfs" --> "native"
it works !

[2022-06-08 03:31] jeyrce commented on #710
It's okay for me.

[2022-06-08 11:37] abdennour commented on #504
any news here?

[2022-06-08 11:38] abdennour commented on #504
/reopen

[2022-06-08 11:39] saschagrunert commented on #504
@abdennour thanks for reaching out! Do you consider working on a solution around this?

[2022-06-08 11:40] abdennour commented on #504
I am thinking about `-f` option to be added @saschagrunert

[2022-06-13 09:04] k82cn opened #943 "Only report error message if no runtime available"
#### What happened:

[code]

#### What you expected to happen:

Only report error message if no runtime available.

#### How to reproduce it (as minimally and precisely as possible):

crictl with containerd

#### Environment:

- Container runtime or hardware configuration: containerd
- OS (e.g: `cat /etc/os-release`):

[code]

- Kernel (e.g. `uname -a`): `Linux bootstrap 4.4.0-210-generic #242-Ubu

[2022-06-13 09:10] saschagrunert commented on #943
@k82cn thank you for reporting the issue, are you planning to work on a fix for it?

[2022-06-13 09:53] k82cn commented on #943
I'm ok with that :)

[2022-06-27 11:27] mjbright commented on #546
So obvious ... as ```podman``` or ```skopeo``` are from the same eco-system.

But was missing from this issue which was pointing in the direction of ```ctr```.

Thanks!

[2022-06-28 13:41] jacksgt opened #950 "Label filter ignored when using `crictl stats`"
Hello,

thanks everyone for your work on CRIO and crictl!

#### What happened:

I was trying to extract some metrics from specific pods and came across the `--label` option for `crictl stats`.

[code]

Unfortunately, it seems that the label is completely ignored by the CLI - it simply lists all the pods!

[code]

#### What you expected to happen:

When I filter according to a label (in this case:

[2022-07-03 09:49] #887 closed

[2022-07-08 04:06] lidh15 opened #951 "How to transfer from "docker run" to "crictl run""
Previously I have a container started with something like "docker run --rm -it --shm-size 32G -privileged --cap-add IPC_LOCK -p 8000:80 -v /home/myhome:/workspace -d myimages /usr/sbin/init"
you see I have used following arguments:
--rm
-it
--shm-size
--privileged
--cap-add
-p
-v
-d
And now it seems that I need to run "crictl run container-config.json pod-config.json"
But I don't know how I should

[2022-07-09 19:48] #891 closed

[2022-07-13 15:50] afbjorklund commented on #943
* https://github.com/kubernetes-sigs/cri-tools/issues/893

[2022-07-17 20:47] vaibhav2107 commented on #898
/remove-lifecycle stale

[2022-07-19 09:00] kenneth-dsouza opened #953 "Document statsp command for crictl."
Currently statsp command is not documented in cricitl.md, add the same to man page.
`$ git diff
diff --git a/docs/crictl.md b/docs/crictl.md
index c9045086..e2ea55ba 100644
--- a/docs/crictl.md
+++ b/docs/crictl.md
@@ -60,6 +60,7 @@ COMMANDS:
 - `update`:             Update one or more running containers
 - `config`:             Get and set crictl client configuration options
 - `stats`:

[2022-07-19 09:50] saschagrunert commented on #953
@kenneth-dsouza thank you for reaching out! Yeah feel free to propose a PR containing the necessary changes. :pray:

[2022-07-19 12:02] #953 closed

[2022-07-21 06:57] kkbruce opened #958 "Where are the complete pod sandbox and container configuration reference documents?"
#### What would you like to be added:

https://github.com/kubernetes-sigs/cri-tools/blob/master/docs/crictl.md#examples

#### Why is this needed:

More detailed settings are required.

[2022-07-22 02:11] kkbruce commented on #958
I hope https://github.com/kubernetes-sigs/cri-tools/issues/709 is not true, except for the example, if you want to know how to write a configuration file, you have to read the source code yourself!

[2022-07-22 07:20] saschagrunert opened #960 "critest for containerd `main` fails"
The test `main / ubuntu-18.04 / io.containerd.runc.v2 / crun` consistently fails over all PRs:

https://github.com/kubernetes-sigs/cri-tools/runs/7463687194
https://github.com/kubernetes-sigs/cri-tools/runs/7443618160
https://github.com/kubernetes-sigs/cri-tools/runs/7445694734

@mikebrow did we change anything in the containerd configuration which makes the tests fail?

[2022-07-22 21:56] mikebrow commented on #960
might be fixed now https://github.com/containerd/containerd/pull/7198

[2022-07-25 14:38] kkbruce commented on #958
While I'd love to contribute a bit, I'm not an expert on this upon evaluation. Thank you for the invitation. I hope one day in the future, I can have this ability. I leave the opportunity to others who see this discussion.

[2022-07-25 14:38] #958 closed

[2022-08-02 15:36] vaibhav2107 commented on #870
/remove-lifecycle stale

[2022-08-21 12:03] afbjorklund opened #964 "Using `crictl rmi` doesn't actually remove anything"
#### What happened:

Removing images with cri-tools doesn't seem to be working ?

#### What you expected to happen:

The image should be removed, or at least an error reported ?

Says `Deleted: `

#### How to reproduce it (as minimally and precisely as possible):

`sudo crictl rmi`

#### Anything else we need to know?:

Workaround:

`docker rmi`

#### Environment:

- Container runtime or hardware

[2022-08-21 12:07] afbjorklund commented on #964
Seems to be known:
* #568

[2022-08-21 14:21] afbjorklund commented on #964
It was a problem with the documentation, the command only expects full Id (sha256: etc)
When it gets a proper Id as input, then it actually removes all the tags referencing it.

Apparently trying to remove an image that does not exist, or an invalid Id is **not** an error.
This is not only the docker implementation, it is handled the same way in containerd:

[code]

[2022-08-24 07:51] saschagrunert opened #966 "Release v1.25.0"
The release can be done by tagging the version on the master branch.

Required PRs:
- https://github.com/kubernetes-sigs/cri-tools/pull/965

Nice to have PRs:
- https://github.com/kubernetes-sigs/cri-tools/pull/938

[2022-08-26 07:44] saschagrunert commented on #966
Created https://github.com/kubernetes-sigs/cri-tools/releases/tag/v1.25.0. There is still a bunch of work left, so I'm keeping it open for now.

[2022-08-26 08:24] feiskyer commented on #966
Thanks cutting the new release

[2022-08-29 08:07] rgl opened #971 "crictl version seems incorrect"
#### What happened:

After installing 1.25.0 (from https://github.com/kubernetes-sigs/cri-tools/releases/download/v1.25.0/crictl-v1.25.0-linux-amd64.tar.gz), it seems the reported version is incorrect:

[code]

#### What you expected to happen:

Version reported as 1.25.0.

[2022-08-29 08:10] saschagrunert commented on #971
@rgl thank you for this request. The version returned by `crictl version` is the version the runtime reports via the CRI:
https://github.com/kubernetes/cri-api/blob/37ca8f0f0b492517b114daa87ab0406ae1e20a74/pkg/apis/runtime/v1/api.proto#L150-L161

So it's totally up to containerd which version they report in that request.

[2022-08-29 08:24] rgl commented on #971
Ah, so its the version of the server implementation. Maybe it can also report its own version?

For example, as `runc` does:

[code]

[2022-08-29 08:28] saschagrunert commented on #971
It should via `crictl --version`

[2022-08-29 08:34] rgl commented on #971
Oh, that was silly on my part... Sorry! I've mistaken the two.

[2022-08-29 08:34] #971 closed

[2022-08-31 13:58] seb-835 opened #975 "Issue Pulling image from an internal private registry"
#### What happened:
trying to pull an image from an internal private registry (harbor) failed

I may have missed something , but right now, i have no idea what it is.

[code]
#### What you expected to happen:

got the image pulled with crictl .  It works fine with ctr and nerdctl.
even using curl

[code]
#### Anything else we need to know?:
a no_proxy env is set to avoid communication to registry.

[2022-08-31 22:00] thomasf7 opened #976 "`crictl rmi --prune` shows no output for untagged images removed"
#### What happened:

Running `crictl rmi --prune` does not log information about all the images pruned as it only prints those that are tagged and images that are referenced by digest are pruned, but this is not reflected in the logs.

This looks to be because the [loop to print this info](https://github.com/kubernetes-sigs/cri-tools/blob/85c21d32b32681271bac1e8602dab9725b32f89f/cmd/crictl/image.g

[2022-09-01 07:26] saschagrunert commented on #976
@thomasf7 yeah this makes sense to me. Do you consider working on this?

[2022-09-01 19:02] thomasf7 commented on #976
@saschagrunert sure I can take a crack at it

[2022-09-03 04:17] lengrongfu opened #981 "Add default endpoints"
#### What would you like to be added:

Add `unix:///var/run/containerd/containerd.sock` to default endpoints.

#### Why is this needed:

Current i running containerd in the macos, serving address is `/var/run/containerd/containerd.sock`, but i use crictl pull image, find this endpoint is not in default endpoints.

- containerd start log
[code]
- crictl pull nginx
[code]

[2022-09-03 04:17] lengrongfu commented on #981
/assign

[2022-09-05 07:16] #976 closed

[2022-09-06 20:18] daviddale commented on #975
I believe you need to place the creds before the registry in your command.
ex:
crictl --debug pull --creds admin:xxxx registry.xx.xx/project/nginx:latest

[2022-09-08 07:33] seb-835 commented on #975
Thanks for help @daviddale  but unfortunately, it give same result :

[code]

[2022-09-09 05:19] changzhi1990 opened #984 "DeadlineExceeded error when creating pod with cri-dockerd"
#### What happened:
I try to use cri-dockerd as the runtime and use the crictl tool to create a pod. But the DeadlineExceeded error happens.

#### What you expected to happen:
The command `sudo crictl -D --runtime-endpoint unix:///var/run/cri-docker.zhi run container-config.json pod-config.json`
should works fine.

#### How to reproduce it (as minimally and precisely as possible):
1. Start the cri

[2022-09-10 17:04] afbjorklund commented on #984
Possibly more related to:

* https://github.com/Mirantis/cri-dockerd/issues/105

[2022-09-10 17:09] afbjorklund commented on #981
When using [systemd](https://github.com/containerd/containerd/blob/main/containerd.service), it uses `/run/containerd/containerd.sock`.

And then `/var/run` is set up as as just symbolic link to `/run`...

So it doesn't _need_ the legacy `/var` location, like docker did ?

`runtime-endpoint: unix:///run/containerd/containerd.sock`

[2022-09-10 17:10] afbjorklund commented on #981
Note that all default endpoints are deprecated anyway:

* https://github.com/kubernetes-sigs/cri-tools/issues/893

[2022-09-11 05:26] #981 closed

[2022-09-11 07:41] afbjorklund commented on #981
I missed your point about running containerd on **macos***

I didn't know that Mac nodes were supported, and don't know where the socket "should" be stored on that platform... If the issue is about better support for Darwin, then you can disregard my comments about systemd.

[2022-09-18 23:17] gpahlevanzadeh commented on #153
I have the given error, Where I can set runtime-endpoint and image-endpoint?

[2022-09-19 15:01] #966 closed

[2022-09-21 08:49] vedkumar-gupta commented on #578
after commenting cri plugins , issue is now resolved.
Thanks

[2022-09-22 16:24] yangkaa opened #991 "Unable to read the configuration of the container created by dockershim.sock"
#### What happened:

I have a version 1.19 K8s cluster whose default running endpoint is dockershim.sock. When I use the crictl command to view container details, I can't get container args, environment variables, and so on. I did the following:
1. Get container list
[code]
- Output:
[code]
2. View container information
[code]
- Output:
[code]

#### What you expected to happen:
I want to be able t

[2022-09-23 23:24] SergeyKanzhelev commented on #893
I think it will be very hard to deprecate this behavior any time soon. I'd suggest we close this issue for now and re-open if decide to do it.

/close

[2022-09-23 23:24] #893 closed

[2022-09-24 06:25] afbjorklund commented on #893
@SergeyKanzhelev if you require that it is set up for `kubeadm` in a future release, instead of using `-r` parameters like today, then you don't need this kind of workarounds/shims ?

It already checks for the program, so it could also verify the configuration. It is only "new" for the docker users, the other runtimes have already configured a socket for a _long_ time ?

[2022-09-24 07:02] afbjorklund commented on #991
The container inspect will just pass on whatever the runtime is provided, and docker doesn't _have_ that info.

Any new fields needs to be added to the CRI implementation for the runtime, in this case it is `cri-dockerd`

But for ancient versions like 1.19, I don't think there will be any modifications.

If you are feeling adventurous you can can try using docker-containerd to get it ?

`sudo ctr

[2022-09-24 20:00] afbjorklund commented on #991
[code]

### Info

containerd (v1.6.8)

[code]

cri-o (v1.25.0)

[code]

cri-dockerd (v0.2.5)

[code]

https://pkg.go.dev/github.com/docker/docker@v20.10.18+incompatible/api/types#ContainerJSON

The Config is a different type though, so it would have to be converted/created to a CRI Config

[2022-09-24 20:46] afbjorklund commented on #991
* https://github.com/Mirantis/cri-dockerd/pull/119

[2022-09-25 11:41] yangkaa commented on #991
Thank you very much for your answer. It seems that when I run using containerd as a container, the container it creates should be able to get `info` information?

[2022-09-25 13:57] afbjorklund commented on #991
They should all be able to get _some_ kind of "info", but the contents varies between the three runtimes...

With the patch above (cri-dockerd v0.2.6), then at least the sandboxId and Pid is common to all of them.

https://pkg.go.dev/k8s.io/cri-api@v0.25.2/pkg/apis/runtime/v1#ContainerStatusResponse

_"The information could include anything useful for debug, e.g. pid for linux container based cont

[2022-09-25 14:12] afbjorklund commented on #991
The normal response when talking with crictl to the containerd endpoint of docker, is just a:

[code]

This is because the cri plugin is disabled by default, when running as a subsystem of docker...

[code]

So it would need to use the `ctr` client instead, when talking to docker.

Some versions also use `/run/docker/containerd/containerd.sock`

When Kubernetes uses containerd directly, the CRI pl

[2022-09-25 14:20] afbjorklund commented on #991
@yangkaa what do you _expect_ to be available, in the "info" field ?

i.e. when comparing `sudo crictl inspect` and `docker inspect`

The RuntimeSpec seems to be suggested, not sure if `Spec` is saved...

From what I can tell, it is just created and passed on - but not retained.

[2022-09-26 03:31] yangkaa commented on #991
I just want to get the environment variables, and I need to do some log collection through the environment variables.

Because the target to send the log is defined in the environment variable. After my attempt, in v1.24.4+k3s1, when using containerd as a container, `crictl inspect xxxx` can get the corresponding environment variables.

So I couldn't get the environment variable before,  as you sa

[2022-09-26 06:48] messiah10 opened #992 "Any plans to support container commit commands?"
Any plans to support container commit commands?

like
docker commit or nerdctl commit

[2022-09-26 22:33] SergeyKanzhelev commented on #893
I realize it is configured in many cases. I just think that breaking even a few customers is unnecessary. This fallback logic is not too complicated to maintain. Even this page still suggests that fallback option exists: https://kubernetes.io/docs/tasks/debug/debug-cluster/crictl/#general-usage

[2022-09-27 06:35] yangkaa commented on #991
@afbjorklund thanks

[2022-09-27 06:35] #991 closed

[2022-09-27 06:54] afbjorklund commented on #991
The environment is readily available in the docker Config, so maybe this should just be dumped as-is ?

But I'm confused, since you say both 1.19 docker and 1.24 containerd at once

[2022-09-27 14:47] yangkaa commented on #991
They are two different clusters. At first, I wanted to collect the container runtime logs in a uniform way. The environment variable is a required parameter.

In version 1.19 of the cluster, I used the API provided by docker to get the environment variables of the container. Later, I want to use CRI to get environment variables directly, and it is also compatible with existing lower-version cluste

[2022-09-27 15:42] afbjorklund commented on #991
The CRI for docker (or cri-I) doesn't supply it (Env), but it could be added...

[2022-09-27 18:02] afbjorklund commented on #893
Last time I tried it, the fallback option was broken anyway. So the recommendation is _still_ to configure, before using `crictl`.

It tries the containerd socket (without cri plugin enabled), before trying the cri-docker socket.

[code]

It worked OK for dockershim, but fails for cri-dockerd after it was moved to the end of the fallbacks.

[2022-10-03 13:47] jacksgt commented on #950
The issue is still present and the root cause is not understood.

/remove-lifecycle stale

/lifecycle frozen

[2022-10-04 16:51] sgaist opened #996 "Read password from the command line when pulling images"
#### What would you like to be added:

Currently the pull command accepts username and password either using a based64 encoded auth string or the credentials put directly on the command line.

I would like to be able to pass the password without having to write it in some fashion that will store it on disk like, for example, in the shell history.

#### Why is this needed:

It would help avoid cred

[2022-10-05 06:37] saschagrunert commented on #996
Hey @sgaist, thank you for the request! How would it look like from an usage perspective ideally?

[2022-10-05 07:00] sgaist commented on #996
Hi @saschagrunert,

I am thinking about something along the line of:

1)
[code]
2)
[code]
3)
[code]

If interested I have implemented a basic working proof of concept that I can submit for discussion / review. Note that I don't have any experience with the go language so there will likely be room for improvement.

[2022-10-05 07:08] sgaist commented on #996
Sure thing !

That's what I did with my implementation:
- New flag for pull
- Reuse of the getAuth method
- Propagate similar changes to the container command so it also provides the same API
- Use of the "golang.org/x/term" package for password input

I'll do some cleanup and make a pull request in a few minutes.

[2022-10-06 06:01] lidh15 commented on #951
ok close it

[2022-10-06 06:01] #951 closed

[2022-10-06 06:22] saschagrunert commented on #951
Hey @lidh15, sorry for the late reply. Unfortunately this is not in scope of this project and we will not aim for CLI compatibility. We have a bunch of example in our CRI-O testdata: https://github.com/cri-o/cri-o/tree/main/test/testdata

The JSON format mainly maps to the CRI API: https://github.com/kubernetes/cri-api/blob/3af67d6e7a5160e066444dac2a62e6218d67066b/pkg/apis/runtime/v1/api.proto#L40

[2022-10-06 06:45] #996 closed

[2022-10-10 04:09] #934 closed

[2022-10-21 07:18] #960 closed

[2022-10-21 17:26] saidas3524 opened #1009 "Is there a way to get download vs extraction times when we run crictl pull?"
#### What would you like to be added:
I want to get the download and extraction times when crictl pull has run.
#### Why is this needed:
This helps the teams to understand which layer's download/extraction is taking longer and can bring in efficiencies approapriately.

[2022-10-21 18:49] haircommander commented on #1009
the CRI doesn't currently expose any "progress" or show anything other than "pulling...pulled". the individual CRI implementations may expose more though. CRI-O, for instance, has a metric that shows the time each layer is taking to be pulled. it has high cardinality, but should work well for your case. I am not sure if we expose anything about image extraction time, though I expect most of the ti

[2022-10-22 18:23] #928 closed

[2022-10-23 15:06] afbjorklund commented on #1009
Seems to have been suggested before, but not implemented:

* https://github.com/kubernetes-sigs/cri-tools/issues/413

Dating back for quite some time, and was once KEP-1338:

* https://github.com/kubernetes/kubernetes/issues/19077

* https://github.com/kubernetes/enhancements/pull/1338

[2022-10-23 15:16] afbjorklund commented on #1009
For docker it is dumped in the cri-docker.service logs, but only occasionally (every 10 seconds):

[code]

[2022-10-23 18:58] afbjorklund commented on #1009
There doesn't seem to be any progress update from cri-containerd

[2022-10-26 11:42] gosavip commented on #710
Facing an same issue with new version of Ubuntu 22.04 and k8s - 1.24.7 with command : kubeadm config images pull and register: pre_pull_kube_images

[2022-10-27 14:50] Jenkins-J opened #1014 "Accept detach sequence for attached containers"
#### What would you like to be added:

This is the continuation of a feature request that was made in the [containerd](https://github.com/containerd/containerd) project.

When running `crictl attach -i -t`, there should be a way to detach from the session without ending the process.
Docker provides a way to detach from an attached container, using a specified key sequence [(the default key sequenc

[2022-10-31 15:34] afbjorklund commented on #1009
It should be possible for the CR to provide metrics "afterwards", even if not being able to show progress "during"

All of the KEP so far seem to be focused on the progress bars, which are similar but not identical to the metrics

[2022-10-31 15:50] afbjorklund commented on #1009
Maybe both are needed ? Or it could be an extension of the existing ones

Would be interesting to have this in place, when the new storage arrives...

[2022-11-01 22:23] pranayn commented on #710
are you able to resolve it with the above steps?

[2022-11-04 18:06] gosavip commented on #710
No not yet if i am installing with above then it is failing while install
flannel पोड network issue .

Where it was failed either unavailable service or host or pods not
reachable.

I am doing vai vagrant vm + ansible palybook. For k8s 1.24.7 as 1.23.* is
going to en in feb-mar-2823

Thanks & Regards
Pankaj Gosavi

On Wed 2 Nov, 2022, 3:53 AM pranay chowdary, ***@***.***>
wrote:

[2022-11-04 18:08] gosavip commented on #710
Spelling mistake

On Fri 4 Nov, 2022, 11:36 PM Pankaj Gosavi, ***@***.***> wrote:

[2022-11-04 21:53] nickolaev commented on #710
From the comment at the end here https://computingforgeeks.com/install-kubernetes-cluster-ubuntu-jammy/

[code]

[2022-11-11 01:34] Nomiby opened #1025 "Is there a way to run containers with gpus?"
#### What would you like to be added:
I have gone through the proto file and not seeing any existing way for me to use gpus like docker. Want to have a way to specify gpus to use for running containers. Please let me know if there is a way that I am not aware of.

#### Why is this needed:
It's pretty useful to have a gpu support.

Thanks

[2022-11-11 14:28] haircommander commented on #1025
I think this is what CDI is for https://github.com/container-orchestrated-devices/container-device-interface
They can be passed to CRI implementations through annotations on the container

[2022-11-11 22:03] Nomiby commented on #1025
Thanks for sharing this. It seems like I need to put some extra configs here to use gpus. Let me take a look. Thanks.

[2022-11-13 08:30] gosavip commented on #710
Able to resolve by additional packages of k8s-cni minimal required version - 1.1.1-00

[2022-11-15 17:58] #1025 closed

[2022-11-15 18:28] Nomiby opened #1027 "Is there an easy way to set up network."
#### What would you like to be added:
Currently I am passing network configuration inside pod config like this.
https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1/api.proto#L280
I think NODE option is resemble to docker's HOST network option.

But if I pass in POD as the network to the pod.json config with CNI, is it then working the same way as bridge network?

Thanks.

#### Wh

[2022-11-15 18:41] #1027 closed

[2022-11-16 04:44] vaibhav2107 commented on #898
/remove-lifecycle rotten

[2022-11-16 22:52] pmengelbert commented on #964
Related to this, an image with no associated `repoTags` cannot be removed by imageID:

[code]

[2022-11-17 07:37] afbjorklund commented on #964
Seeing the same thing:

`Inspected image ID sha256:36633b450fe349591edbd9952536b253f17a352cb0663541640ca45173626869 does not match image sha256:36633b450fe349591edbd9952536b253f17a352cb0663541640ca45173626869`

[2022-11-22 05:25] vaibhav2107 commented on #943
/remove-lifecycle rotten

[2022-11-23 12:50] vaibhav2107 commented on #870
/remove-lifecycle stale

[2022-11-24 05:21] borch84 opened #1029 "critest fails runtime should support port mapping with host port and container port"
Hello, I am running the critest in my KVM virtual machine:

`sudo critest -runtime-endpoint unix:///run/containerd/containerd.sock`

But the test is failing

[code]

I am using CNI plugins v1.1.1 installed under /opt/cni/bin
crictl is version 1.25,0

[code]

I have configured these plugins:

[code]
I am running the critest in my linux KVM virtual machine configured with bridged adapter at the host